[2018-02-16 17:24] mariobehling commented on #134
Please avoid asking for each issue if it is still valid. This is a mini-project that is always valid. Surely, we need people who set up more loklak peers.

[2018-02-17 04:33] zamhaq commented on #173
@mariobehling I want to work on this during gsoc. One doubt, this editor can be web based, right?

[2018-02-17 04:39] anshumanv commented on #173
@zamhaq I think it was done last year - https://github.com/fossasia/susi_skill_cms nonetheless I think it was not completed, so we can improve and complete it!

[2018-02-17 05:09] zamhaq commented on #173
@anshumanv cool. Thanks for the info.

[2018-02-17 07:56] mariobehling commented on #173
This is ongoing work. We need developers to work on this.

[2018-02-17 08:09] priyankark commented on #173
@mariobehling Would be interested in working on this for GSOC . I am a beginner ...how do you suggest I start? Also I have developed a few Alexa skills and now their editor is really good with the recent update of their UI (February 15, 2018). Could consider gaining some ideas for features from that too.

[2018-02-17 08:23] priyankark commented on #173
@anshumanv Thank you!

[2018-02-17 11:36] PulkitMishra commented on #262
Hi @0x48piraj , I have made the required changes. Please check.

[2018-02-17 11:51] 0x48piraj commented on #262
Pardon me, but where to check @PulkitMishra  ?

[2018-02-17 12:54] PulkitMishra commented on #262
@0x48piraj Please check the pull request that I created : https://github.com/fossasia/labs.fossasia.org/pulls

[2018-02-17 13:01] 0x48piraj commented on #262
@PulkitMishra
Got it! However, Please give the exact Pull Request link in future. :+1:
Also, Link the Issue in your PR you solved :+1:

[2018-02-17 13:02] Akarsh-TS commented on #197
I have the exact knowledge of how the Google Search Appliance works and the system architecture of Google search, So if I can get assistance I would love to work on this project

[2018-02-17 13:35] PulkitMishra commented on #262
@0x48piraj Noted. Thanks.

[2018-02-17 21:08] mariobehling commented on #197
@Akarsh-TS Ok, great! First steps are to start the work in your own repository and show us some initial ideas, issues and mockups.

[2018-02-21 00:48] nohadrweesh commented on #182
Hi @mariobehling  I'd like to ask if this project is available for gsoc18? and if yes ,could you please tell me which functionality to start with

[2018-02-21 14:35] vaibhavsingh97 opened #268 "Build a bot for FOSSASIA"
As FOSSASIA community is growing and so as projects, We need bots to automate some of the process so developers and maintainers can focus on developing the projects. Right now, we have one bot which is enabled in some of the projects and can do basic task like adding labels, etc.
We can have bots which can do following:

1. Helping new contributors who joins FOSSASIA
     - [ ] Respond to user bas

[2018-02-21 20:02] vaibhavsingh97 commented on #268
@mariobehling Is this can be a part of GSOC? Can i send proposal for the same 😄

[2018-02-21 23:17] mariobehling commented on #268
This is not mature enough to be a GSoC project. Our focus for GSoC is Open Event, SUSI.AI, PSLab, Meilix, Susper.

[2018-02-22 17:20] Nishchay-sopho commented on #208
@mariobehling I would like on this idea for GSOC 2018.

[2018-02-23 05:01] #262 closed

[2018-02-23 05:02] mariobehling commented on #266
This issue should go into the badgeyay repository.

[2018-02-23 05:02] #266 closed

[2018-02-23 05:03] mariobehling commented on #265
Seems to work for me.

[2018-02-23 05:03] #265 closed

[2018-02-23 05:03] #261 closed

[2018-02-23 21:05] 0x48piraj commented on #261
Ping @niccokunzmann

[2018-02-24 09:26] nikramakrishnan commented on #194
Is this only a server side project, or does it require making changes in the Android App?

[2018-02-24 11:08] mariobehling commented on #194
The major part is on the server side. The lesser part is on the apps. As there are many applicants for Android projects usually, the chance to get into GSoC for server side projects could be higher.

[2018-02-24 11:13] nikramakrishnan commented on #194
@mariobehling Great! I asked because I had an intention of contributing to server-side, rather than Android development. I'm interested. Is this in the scope of GSoC '18?

[2018-02-24 14:13] anshumanv commented on #194
@nikramakrishnan yes, it's in the scope, you can start contributing early to ease your work at the end.
Good luck! :smile:

[2018-02-25 09:54] tirth97 commented on #193
Hi, @MLPJ @mariobehling
I was also interested in this project, is there any way I can contribute to it?

[2018-02-25 10:09] tirth97 commented on #179
@mariobehling I would like to work on this Project for GSOC. I have some past experience in Information Retrieval models from my previous internships.

[2018-02-25 14:07] nikramakrishnan commented on #194
Can anyone explain what is `settings control` here exactly means?

[2018-02-25 18:07] stealthanthrax commented on #268
@vaibhavsingh97 , can we use hubot for this issue?

[2018-02-25 22:33] debasree88 commented on #192
My name is Debasree and I m interested on working on this project in gsoc 2018.. my skill is android.

[2018-02-25 22:36] debasree88 commented on #185
I m interested to work on it in gsoc 2k18 but  is it still active

[2018-02-28 05:33] ssirowa commented on #200
@mariobehling Sir, I would like to take up this project for GSoC 2018. Can you please help me get started?

[2018-02-28 06:46] ssirowa commented on #198
@mariobehling  @djmgit  I would like to work on this during GSoC. Can you help me in getting started?

[2018-02-28 12:37] 0x48piraj commented on #136
Any updates @singhpratyush ?

[2018-02-28 12:42] 0x48piraj commented on #214
I found this very interesting.
I went through the `susi_linux` and found the Roadmap and it says "Offline Voice Detection (if possible with satisfactory results)

I can do that, pretty easily. Can I ? or I should leave it for GsOc'ers? @anshumanv @mariobehling
"

[2018-02-28 12:45] singhpratyush commented on #136
This was implemented by @kavithaenair during GSoC 2017.

@mariobehling: This issue can be closed now.

[2018-02-28 20:39] #136 closed

[2018-03-01 14:02] sk9331657 commented on #227
@mariobehling I have gone through the draft and I think it needs improvement. Can I work on it??

[2018-03-01 14:26] mariobehling commented on #227
There is no need to ask me. Just go ahead.

[2018-03-01 17:26] rishiraj824 commented on #198
@ssirowa Start cloning the projects and get familiar with the APIs. Participate in the issue trackers and contribute to the projects.

[2018-03-02 07:28] sk9331657 commented on #210
@mariobehling  Is this Project Open for improvements?? What other improvements needs to be implemented??

[2018-03-02 08:44] anshumanv commented on #210
@sk9331657 the project is here - https://github.com/fossasia/yaydoc you can check it out yourself and propose improvements that you think can be implemented.

[2018-03-02 08:46] sk9331657 commented on #210
@anshumanv I want to ask about particular improvements to be made as it is mentioned in issues.

[2018-03-04 16:10] PrP-11 opened #269 "links under heading fossasia projects are are not positioned correctly"
link of fossasia github repository is not placed correctly.

![labs](https://user-images.githubusercontent.com/30981465/36947606-7251df4a-1ff4-11e8-863a-c716e1a8bdd1.png)

[2018-03-05 11:26] mariobehling commented on #247
@Vivek1012 Thanks! This probably works, but it is not solving the issue.

What we really need in this issue is: Fix the buttons with Elementor in Wordpress and we need the information how to do this.

[2018-03-06 15:05] DNS-404 commented on #194
@mariobehling @anshumanv Can I add login through Google, Facebook, GitHub etc to SUSI web application using Firebase as part of GSoC '18? How should I proceed? 😅

[2018-03-06 16:08] anshumanv commented on #194
Idea is cool, but I don't think that's comprehensive enough for a GSoC project, in particular, we need work done on the server side for this IMO, but sure we can have auth through 3rd party services like fb, twitter, github.

[2018-03-07 05:07] #269 closed

[2018-03-07 16:27] adi020897 commented on #198
I would like to work on this in GSoC how should I go about it?

[2018-03-08 14:22] S2606 opened #271 "Transition of Open-Event Server Architecture from REST to GraphQL"
One of the projects include adding the organizer feature for Open-Event Server. This might make the whole API bit clumsy. So maybe we could change the core of the backend server from REST to GraphQl? As we know [GraphQl](http://graphql.org/learn/) looks something like this
[code]
This much information we can receive just by one query thereby reducing the network requests.
Plus GraphQL also has adv

[2018-03-10 18:24] tirth97 commented on #179
@mariobehling a doubt about the project:
The machine learning capabilities are to be implemented by importing SUSI.AI functionalities into open event or to be used to optimize searching for the open event?

[2018-03-11 16:26] tirth97 commented on #166
@mariobehling  Is this issue fixed or can I take it up as a GSOC proposal. I had a few AI algorithms in mind if the project is to be implemented based on most relevant information.

[2018-03-11 17:29] AliAyub007 opened #272 "Monitoring SUSI.AI Chatbots"
There should be a service to monitor all SUSI.AI bots in one place that either they are active or not.As there are bots for many platforms and in order to provide non stop service all the bots should be active all the time. Checking the bots individually is hectic process and time consuming.

[2018-03-11 18:42] Kreijstal commented on #135
A small script containing automating some of the issues here, as a sketch
[code]

[2018-03-12 02:00] DravitLochan opened #273 "Auto deployment for SUSI.AI on Google cloud"
Google cloud gives $300 credits at the time of sign up. Write a script which automatically deploys development branch by contributors on Google cloud with kubernetes so that functionality of a pull request can be verified.

[2018-03-12 04:07] mariobehling commented on #166
Please start contributing to learn more about the details of the project. Contributing to a project will give you a good chance to become a GSoC student.

[2018-03-12 07:28] stealthanthrax commented on #223
@mariobehling @anshumanv @Orbiter ,are we planning to create just a dashboard and use a third party API like chartJS or build that too??

[2018-03-12 07:35] SaptakS commented on #271
@S2606 you are right on point. But I think our use case is a little different where GraphQl might not actually improve the functioning as of now. Let me explain a little.
* The basic structure of GraphQl comes handy when the number of authors and comments and posts interacting with each other a lot. Right now that isn't exactly the case with our system. Our system has independent requirements for

[2018-03-12 07:37] S2606 commented on #271
@SaptakS Thank you for your response.I just had a doubt.What is the difference between open-event-server and open-event-legacy?

[2018-03-12 07:39] SaptakS commented on #271
@S2606 open-event-legacy is the code which is in production right now. But the current work is going on in open-event-server. As soon as open-event-server is beta ready, we will start migrating to the new code and move away from the legacy code.

[2018-03-12 11:39] Manveer695 opened #274 "Open SUSI.AI bots from https://chat.susi.ai/"
Commands like "Open SUSI.AI FB bot" or "Open SUSI.AI Twitter bot" should open up the bot profile in that respective messenger platform in a new tab, if operating from desktop. If operating SUSI.AI from the app on mobile, then it should ask to open bot profile in browser or in the respective messenger app.

[2018-03-12 13:34] vipuldcoder opened #275 "Change of Link in Idea Page of GSOC"
Before going through each line First Check this link:
 https://labs.fossasia.org/ideas.html#232506323
Now In this there are link issue to the document for Amazon Echo on Wikipedia and Google Home on Wikipedia. The link is not update and also not clear. It's a Bad Title. Change It.

[2018-03-15 05:21] vaibhavsingh97 commented on #172
@mariobehling @Orbiter I would like to work on this 😄
Would love to share my approach to implement teaching mode.

[2018-03-15 09:52] meets2tarun opened #277 "The Meilix road block project"
Maturate Meilix into a modern usable desktop environment ready to deploy. Minimum achievement would be full 64 bit transition and solving other major issues. Desirable knowledge is experience with Debian packaging and the system boot process, It would be great if you have LPIC certification or equivalent skill level, experience with LinuxFromScratch and shell scripting. If you show the ability to

[2018-03-15 09:52] meets2tarun opened #278 "Conversational Desktop Concept based on SUSI.AI"
A new Meilix desktop concept based on deep conversational features integration.

Right now Linux Desktops do not provide conversational features as Windows or Mac OS X. Susi.Desktop adds those features to LXQt and possibly other Linux desktops. Minimum achievement of the project would be feature parity with the current device specific options of competitors and the provision of deep desktop integr

[2018-03-15 09:53] meets2tarun opened #279 "Configurations for Programming Events"
When we have programming workshops, it is hard to setup each computer with the same software. It would be nice to have a live image with the pre-installed software ready to use. This may include MIT App Inventor, an Android development environment, Visual Studio Code, git and more. It should be possible to choose this software from a menu. Also, since the live image changes will be removed, some p

[2018-03-15 10:08] vaibhavsingh97 commented on #279
Hi! I would love to work on this and if I am not wrong than I have to make one iso which is ready to use when used live

[2018-03-15 10:55] bhaveshAn commented on #153
@SaptakS
If I am getting wrong then please correct.

[2018-03-15 11:01] bhaveshAn commented on #179
I am interested to work on this using python packages.
@SaptakS @shubham-padia @niranjan94 Can you Please help me get the exact idea what we'll be doing in this.
For search I am well versed with Query-Server https://github.com/fossasia/query-server/commits?author=bhaveshAn

[2018-03-15 11:23] mariobehling commented on #153
It is not working continuously and we need someone to work on this for version two and ensure it works.

[2018-03-15 13:47] AnupKumarPanwar commented on #223
@mariobehling I've gone through the [](http://www.botimize.io/) demo. I would love to work on this analytical tool for SUSI. More specifically on the server side.

[2018-03-15 17:31] harsh-jindal commented on #192
@mariobehling @anshumanv Can I work on this for GSOC 2018 ? I know javascript and have basic idea of SQL.

[2018-03-15 18:00] DipanshKhandelwal commented on #194
@anshumanv so firebase is not needed? And we have to use 3rd party API's right?

[2018-03-15 20:36] PrP-11 commented on #189
@mariobehling @anshumanv I want to work on this issue and #194 for GSOC '18 but I don't know how to proceed and can you explain more about what type of encrypted API access is required , is it Nodejs token authentication or something else and which technologies we will be using for this project and how to proceed ?

[2018-03-15 22:31] ssirowa commented on #279
@meets2tarun, I'm a Computer Science and Engineering Student at Indian Institute of Technology. I would like to work on this during GSoC. Can you help me get started.

[2018-03-15 22:31] ssirowa commented on #278
@meets2tarun, I'm a Computer Science and Engineering Student at Indian Institute of Technology. I would like to work on this during GSoC. Can you help me get started.

[2018-03-15 22:34] ssirowa commented on #277
@meets2tarun, I'm a Computer Science and Engineering Student at Indian Institute of Technology. I would like to work on this during GSoC. Can you help me get started. I can learn all the required stuff mentioned above before the coding officially starts.

[2018-03-15 22:36] ssirowa commented on #208
@mariobehling , I'm a Computer Science and Engineering Student at Indian Institute of Technology. I would like to work on this during GSoC. Can you help me get started.

[2018-03-15 22:38] ssirowa commented on #193
@mariobehling , I'm a Computer Science and Engineering Student at Indian Institute of Technology. I would like to work on this during GSoC. Can you help me get started.

[2018-03-15 22:40] ssirowa commented on #181
@mariobehling , I'm a Computer Science and Engineering Student at Indian Institute of Technology. I would like to work on this during GSoC. Can you help me get started.

[2018-03-15 22:43] ssirowa commented on #151
@mariobehling , I'm a Computer Science and Engineering Student at Indian Institute of Technology. I would like to work on this during GSoC. Can you help me get started.

[2018-03-15 22:47] ssirowa commented on #184
@mariobehling , I'm a Computer Science and Engineering Student at Indian Institute of Technology. I would like to work on this during GSoC. Can you help me get started.

[2018-03-15 22:49] ssirowa commented on #178
@meets2tarun, I'm a Computer Science and Engineering Student at Indian Institute of Technology. I would like to work on this during GSoC. Can you help me get started.

[2018-03-15 22:49] ssirowa commented on #153
@meets2tarun, I'm a Computer Science and Engineering Student at Indian Institute of Technology. I would like to work on this during GSoC. Can you help me get started.

[2018-03-15 22:50] ssirowa commented on #153
@mariobehling , I'm a Computer Science and Engineering Student at Indian Institute of Technology. I would like to work on this during GSoC. Can you help me get started.

[2018-03-16 04:38] xeon-zolt opened #280 "Implementing advance Features into Meilix Generator"
The aim of this project is to get the autonomous system for the generation of live images of Meilix for plug and play use with the user specific settings

Goals of the Project

- [x]  Generate a ISO using the latest Release of project meilix

- [ ]  Modify default wallpaper

- [ ]  Add and remove apps from the live build using meilix generator

- [ ] Ability to choose the configuration for the DE

[2018-03-16 04:44] yashLadha commented on #280
@xeon-zold I am intresetd to send a Patch for this during GSOC.

On Fri, Mar 16, 2018 at 10:09 AM, Harsh Lathwal <notifications@github.com>
wrote:

[2018-03-16 07:27] 94151 commented on #152
@mariobehling I want to work on this issue. can you please provide me more details regarding this issue?

[2018-03-16 07:45] 94151 commented on #197
@mariobehling I am good to design front end. And also I read about search appliance. if i would get assistance I will definitely work on this.

[2018-03-16 12:17] 94151 commented on #218
Few mockups for of Jugaadfest logo here

![7c81a8e2-ac41-407e-b1db-15406635a3d0](https://user-images.githubusercontent.com/17044000/37520153-f9932c1a-2941-11e8-94cf-d7bce14c80ca.png)
![8b2983f6-b81d-4886-bd07-28599420b9e7](https://user-images.githubusercontent.com/17044000/37520155-fa0e80cc-2941-11e8-9cf6-dd48a6dfc9a7.png)
![3330619d-a5fd-4b12-b0f3-562e0d6f8ba8](https://user-images.githubuserconte

[2018-03-16 13:44] Aakash-DD commented on #176
Is this issue still open?
i want to work on this

[2018-03-16 18:54] TheDreamSaver commented on #198
Hi, I would like to work on the SUSI Alexa skill for GSoC. How can I start with it?

[2018-03-16 20:22] Manveer695 commented on #198
@Ashish Jha Hi, you can clone the repo susi_alexa_skill. The skill was made
using aws lambda function. You can check the code and documentation from
the repo. Best of luck.

On Mar 17, 2018 00:24, "Ashish Jha" <notifications@github.com> wrote:

[2018-03-16 20:25] Manveer695 commented on #198
Also, I have tried to explain it through this blog post -
https://blog.fossasia.org/integration-of-susi-ai-to-alexa/ . It can prove
to be of great help. Cheers!

On Mar 17, 2018 01:52, "Manveer Singh" <singhmanveer1995@gmail.com> wrote:

[2018-03-17 06:20] TheDreamSaver commented on #198
I referred to the code but it is using Amazon Literal Slot which is no longer supported in different English locales.
So now we cannot send direct queries which we receive as the user input. Rather we have to map all sorts of different intents to the different use cases for the bot.
So is there any list of use cases one may use the susi alexa skill for?

[2018-03-17 11:28] Donyme commented on #214
Here, offline voice detection , since we aint be able to use google speech api or ibm watson api, do we need to build the STT from scratch?

[2018-03-18 12:46] tabesin commented on #278
@ssirowa Cool, please develop your concept using the https://docs.google.com/document/d/1E4kNgrOSw64R2IAG45JSIgQL9Yxia-mG2dqlRcrUo-U/edit# guidelines and join the https://gitter.im/fossasia/meilix channel.

[2018-03-18 13:21] meets2tarun commented on #277
Yes thanks @ssirowa, Welcome to the project.
The project is basically to get the 64 bit of Meilix which is now 32 bit version.

For Getting Started, go through readme and try to deploy meilix into your system locally and test out the feature of the ISO.

[2018-03-18 13:41] meets2tarun commented on #279
@vaibhavsingh97
Exactly but a little improvement,
 `Anyone can make an iso` which is ready to use when used live `with its own pre-configuration`

[2018-03-18 13:43] meets2tarun commented on #280
@yashLadha
Make sure to send your idea for review.

[2018-03-18 14:06] tabesin commented on #277
Here are the guides for GSOC proposals at fossasia https://docs.google.com/document/d/1E4kNgrOSw64R2IAG45JSIgQL9Yxia-mG2dqlRcrUo-U/edit#

[2018-03-18 18:19] mariobehling opened #281 "Make Badgeyay into Full Featured Solution for Events"
Badges are an essential items for conference. The Badgeyay project has developed rapidly over the last few months. The next step is to create a full featured solution that can compete with services like conferencebadge.com. Please compare Badgeyay to existing solutions, make a list of features and outline which features you could implement during GSoC. Also consider that Badgeyay could be used as

[2018-03-18 18:20] yashLadha commented on #281
@mariobehling I would like to create a proposal for the same.

On 18-Mar-2018 11:49 PM, "Mario Behling" <notifications@github.com> wrote:

[2018-03-18 18:21] yashLadha commented on #281
Can I add this project also in my proposal.

[2018-03-18 18:22] rupav commented on #281
@mariobehling , I will send a proposal for the same.

[2018-03-18 18:31] ParthS007 commented on #281
@mariobehling  Sharing the proposal for the same on mailing list :+1: .
Thanks for including Badgeyay as a GSoC project this year :tada:

[2018-03-18 18:37] vaibhavsingh97 commented on #281
@mariobehling I am also sharing the proposal for the same 😄

[2018-03-18 18:46] SudhanvaMG commented on #198
Hello, I would like to work on this .
Do we need to select the existing repos on these bot (like fb and twitter bots ) and work on improving them ?

[2018-03-18 19:50] sagar-kalra commented on #281
@mariobehling Already made the proposal regarding changes in UI and will add login and signup too.

[2018-03-18 19:56] hims1911 commented on #277
Hello , I'm CSE student and I want to apply for GSOC, can anyone tell me what are the skills required in these project ? Knowledge of Debian packaging and error handling is sufficient or I have to learn some other skills regarding these?

[2018-03-18 20:13] tabesin commented on #277
Hi! Look at the files in the meilix repo https://github.com/fossasia/meilix, in particular build.sh and chroot.sh. Everytime we submit a PR a new ISO gets generated on the travis ci server with these scripts. You find the LIVE-CD ISO image under "releases".

You could also fork the Meilix repository (master branch) and make a local checkout and run the build process on your machine.

Meilix is bas

[2018-03-19 01:31] mariobehling commented on #281
Ok, thanks for the feedback. We can definitely have several people working on the project. We need support for different sizes of badges etc. as well.

[2018-03-19 01:44] mariobehling commented on #197
Hope to see the applications of all of you. You can also base your application on existing issues. Basically we need developers who want to help getting the app running reliably. So, there is a lot to do to make this happen. So, good luck with your application!

[2018-03-19 01:45] mariobehling opened #282 "Improve the Android Science App for PSLab Experiments"
There are a number of experiments currently running with PSLab. These are written as desktop experiments in Python. The next phase of the project enables users to make use of their mobile phone. Please propose an architecture, that does not necessarily require a server and offers teachers and students a way to make full use of the PSLab architecture.

This tiny pocket lab provides an array of nece

[2018-03-19 01:45] mariobehling opened #283 "Enhance the firmware for PSLab"
For the PSLab project we need a completely Open firmware and hardware schematics. There are already schematics in pdf format. In order to progress to the next level of development these files need to be implemented in code and added to the repository.

Please create a list of features for the firmware and sample implementations for tests. Add your schematics to the PSLab repo and create a fully fu

[2018-03-19 01:46] mariobehling opened #284 "Create a Web Interface for PSLab"
Currently the PSLab can be accessed through a desktop platform and an Android platform. The desktop platform limits the device usage only to Linux based users and the Android platform limits the use of device to Android based users. In order to expand the use of device, a web platform will allow access to any user regardless whatever the platform he is in.

PSLab uses UART communication and the fi

[2018-03-19 01:46] mariobehling opened #285 "Develop Firmware for Wireless Connectivity"
The PSLab device has a breakout for an ESP8266 module. The wiring has already done to facilitate a UART-TCP bridge between the device and a computer over a wireless network. Once power is provided to PSLab it will initiate the bridge to connect to the computer.

This method will improve device usability as now the device is wireless. The idea requires adding necessary code to the existing firmware

[2018-03-19 01:47] mariobehling opened #286 "Develop an ESP8266 Web Server for PSLab"
The ESP8266(ESP-07) has a flash memory of 4 Mb. We can utilize this space to develop a light weight web browser using JS to develop a web server a user can access through a TCP-IP connection. The web layout needs to be developed using HTML and CSS. Once connected, user can access the device features through the rendered web interface by the web server in the ESP8266.

This implementation will enha

[2018-03-19 01:47] mariobehling opened #287 "Improve the PSLab-Remote Platform"
A virtual lab interface gives students remote access to equipment in laboratories via Internet without having to be physically present near the equipment. The idea is that lab experiments can be made accessible to a larger audience which may not have the resources to set up the experiment at their place. Another use-case scenario is that the experiment setup must be placed at a specific location w

[2018-03-19 02:33] gabru-md commented on #281
@mariobehling I've shared my proposal on gitter. Waiting for it to get reviewed and added it to the mailing list as well. :)

[2018-03-19 04:53] DipanshKhandelwal commented on #223
@mariobehling @anshumanv Is android app for analytics for SUSI.AI a good idea ?

[2018-03-19 04:55] anshumanv commented on #223
Certainly, we can have an android app for this, could help track analytics on-the-go.

[2018-03-19 10:31] akalanka95 commented on #197
We want to build the Susper Search Appliance with the performance like Google UI and the features are provided by the new Yacy framework.That's it.

[2018-03-20 08:33] Orbiter opened #288 "SUSI.AI Conversational Web - Plugin for Web Pages"
We currently have a web client for Susi, but this is not the right environment for the following use case:

Consider that you are running a web portal for your company, for a product or a service. You want to get in contact with your customer. To do so, you replace (a maybe existing) conventional "contact form" with a chat icon in a corner of your web page where you can chat with someone from the

[2018-03-20 09:06] prshntsingh commented on #288
@Orbiter What are the skills required for this project?Please help.

I have knowledge of Python, Javascript, Django and Reactjs.
Can I work on this project ?

[2018-03-20 09:50] tabesin commented on #279
Interesting, time to get started with your GSoc applications, 27 March is deadline

[2018-03-20 09:58] ojaswa1942 commented on #279
I would lile to work on this during GSoC. Can someone help me get started?

[2018-03-20 12:53] thisisayush commented on #284
Hi @mariobehling ,
I want to apply for GSoC 2018 under FOSSASIA, came across this project, the task includes developing a web application for PSLab. I have been working in Web Development for 2+ years and have worked on Python and Django for an year.
The project suggests creating NodeJs Application, however, I suggest creating the backend on Django (Python), so that the existing methods from pslab

[2018-03-20 13:43] tabesin commented on #279
First write a proposal like this
https://docs.google.com/document/d/1NgmmMJLIdo5gMWLfg2Uv_j3x_r9VM2qhKtlR8kBSk9Q/edit
and call for reviews on the mailing list.

You just need to follow the Fossasia guidelines and answer all the questions, here
https://docs.google.com/document/d/1E4kNgrOSw64R2IAG45JSIgQL9Yxia-mG2dqlRcrUo-U/edit#

And if you want to take this item feel free to reuse and adapt the te

[2018-03-20 14:04] DipanshKhandelwal commented on #223
@Orbiter What are your views on it?

[2018-03-20 19:56] przdev commented on #286
I am interested to implement this project for gsoc.
we can make it like [ubidots ](https://ubidots.com/). This will be helpful for users to configure and setup web server on ESP8266 that users can easily visualize sensor data. @mariobehling please suggest any things that we have to implement in web server and what tasks performed by this server.

[2018-03-20 20:21] przdev commented on #286
we can also give support to android app with api that deploy on ESP8266 that we can utilize memory on ESP8266. So we can also make api for web server.Any suggestion @mariobehling

[2018-03-21 01:27] Troy96 commented on #223
Greetings!

This project seems interesting to me. Please  guide me as to how should I approach the problem.

[2018-03-22 05:19] tushar-nitave commented on #197
@mariobehling I have checked front end and I think a lot of finishing needs to be done. I will be able to design the front end so that along with smoother performance it will be aesthetically appealing to users.

[2018-03-24 03:39] CosmicCoder96 opened #289 "Standalone Scheduler for events"
The scheduler available on eventyay is extensive and has applications in more areas other than Open Event. It can be offered as a standalone javascript based package, and can be used wherever the requirement for a scheduler is there.

[2018-03-25 18:26] agampreetsingh commented on #288
Hi @Orbiter  I would like to contribute on this issue. I have working my hands around with susi-server and I have tried making API calls from my own application with node.js.
I have also closely followed the issue [#198](https://github.com/fossasia/labs.fossasia.org/issues/198) and found a lot of similarity with working on the bot messages in the web-plugin and messages from other apps where the s

[2018-03-26 08:58] rameela20 commented on #286
I am interested to implement this project for Gsoc. @mariobehling the idea to access it without internet connection is ideal.

[2018-03-26 09:04] rameela20 commented on #285
@mariobehling I would like to implement this project for Gsoc. Always a fan of ESP8266. Any ideas on how I should contribute?

[2018-03-26 09:17] rameela20 commented on #284
Creating a Nodejs applications means we have to create REST APIs for each requests depending on the backend task specified right @mariobehling
So accessing a web service can be done through almost any platform nowadays.I am interested in this to be implemented as Gsoc project

[2018-03-26 09:29] rameela20 commented on #284
So should I implement REST API for all the functions currently done in android/desktop app? Any priorities? @mariobehling

[2018-03-26 12:14] przdev commented on #286
yes, @rameela20 this totally works offline.

[2018-03-27 09:22] psikarwal commented on #194
@DipanshKhandelwal, yes I think so. All API calls should be done by SUSI server on the behalf of user.

[2018-03-29 18:18] VaaibhaviSingh commented on #227
Hi @mariobehling, can I work on the draft?

[2018-04-09 07:57] rolandturner opened #290 "PSLab at 3GHz"
This is definitely a "future directions" item rather than a current feature. Mario has invited me to document it for discussion.

My interest in the PSLab or something like it is largely about amateur radio, both for:
- hands-on learning about analogue signal processing; and
- building/testing useful radios.

## Hands-on learning about analogue signal processing.

Most of a radio - whether transmi

[2018-04-14 18:57] pratiksinghchauhan commented on #268
Hi, I want to work on this project, I have earlier worked on several bots, can I use Dialogflow for this project or can you suggest me another framework to use?

[2018-04-25 18:13] mariobehling commented on #290
Relevant link: https://www.crowdsupply.com/lime-micro/limesdr

[2018-04-26 05:59] rolandturner commented on #290
Note that the LimeSDR is simply a "usable component" wrapper for the LMS7002M chip and might be considerable overkill for producing an RF-enabled PSLab. It may, for example, be feasible to produce useful instrument with the LMS7002M but without the FPGA present in the LimeSDR. This would significantly reduce the data rate and therefore bandwidth that the instrument could use, but would also likely

[2018-04-27 16:33] mariobehling opened #291 "Website: Update project links and add twitter and Facebook to all projects"
Most projects have twitter and Facebook pages. Please add them to labs.fossasia.org

[2018-04-27 17:08] akshatnitd commented on #291
I am working on it

[2018-05-01 16:26] shubham-padia commented on #271
Personally, for something of the scale of badgeyay, graphQL seems like overkill.

[2018-05-02 10:15] #291 closed

[2018-05-09 07:55] DNS-404 commented on #272
Hi! I'd like to work on this in GSoC '18. 😄
I’ll make a service(preferably a web app) that act as a centralised place to keep a check of all the SUSI AI Bots. It can include following features -

- Keep a track of which bots are offline and which are currently online. This can be done by sending a query to the bots whenever the user opens this web app. If a reply is received then it’ll show that t

[2018-05-21 15:48] prateekiiest commented on #194
Has there been any recent work on the server side till now?

[2018-05-21 17:14] mariobehling commented on #194
@prateekiiest This is a kind of parent issue. Please help to improve this in the susi server repo.

[2018-05-28 03:01] CodingWitcher commented on #193
I'm interested in this project, though I don't know where to start from...(to be honest, this is my first project on Github)... Could someone help me out here?

[2018-06-05 23:28] moulikcipherX commented on #268
Yeah, Sure I can also work on this project so can we have a team for this project. Or we have to work individually.

[2018-06-25 14:39] abishekvashok commented on #278
Hey quick info, theres a PPA in meilix already to host such packages as these

[2018-08-03 13:13] may55 commented on #268
Can I take this issue? Or If anyone working can I team up with you?

[2018-09-04 13:28] pandaanwesh33 commented on #268
Hello every one. I want to contribute to foss asia. I am a begineer in contributing to open source . I know c++. Can I contribute to this project . If no a little help will be highly appreciated.

[2018-09-04 14:17] wilsantow commented on #268
Do you mean a personalized chatbot?

On Tue, Sep 4, 2018, 6:58 PM Anwesh Panda <notifications@github.com> wrote:

[2018-09-24 13:18] rishav-pandey commented on #146
@mariobehling
is this issue still open??
Please kindly help me know about it's status.

[2018-10-08 10:07] Jitender46559 commented on #223
Hii @mariobehling can i contribute in this project.

[2018-10-30 14:09] saarthakchats opened #297 "Need to add Meilix Project to the Website"
Meilix Project is missing, should be added.

Working on it!

[2018-10-30 14:48] abishekvashok commented on #297
I am sorry to tell that we have it already under the name Linux.

[2018-10-30 16:06] saarthakchats commented on #297
Oh no, sorry then

[2018-10-30 16:07] saarthakchats commented on #297
@abishekvashok
Should I update the section with the image and links of meilix?

[2018-10-30 16:08] saarthakchats commented on #297
I could reframe my issue message or completely discard it. As you say @abishekvashok

[2018-10-31 12:04] abishekvashok commented on #297
Ping @mariobehling

[2018-11-01 01:51] Ryan10145 opened #299 "Links Are Not Aligned"
The links in the following sections are not lined up.

![screen shot 2018-10-31 at 9 49 22 pm](https://user-images.githubusercontent.com/8119928/47827949-0d4f6380-dd57-11e8-936d-92331632a84b.png)
![screen shot 2018-10-31 at 9 49 09 pm](https://user-images.githubusercontent.com/8119928/47827952-0fb1bd80-dd57-11e8-879f-724a5fa6c800.png)

I will work on this.

[2018-11-05 09:24] saarthakchats opened #301 "Lubuntu should be replaced with Meilix"
<img width="1364" alt="screenshot 2018-11-05 at 2 53 48 pm" src="https://user-images.githubusercontent.com/24372680/47989306-a2ad7780-e10a-11e8-9c57-c292d5ac9bba.png">

[2018-11-05 23:43] #299 closed

[2018-11-06 14:19] pythongiant opened #303 "Add SEO Meta Tags"
Add The following meta tags for SEO
- Apple
- Facebook
I would Like to work on this

[2018-11-06 15:16] pythongiant opened #306 "Update rvm version number"
update rvm version number in travis.yml

[2018-11-06 16:40] #306 closed

[2018-11-06 23:54] rpotter12 commented on #301
@saarthakchats yeah, you said right. Make a PR for this :)

[2018-11-07 12:34] DakshMiglani opened #309 "Add HomePage Image onto Meta Tag for Social Media Sharing."
Add HomePage Image onto Meta Tag for Social Media Sharing

[2018-11-08 05:31] Hackerbone opened #311 "Image not resized properly"
**Image is not properly resized as shown below:**

![screenshot 2018-11-08 at 10 58 37 am](https://user-images.githubusercontent.com/20267705/48179505-88131280-e345-11e8-982a-d6aa29767e77.png)

I would like to work on this Issue.

[2018-11-08 05:35] Hackerbone opened #312 "The FOSSASIA logo is not aligned Properly"
**The FOSSASIA logo is not aligned properly as shown below**

![screenshot 2018-11-08 at 11 03 41 am](https://user-images.githubusercontent.com/20267705/48179633-14bdd080-e346-11e8-9e41-6b89e0d45661.png)

I would like to work on this Issue :D

[2018-11-08 09:32] #301 closed

[2018-11-08 13:39] #297 closed

[2018-11-09 11:53] STEdirisuriya opened #313 "Menu dropdowns are overlapped!"
Part of the dropdown is not visible when it's changing the height of the window.
![image](https://user-images.githubusercontent.com/33794760/48260967-86c80f80-e443-11e8-898d-3f7630b365b2.png)
![image](https://user-images.githubusercontent.com/33794760/48261036-ab23ec00-e443-11e8-8b9d-189b169d319e.png)
![image](https://user-images.githubusercontent.com/33794760/48261062-c42c9d00-e443-11e8-8eeb-ec78

[2018-11-12 06:43] Hackerbone commented on #312
Can I be assigned to work on this?

[2018-11-12 13:42] STEdirisuriya commented on #313
- [ ] Add two columns to nav bar when it more items.
- [ ] Fix menu bar when resizing.
- [ ] Fix side bar.

[2018-11-12 18:09] KSNINJA opened #315 "GSoC section is not responsive"
# Issue
### The Google Summer Of Code Section shrinks and text hides in small screen devices .
### On a small screen device , the two rows of social media links in the footer comes very close , making it difficult for users to click on the correct link .

## Screenshot on small screen devices
![image](https://user-images.githubusercontent.com/26023139/48366474-0e2bb200-e6d4-11e8-9902-ac17abcbe665.

[2018-11-13 08:02] #315 closed

[2018-11-13 08:34] mariobehling opened #317 "Add and correct information for section "Open Event Attendee App" and add app image"
The new section "Open Event Attendee App" needs updated information and a photo.

[2018-11-13 08:40] mariobehling opened #318 "Add and correct information for section "SUSI.AI Android App" and add app image"
The new section "SUSI.AI Android App" needs correct info, links and app image. Please help to do it.

[2018-11-13 08:40] mariobehling opened #319 "Add and correct information for section "SUSI.AI iOS App" and add app image"
The new section "SUSI.AI iOS App" needs correct info, links and app image. Please help to do it.

[2018-11-13 08:46] mariobehling opened #320 "Add and correct information for section "PSLab Hardware" and add an image"
The new section "PSLab Hardware" needs correct info, links and app image. Please help to do it.

[2018-11-13 08:47] mariobehling opened #321 "Add and correct information for section "PSLab Hardware" and add app image"
The new section "PSLab Android App" needs correct info, links and app image. Please help to do it.

[2018-11-13 09:04] mariobehling opened #322 "Add and correct information for section "Neuro PSLab" and add app image"
The new section "Neur PSLab" needs correct info, links and app image. Please help to do it.

[2018-11-13 09:05] mariobehling opened #323 "Add and correct information for section "Neuroflight and add app image"
The new section "Neurflight" needs correct info, links and app image. Please help to do it.

[2018-11-13 09:53] mariobehling opened #324 "Change projects into an "overview" design like on codeheat.org"
Over time a lot of projects were added to FOSSASIA. It is a bit difficult to get a good grasp of projects. Therefore please change the project listing into an overview style similar to codeheat.org. Keep the icons on the bottom of each project.

![screenshot from 2018-11-13 10-52-07](https://user-images.githubusercontent.com/1583873/48405333-6396ac00-e732-11e8-8999-74d1a6838e3f.png)

[2018-11-14 04:10] akshit15013 commented on #312
Can I work in this issue ?

[2018-11-14 13:57] Sid911 commented on #324
Working on it, sir.

[2018-11-15 20:36] jogendra commented on #319
Anyone who is taking this issue can take this image for the background image for SUSI iOS. I designed this for SUSI iOS Readme. https://github.com/fossasia/susi_iOS/blob/f5c3aa937ceefe09d43d5645bb5ab0af1ae0f48a/docs/_static/susi_app_mask.png

[2018-11-17 07:56] #318 closed

[2018-11-17 16:54] Hackerbone opened #326 "There's an icon overlap when browser window is resized"
The navbar icons are getting shifted to the next line when the browser window is resized.

![screenshot 2018-11-17 at 10 14 39 pm](https://user-images.githubusercontent.com/20267705/48663468-9f28d180-eab6-11e8-806c-ffd2fad0d154.png)

There is some margin and padding issues too..

**Im working on this**

[2018-11-18 18:29] akshit15013 commented on #322
Can I work on this issue?

[2018-11-28 05:58] #323 closed

[2018-11-28 06:48] SIMRAN1 opened #328 "Replace githubusercontent image by adding image in repository"
Refer to PR https://github.com/fossasia/labs.fossasia.org/pull/327. Replace githubusercontent images by adding images in repository.

[2018-11-28 12:05] Hackerbone commented on #311
Umm sorry I am still working on this one..

[2018-11-29 16:42] parammittal16 commented on #321
@mariobehling can I do this?

[2018-11-30 12:07] aayusharora commented on #321
Hi @parammittal16 Please go ahead  :)

[2018-11-30 15:06] parammittal16 commented on #321
@mariobehling @aayusharora where can I find the info and images and other stuff ??

[2018-12-01 18:02] #319 closed

[2018-12-01 18:04] #320 closed

[2018-12-02 09:46] stephen1401 commented on #328
Can I work on it ?

[2018-12-02 12:02] SIMRAN1 commented on #328
Ya sure go ahead @stephen1401 !

[2018-12-05 00:48] #204 closed

[2018-12-05 08:53] shreeshjha opened #331 "Grammatical and Minor Issue(index.html)"
There are some minor problems like grammatical mistakes on the page.
And some links are not quite working properly.
FOSSASIA logo is not properly aligned.

[2018-12-05 08:55] shreeshjha commented on #331
And some links are not quite working properly.
FOSSASIA logo is not properly aligned.

[2018-12-05 09:08] #331 closed

[2018-12-08 13:19] niteshkumarniranjan opened #333 "Project Layout Alternation has been removed after "Open Event Web App Generator""
![screenshot from 2018-12-08 18-48-31](https://user-images.githubusercontent.com/20199181/49686395-e5071180-fb19-11e8-9a56-aff6e32686e4.png)

*Do you want to work*
Yes

[2018-12-09 06:10] mariobehling opened #335 "Implement top menu bar in the same way as on fossasia.org"
Please implement it exactly the same as on fossasia.org. Avoid scroll bars, ensure same top header, implement same effects.

Please ensure you use relative paths for links on the same domain.

[2018-12-09 07:01] mariobehling opened #336 "Add missing projects listed on frontpage to list on labs project section"
There are a number of projects listed on the front page fossasia.org. Please ensure all projects are listed here as well in the sections.

![screenshot from 2018-12-09 07-59-17](https://user-images.githubusercontent.com/1583873/49694326-95136380-fb88-11e8-9208-b90d3ad3f981.png)

[2018-12-17 09:30] jayantsudo24 commented on #336
Hello @mariobehling, to work on this can you confirm me is there any other projects associated with fossasia.org except these 16.

[2018-12-17 09:43] jayantsudo24 commented on #336
Hello mariobehling, to work on this may you confirm me that only these 16 projects from fossasia.org needed to be shown.

[2018-12-17 09:48] jayantsudo24 commented on #336
Hello @mariobehling, except these 16 projects from fossasia.org is there any other project needed to be listed.

[2018-12-22 06:41] Aishh2k opened #338 "Responsive Backtotop button absent"
The page does not have a backtotop button mid way the page

[2019-01-03 20:06] subhahu123 commented on #166
@mariobehling  i want to work on this issue

If i'm not wrong , u re saying that susper should have a toggle switch button on its nav bar to switch to another back end search engine other than yacy and apache solr ....
but these search engine (like yacy) is also depends on others like they use others api to find the results .
what does this means ( this issue )

[2019-01-03 20:13] subhahu123 commented on #166
@mariobehling  And what can be others backend servers like
 duckduckgo api (not completely accessible)
bing search api ( unlimited queries per day free)
yahoo ( basically depend on bing )

[2019-01-03 22:12] subhahu123 commented on #279
@meets2tarun @tabesin
If m not wrong u want live iso image or software which will create live iso image for us according our needs

[2019-01-04 10:38] meets2tarun commented on #279
Yes @subhahu123

[2019-01-04 16:12] subhahu123 commented on #279
Like melix generator which generate iso according to our requirement

On Fri, 4 Jan 2019, 16:08 Tarun Kumar, <notifications@github.com> wrote:

[2019-01-04 16:13] subhahu123 commented on #279
@meets2tarun  how can i convert a software into live software (which requires no installation )

[2019-01-04 16:16] subhahu123 commented on #279
is it about only for linux or all os

[2019-01-04 16:56] subhahu123 commented on #279
@meets2tarun  for this first , first we have to create a software which convert install only software to portable one or live software  Or  we are supposed to have a bunch of pre-maked portable software and we just have to make a tool to make iso for live run according to the requirement

[2019-01-05 18:04] subhahu123 commented on #199
@mariobehling  something like this
![screenshot from 2019-01-05 23-31-49](https://user-images.githubusercontent.com/34541684/50727551-78942800-1142-11e9-92a6-88c51e9dfd8a.png)

[2019-01-13 18:02] subhahu123 opened #340 "Create [Smail] a mail service both backend and frontend (web mail client) for susper like gmail"
## suggestion for gsoc project

- create a mail server like gmail for susper
  both backend and front end

[2019-01-13 18:02] subhahu123 commented on #340
@mariobehling please review

[2019-01-16 00:16] mariobehling opened #341 "Open Event: Roadmap for Server/Frontend and Mobile App Integrations"
Below is a list of to dos and missing features for the Open Event project. Going through the list could be helpful for any developer who is interested in joining the project as well as for students interested to participate in GSoC.

Repository Links: https://github.com/fossasia?utf8=✓&q=open+event

Website: https://eventyay.com

Eventyay Version 2 Backend: https://api.eventyay.com

Eventyay Versi

[2019-01-16 02:00] jishnujayakumar commented on #341
Hi, my name is Jishnu. I am from India.

I would like to work on

[1] Implementation of payment gateways in India, Google Wallet, Sofort Pay, Paylah, Wechat, Alipay.

[2] Add donation feature "pay what you want".

[2019-01-16 16:56] Dharmesh-Poddar commented on #341
@mariobehling I would like to work on Public pages and web generator or Administration Area

[2019-01-16 17:07] mariobehling commented on #341
Ok, this is great. Thank you for your interest! Anyone interested please start by joining the project and learn about the project by solving some bugs first for example. Once you are more familiar we will align on who would like to work on which area. Please choose your first issues at https://github.com/fossasia/open-event-frontend/issues. Happy coding!

[2019-01-20 10:02] muarachmann commented on #213
@mariobehling i am an open source enthusiast and contribute to Susi android app, and open event. I am interested in working on this. With guides of course thanks.

[2019-01-20 11:31] supreet11agrawal commented on #278
Hello @meets2tarun . I am quite interested in this idea. Can you please tell me about the work done in this area as I would like to take it further.

[2019-01-20 17:50] imrrahul commented on #341
@mariobehling  I would like to work on Startpage Sections and General UI. Thank you

[2019-01-20 21:56] muarachmann commented on #341
@mariobehling very good initiative to organize work for a new year.
Interested in this
Implement login/ticket buying process similar to other systems.
Enable ticket buying without login
 I will consider contributing. 👍 Happy coding to all

[2019-01-21 13:59] #303 closed

[2019-01-21 14:06] mariobehling commented on #311
This image is only a placeholder and should be changed with an image that is more relevant. So, the problem is more the image itself than the CSS. If you change the CSS don't change the style of the page, but only the image resizing. You can open a relevant issue, if you think you have another approach as written above. Thanks.

[2019-01-21 14:06] #311 closed

[2019-01-21 14:08] mariobehling commented on #338
This kind of style change should first be proposed in the fossasia.org repo. A more simple and less present button would probably be better. Thanks. I am closing this issue here therefore.

[2019-01-21 14:08] #338 closed

[2019-01-21 15:01] Aishh2k commented on #321
@mariobehling

[2019-01-25 10:30] supreet11agrawal commented on #278
@abishekvashok can u help?

[2019-01-26 19:09] mariobehling commented on #335
Please also implement submenus and ensure all links are the same as on fossasia.org.

[2019-01-27 14:02] mariobehling commented on #340
Out of scope currently. Therefore closing.

[2019-01-27 14:02] #340 closed

[2019-01-30 15:05] #151 closed

[2019-01-30 15:05] #153 closed

[2019-01-30 15:05] #166 closed

[2019-01-30 15:06] #152 closed

[2019-01-30 15:11] #172 closed

[2019-01-30 15:12] #134 closed

[2019-01-30 15:12] #137 closed

[2019-01-30 15:12] #143 closed

[2019-01-30 15:12] #198 closed

[2019-01-30 15:13] #155 closed

[2019-01-30 15:14] #173 closed

[2019-01-30 15:15] #174 closed

[2019-01-30 15:15] #175 closed

[2019-01-30 15:15] #176 closed

[2019-01-30 15:16] #177 closed

[2019-01-30 15:18] #178 closed

[2019-01-30 15:19] #179 closed

[2019-01-30 15:21] mariobehling opened #345 "Implement search and data services in the Open Event server application, enable automatic import of events and enhance event analytics"
The aim of this project is to develop Open Event into a one stop resource for events and a big data hub holding information on all kinds of events across the web.

To achieve this we need to implement search and big data services in the server application. Another part of this is to enable automatic import of events from other platforms and enhance event analytics.

The project will include to add

[2019-01-30 16:03] #180 closed

[2019-01-30 16:03] #181 closed

[2019-01-30 16:04] #182 closed

[2019-01-30 16:04] #184 closed

[2019-01-30 16:05] #187 closed

[2019-01-30 16:05] #188 closed

[2019-01-30 16:06] #189 closed

[2019-01-30 16:07] #191 closed

[2019-01-30 16:07] #192 closed

[2019-01-30 16:09] #333 closed

[2019-01-30 16:10] #289 closed

[2019-01-30 16:10] #194 closed

[2019-01-30 16:11] #195 closed

[2019-01-30 16:11] #196 closed

[2019-01-30 16:11] #193 closed

[2019-01-30 16:12] #190 closed

[2019-01-30 16:12] #271 closed

[2019-01-30 16:13] #268 closed

[2019-01-30 16:15] #227 closed

[2019-01-30 20:06] #275 closed

[2019-01-30 20:07] #213 closed

[2019-01-30 20:07] #215 closed

[2019-01-30 20:07] #216 closed

[2019-01-30 20:08] #273 closed

[2019-01-30 20:08] #274 closed

[2019-01-30 20:08] #272 closed

[2019-01-30 20:09] #223 closed

[2019-01-30 20:11] #288 closed

[2019-01-30 20:12] #214 closed

[2019-01-30 20:19] mariobehling opened #346 "Make top menu exactly as fossasia.org on all labs pages"
The top menu on labs.fossasia.org has a few issues. Please identify all issues and make the menu same as fossasia.org, e.g.:

- [x] link logo to fossasia.org
- [x] fix Google Code-In submenu
- [ ] Make top menu exactly like fossasia.org
- [ ] Add summit link

![screenshot from 2019-01-30 21-18-46](https://user-images.githubusercontent.com/1583873/52010020-ae73c480-24d4-11e9-975c-d9a43bf8ee8c.png)

[2019-01-30 20:25] mariobehling opened #347 "Add "ideas link" to projects menu item"
Link to "/ideas.html" in this repository.

![screenshot from 2019-01-30 21-24-36](https://user-images.githubusercontent.com/1583873/52010333-98b2cf00-24d5-11e9-9161-c1515313ddc3.png)

https://labs.fossasia.org/ideas.html

[2019-01-30 20:50] #210 closed

[2019-01-30 20:50] #202 closed

[2019-01-30 20:50] #207 closed

[2019-01-30 20:51] #217 closed

[2019-01-30 20:51] #282 closed

[2019-01-30 20:51] #284 closed

[2019-01-30 20:55] #335 closed

[2019-01-30 20:56] #321 closed

[2019-01-30 20:56] #322 closed

[2019-01-30 20:56] #309 closed

[2019-01-30 20:57] #277 closed

[2019-01-30 20:57] #197 closed

[2019-01-30 20:58] #199 closed

[2019-01-30 20:58] #200 closed

[2019-01-30 20:58] #201 closed

[2019-01-30 21:01] #247 closed

[2019-01-30 21:01] #205 closed

[2019-01-30 21:02] #208 closed

[2019-01-30 21:02] #324 closed

[2019-01-30 21:02] #317 closed

[2019-01-30 21:05] #280 closed

[2019-01-30 21:08] mariobehling opened #348 "Implement features to create versatile custom distributions using Meilix and Debian"
The aim of this project is to get the autonomous system for the generation of live images of Meilix for plug and play use with the user specific settings

**Features to be Implemented**

- Modify default wallpaper
- Add and remove apps from the live build using meilix generator
- Ability to choose the configuration for the DE (LXQT) like default theme , weather to keep notifications or not (https:

[2019-02-01 11:49] pramodk51 commented on #285
@mariobehling, I have internship experience in firmware development for ARM-Cortex M4 microcontroller
and I can contribute. I would like to discuss further.

[2019-02-02 23:19] Shreyanshnit19 commented on #346
First two issues have been resolved [here](https://github.com/fossasia/labs.fossasia.org/pull/350#issue-249843822)
Let me know if any issues
Thanks !

[2019-02-03 04:47] abishekvashok commented on #278
Please see the meilix repository

[2019-02-04 17:38] harsh-jindal commented on #341
Hi @mariobehling I'm Harsh from IIT Patna, India.
I would like to work on:
1. Login/Tickets
2. Roles

[2019-02-05 15:13] tabesin commented on #348
https://github.com/fossasia/meilix/issues/111 Review Default file associations with apps

[2019-02-09 00:40] mariobehling opened #351 "Implement a booking system for Badges"
Badges are currently generated in a limited number. Please implement the possibility to book more features and ways to generate more badges as a premium feature.

**Prerequisite Knowledge**

Flask, Python, EmberJS

**Possible Mentors**

Parth S, Manish, Yash Ladha, Mario Behling

**Repositories/Links**

Website: https://badgeyay.com
Git: https://github.com/fossasia/badgeyay

[2019-02-09 00:54] mariobehling opened #352 "SUSI.AI Smart Speaker: Implement Missing Integration, Voice and Other Features and Resolve Issues"
The SUSI.AI smart speaker Linux distribution is working with its basic features. Over recent months the team implemented auto-generation / Continuous Integration, which means SUSI.AI Linux ("Susibian") is now generated on each merged pull request and can be tested by the wider community.

The next step in the development is to support a wider set of features. These include:

Integration Features
*

[2019-02-09 06:38] sk9331657 commented on #351
@mariobehling I will like to work on this. Will mention the workflow for this in My Proposal. :smiley:

[2019-02-11 23:13] mariobehling opened #353 "Develop Neurolab features on Android"
The goal of the Neurolab project is to develop an easy to use open hardware measurement headset device for brain waves that can be plugged into an Android smartphone and a software application and enables us to understand our brains better.

Our brains communicate through neurotransmitters and their activity emits electricity. The neuroheadset measures that electricity on the skin of the forehead

[2019-02-11 23:14] mariobehling opened #354 "Develop Neurolab Firmware and OS packages"
The goal of the Neurolab project is to develop an easy to use open hardware measurement headset device for brain waves that can be plugged into an Android smartphone and a software application and enables us to understand our brains better.

Our brains communicate through neurotransmitters and their activity emits electricity. The neuroheadset measures that electricity on the skin of the forehead

[2019-02-11 23:19] mariobehling opened #355 "Implement UI controls for LED Name Badge Android App"
Badge Magic is an Android app to control LED name badges. The goal is to provide options to portray names, graphics and simple animations on LED badges. For the data transfer from the smartphone to the LED badge we use Bluetooth. The project is based on the work of Nilhcem.

The implementation in the Android app consists of manipulating bits. That may be tricky. A single bit error and nothing will

[2019-02-11 23:20] mariobehling opened #356 "Develop Badge Magic iOS app with Bluetooth Functionality"
Badge Magic is an Android app to control LED name badges. The goal is to provide options to portray names, graphics and simple animations on LED badges. For the data transfer from the smartphone to the LED badge we use Bluetooth. The project is based on the work of Nilhcem.

The implementation in the Android app consists of manipulating bits. That may be tricky. A single bit error and nothing will

[2019-02-12 23:43] mariobehling opened #357 "Add space below lists on website"
The space below lists is not following design, e.g. on the ideas list https://labs.fossasia.org/ideas.html

![screenshot from 2019-02-13 03-41-56](https://user-images.githubusercontent.com/1583873/52675825-7727fd80-2f41-11e9-8bb0-00920562a8e0.png)

[2019-02-12 23:45] sarthak247 commented on #357
@mariobehling I'm interested in doing this. Can you guide me from where should I start?

[2019-02-13 00:09] mariobehling opened #358 "Improve Voice Recognition and Audio Features of SUSI.AI Linux"
The SUSI.AI smart speaker Linux distribution needs improvements in regards to voice recognition. Please test the current state and outline ways for improvements you would like to work on. These
Audio/Voice Features can include:

* Implement a hotword library instead of using an external hotword
* Implement a SUSI.AI test training of the hotword when starting the device for the first time and imple

[2019-02-13 00:18] mariobehling opened #359 "Enhance Integration of Voice/Audio Features with Hardware Platform"
SUSI.AI uses Raspi and the Respeaker Voice Hat. Successful user interactions depend a lot on the environment and skills being used. Changing the hotword sensitivity does not result in acceptable outcome as the device switches on very quickly even though the hotword was not very similar to the actually trained hotword. The goal of this project is to improve this feature.

**Related Features**

* Im

[2019-02-13 00:28] mariobehling opened #360 "Develop Hotword Library with Web Controls"
SUSI.AI currently uses the Snowboy Hotword detection. A number of features are missing and pull requests from our developers were not merged (e.g. [here](https://github.com/Kitt-AI/snowboy/pull/493). In order to improve the hotword features of SUSI.AI we need to develop an independent library and web control system.

Please fork the Snowboy Hotword library and propose ways to set it up incorporati

[2019-02-15 16:56] shatakshi-shukla commented on #357
I am new to open source.Kindly check the updates and share your feedback for the same.

[2019-02-15 17:47] imrrahul opened #362 "Back to Top link is not visible at footer"
Back to Top link  is not visible at footer as it should be replaced by a arrow button at the right corner.

I would like to solve this issue

[2019-02-16 23:27] #362 closed

[2019-02-16 23:33] realslimshanky commented on #357
@shatakshi-shukla please check reviews on your PR.

[2019-02-16 23:36] realslimshanky commented on #346
@Shreyanshnit19 Thanks for the effort. Would you like to help with the remaining issues as well?

[2019-02-16 23:42] Shreyanshnit19 commented on #346
@realslimshanky Sure !

[2019-02-17 01:00] realslimshanky commented on #346
Great. @Shreyanshnit19 would be waiting of your PR :)

[2019-02-17 18:03] shatakshi-shukla commented on #346
I would like to take up the remaining tasks if available.

[2019-02-20 05:58] HarshCic commented on #336
Can i go ahead with this one?

[2019-02-20 06:01] HarshCic commented on #326
@mariobehling can i work on this?

[2019-02-25 16:47] Subarna578 commented on #341
Hey @mariobehling. I am Subarna Lamsal from Vellore Institute of Technology, Vellore.
I am interested in working on implenting login/tickets buying process.

[2019-02-25 17:23] Shivam-nikhil commented on #341
Hi @mariobehling. I'm Shivam from IIIT Kalyani, India. I would like to work on form builder.

[2019-02-26 23:26] Davide95 commented on #353
Hi. I'm here because this year I would like to apply for GSOC and I saw this proposal [here](https://labs.fossasia.org/ideas.html).

My name is Davide, I’m an MSc student of Computer Science and I’ve a BSc in Computer Science. I've an "Associate Android Developer" certification issued by Google (http://bcert.me/smlgvwuu) that I think it'll help me implementing the requested features inside the app

[2019-02-27 11:58] subhahu123 commented on #286
@mariobehling i want to take this gsoc project
Who are mentor of this project

[2019-02-27 14:33] subhahu123 commented on #286
@mariobehling  As far as i understand we have to create a web server ( using js ) using ESP8266 wifi module using which users connected to device can browse website ( html pages ) which will loads only for first time and then only input and output will be sent or recieved which we have to done in 4mb only

[2019-02-28 09:11] fliptrail commented on #286
@mariobehling  Can you brief more about this project, that whether requirement is to create web server, or web browser or a web portal?

[2019-02-28 11:43] tusharjindal353 commented on #356
I am a GSOC 2019 applicant and I am interested in applying for this project

[2019-02-28 16:02] subhahu123 commented on #286
i think its web server with a web interface to control pslab

[2019-03-01 02:13] Nayananga commented on #341
Hi @mariobehling. I'm nayananga from university of jaffna,Srilanka. I'm really interest in working with your iOS Apps which are open-event-ios and open-event-orga-iOS.i forked them already. Thanks in advance.

[2019-03-02 10:13] itsSiddharthGupta commented on #353
Hello @mariobehling I am interested in contributing to neurolab-android app, but cannot get it clearly what features are required for the development and what functionalities are required by the app.
Can you please explain?

[2019-03-03 03:01] CloudyPadmal commented on #353
Hello all! Thank you for your interest in this project. To get you started, please have a look at this project. https://github.com/fossasia/neurolab-desktop

I would encourage you to set it up and install in your computer. IntelliJ or Eclipse IDEs would be ideal for this. Run this app to see how the Neurolab desktop application looks like. There is a simulation option where you can see all the set

[2019-03-03 07:59] naman653 commented on #359
Why there are no ideas for Susi android. It had lots of severe bugs to solve and also some features like voice input, etc to be improved. Also, need to make UI a bit smoother and more interactive.

[2019-03-03 09:40] anhanh11001 commented on #341
@mariobehling
Hello, I’m really interested in Open Event project here and I’m also currently contributing to Android Open Event app. I have a few question to clarify the requirements of the Android Apps:

•	What do you mean by “check-in functionalities” for organizer app. What do you expect the outcomes to look like?
•	“Enable check in by organizers and scan of participant data by exhibitors”. Fro

[2019-03-03 10:07] mariobehling commented on #341
I think we can have a call for questions before GSoC. Generally, please have a look at other event systems. Our goal is to match functionalities. Please subscribe to our mailing list to receive info for GSoC hangouts: https://groups.google.com/group/open-event Thank you.

[2019-03-06 05:33] itsSiddharthGupta commented on #353
@CloudyPadmal i don't know how to run neurolab-desktop using eclipse. My build is successful but dont know how can i create an executable file to install it in my laptop. Can you please help me!!!!!

[2019-03-12 21:35] vpsinghg commented on #281
I want to contribute on this project in GSoc  2019 .Can any body guide me how to get started on this project?

[2019-03-14 22:30] aker99 commented on #286
@mariobehling Sir as researched the hardware itself have a esp8266 in it, may I know what would be basic structure and requirements of the web site that we'll host in it

[2019-03-15 05:49] kuzotelohe commented on #355
Hi,.
I am Kuzote Lohe currently in my 2nd year of Computer Science and Engineering from Bangalore Institute of Technology, Bengaluru, India.

I have read about your organisation and I'm interested to contribute to your organisation through your project, Implement UI controls for LED Name Badge Android App in GSoC 2019.

I do not have much experience in projects apart from the academic curriculum b

[2019-03-16 15:13] abhi40308 commented on #351
@mariobehling I would like to work on badgeyay. Will be sending my proposal soon.

[2019-03-16 18:40] shabnam99 commented on #360
hello,
I want to go with this project in GSOC. Any suggestion please?

[2019-03-20 10:23] prabhupant commented on #345
@mariobehling I'd love to work in this. Will be sending my proposal soon. Hope to be an even more integral part of FOSSASIA! :smiley:

[2019-03-20 15:08] sk9331657 commented on #351
@mariobehling @gabru-md @ParthS007  @yashLadha Fossasia Summit 2019 was an awesome experience and Codeheat Ceremony was the best . Will send the proposal stating features that will be implemented in GSOC 2019.

[2019-03-22 07:34] Subhang23 commented on #281
I would like to contribute under this project for GSoc 2019. Could somebody help me get started as to what to do?

[2019-03-25 19:16] sk9331657 commented on #281
@mariobehling @ParthS007  @gabru-md  @yashLadha  I have submitted my proposal using dashboard . Mentors ,please review the proposal and provide your precious reviews. :smile:

[2019-03-26 06:56] gabru-md commented on #351
Glad to hear that @sk9331657
Start working on your proposals. All the best :+1:

[2019-03-26 07:14] sk9331657 commented on #351
Thanks @gabru-md  . Will be highly delighted to work with you.

[2019-03-26 17:02] VishalBhosale5 commented on #355
Hi,
 I am Vishal Bhosale final year Computer Science student at Sinhgad Institute of Technology, Pune, India.
I am really interested in GSoC 2019 to contribute in your project named "Implement UI controls for LED Name Badge Android App"
please give me a chance to work on this project, thank you.

[2019-03-27 11:44] Aakash-DD commented on #360
@mariobehling  Can u give just little more details..... for this

[2019-03-28 16:49] hitman96 commented on #281
I would like to contribute in this project as a part of GSoc 2019. How should I get started.

[2019-04-02 00:46] nanspro commented on #351
Hello guys :smile:
I have worked upon badgeyay two years back and i was one of the admin handling the repo. This was my first open source project on which i contributed a lot, and now i want to work on this as part of gsoc this year.
Will submit my proposal soon for review.

[2019-04-02 09:30] ThatDNS opened #366 "Integrate SUSI.AI bots with SUSI.AI Smart Speaker"
In order to allow SUSI.AI smart speaker to be used as a personal home assistant, we need to integrate private skills in it.
Private skill is a skill that can be edited, modified and deleted only by the person who created it. These skills don't apply directly to the SUSI.AI web client like public skills, rather they apply only to a single bot. So, private skills are bots.
Currently, you can create

[2019-04-02 10:36] harsh-jindal commented on #366
@DNS-404 @mariobehling I would like to work on this. I have the followings things I would like to implement :
1) Add `private mode` to Raspberry Pi which will allow usage of private skills on it.
2) Allow enable/disable of public skill.
3) Create chatbot using already existing public skills as template.
4) Have a hotword to initialise the private skill.
5) General Templates for Smart Home to turn

[2019-04-02 13:24] DNS-404 commented on #366
Nice. Please write a proposal on the same and submit the draft for review. Feel free to contact me if you need any help.

[2019-04-02 18:00] fragm3 commented on #356
@mariobehling @jogendra @iamareebjamal Can I send a proposal for creating Badge Magic app using React Native. Instead of having separate app for Android, iOS, one React Native app can be used. Shifting tech to React Native will be a good step, many big tech companies(Uber, Instagram, etc) are using it. The functionality above can be implemented using React Native.

[2019-04-02 22:16] iamareebjamal commented on #356
We can't do low level stuff in React Native, project is already in Kotlin. We may extract common code and use Kotlin/Native multiplatform for shared code

[2019-04-03 04:43] mariobehling opened #367 "Customer Support Representative Interface"
Implement a Customer Support Representative interface to react on chat situations where a SUSI.AI bot is not able to answer (research compare how proprietary systems do it and suggest improvements).

Sales and marketing could use SUSI.AI to communicate with customers. However, some areas are too complex for a rules based skill. Also, SUSI.AI can be used to collect basic data like names and contact

[2019-04-03 04:46] mariobehling opened #368 "SUSI.AI Desktop System Integration"
Integrate SUSI.AI in desktop and plug it into standard desktop applications. Examples of functionalities and parts that need to be implemented are:

- Create a DBUS API to add support for desktop
- Web server http/https, might conflict, setup issue
- Http server turned off and DBUS turned on
- First step in getting applications supported
- SUSI “I am getting registered"
- SUSI desktop suspend
- SU

[2019-04-03 04:54] mariobehling opened #369 "Feature Completion and Standardization of SUSI.AI Web Projects"
SUSI.AI web clients have made a big step forward. We now need to make the project more stable and feature complete. Please research and propose missing features and standardize and improve the web projects of SUSI.AI. Also collaborate on getting support of functionalities in the server component. Below are a few ideas for improvements:

**Add missing Features e.g.**
* Implement Organizations simil

[2019-04-03 05:08] #357 closed

[2019-04-03 06:01] jogendra commented on #356
@fragm3 Since this project is using CoreBluetooth and Wi-Fi APIs which will be hard to implement in React Native. There is no replacement for Native.

[2019-04-03 06:26] mariobehling opened #370 "Susper Search Server: Develop Susper Frontend Bundle with Yacy Grid"
Susper is a front-end for the new Yacy-Grid search server. However, the components haven't been bundled together yet and some functionalities are not implemented yet. Please set up both projects, list missing API support implementations and take issues from the trackers into account to define the specifics of the project. The goal is to achieve a susper search project with frontend and backend tha

[2019-04-03 10:56] harsh-jindal commented on #369
@mariobehling I would like to work on this.

[2019-04-03 13:50] fragm3 commented on #369
@mariobehling I would love to work on these issues, will be sending GSOC draft.

[2019-04-03 14:35] lilliCao commented on #353
hi, I found the project very interesting and would like to contribute. But I met some basic problem on how the app works.
I did install and run both desktop app and the current android app base. Since there is no comment in code, I got really hard time try to figure out how thing works. I followed your instruction to run the demo (run Launcher and chose simulation mode) but there are not much to s

[2019-04-03 14:44] lilliCao commented on #353
@mariobehling @CloudyPadmal

[2019-04-03 15:57] Aakash-DD commented on #369
@mariobehling will be sending Proposal soon

[2019-04-03 16:20] AakashMallik commented on #367
@mariobehling I'll get down to writing a proposal for this.

[2019-04-07 07:24] ableabhinav commented on #278
Hi there! I am interested in doing this particular project. I would really like to do a project under SUSI, and this idea aligns with my interests. I had asked/discussed some things related to this project on the susi_linux gitter channel, and would like to add the same things here too:
1) The main goal of the project is developing a debian package SUSI;
2) That has deep desktop integration with a

[2019-04-07 11:04] prateek76 commented on #369
@mariobehling I have sent a draft proposal please review.

[2019-04-07 12:47] mariobehling opened #371 "Implement Visual and Audio Gamification and Neuro-Feedback in Neurolab Android App"
If someone speaks to another person, they would receive feedback, e.g. an voice reaction or something else. How could a reaction to brain waves look like? By controlling our brain waves we could use the computer (e.g. Android phone) to provide visual or audio feedback to our brain activities. People are actually able to control certain brain activities. They can even improve their control and trai

[2019-04-07 14:27] fragm3 commented on #356
@jogendra @iamareebjamal I think, core API's for bluetooth, Wi-Fi can be implemented using React Native as well. Check out: [react-native-ble-manager](https://github.com/innoveit/react-native-ble-manager).

[2019-04-07 17:46] ridhishjain commented on #370
@mariobehling I am writing proposal for this project

[2019-04-07 17:54] sk9331657 commented on #370
@mariobehling  Will like to work on this . Will be sharing proposal soon. :smile:

[2019-04-14 13:10] Sherry112 commented on #355
Hello,
I am Shaheryar Khan, a Mechatronics Engineer from National University of Science and Technology, Pakistan. I started learning android development from the Udacity Course for beginners but now I have developed a liking for it and pursue Android Development as freelance activity.
I have for this project in the GSoC 19 as i feel that this project will polish both the skills of Signal processin

[2019-05-07 08:41] dilum1995 commented on #341
Hello @mariobehling,

I am Dilum from Sri Lanka I’m really interested in Open Event Orga iOS project. Actually, I have Stated working on the project a month back and I have pushed the code related to some general UI of the project, validate user account using email. also, I am currently working on the login and signin functionality. So, I would like to continue my contributions on Open Event Orga

[2019-05-08 11:07] abishekvashok commented on #341
@dilum1995 you continue working with it. Targeting the entire issue in a single pr, you may create sub issues and solve them in separate PRs. :) Keep up the good work

[2019-07-13 05:53] kushthedude opened #373 "Website: Fossasia-Header image is not optimised for deployment purpose"
#### Issue Description

Fossasia-Header image is not optimised for deployment purpose, It's not compressed for the deploy usage and its getting used at its original size of 5.8 MB.

#### Solution Propose
Optimise the image.

[2019-08-11 02:39] rpjayasekara commented on #345
@mariobehling I would like to work on this project, I think no one is working on this as a GSoC project. I think I have enough knowledge , Can you guide me to work on this project if no one is currently working on this.

[2019-08-18 12:24] CoDeRgAnEsh commented on #373
I've used a 512 x 512 image scale but the image was not resolved quicker, Think some tech stack has been involved in background that causes delay . . .

[2019-08-28 06:27] siddharth952 commented on #356
Is this project till open to be worked on? Is someone working on it right now?

[2019-09-05 10:03] RisingGeek commented on #347
is this issue resolved?

[2019-09-05 13:03] #347 closed

[2019-09-14 08:40] ayusdas2000 opened #374 "Burger menu layout is not in order."
The burger menu of this site https://labs.fossasia.org/ideas.html is not in order. Home menu overlaps the fossasia logo. I would like to work on this if assigned.

[2019-09-14 14:34] #374 closed

[2019-09-14 15:19] ayusdas2000 commented on #346
I resolved the last issue that is to take out the burger menu.

[2019-10-05 17:51] bw-space commented on #354
Is this project assigned to someone, already for the GSoC, as I want to contribute to this issue.

[2019-12-12 11:50] #312 closed

[2019-12-12 11:50] #313 closed

[2019-12-12 11:50] #326 closed

[2019-12-12 11:50] #328 closed

[2019-12-12 11:50] #336 closed

[2019-12-12 11:51] #346 closed

[2019-12-12 11:53] #373 closed

[2019-12-12 11:57] mariobehling opened #376 "Website: GitHub API generated links don't direct to the right area anymore"
Clicking on the link list of the GSoC ideas does not direct to the correct area on https://labs.fossasia.org.

![Screenshot from 2019-12-12 12-48-33](https://user-images.githubusercontent.com/1583873/70710114-c7e1c180-1cde-11ea-8a71-71d790430f3a.png)

[2019-12-12 12:44] techyay opened #377 "Create a dataset for each instrument of Pocket Science Lab for Testing"
The Pocket Sciencelab has many instruments now. To make the functionalities easier to understand, please implement a test for each instrument.

Please solve the issue on the repository here.
https://github.com/fossasia/pslab-android/issues/2026

[2019-12-12 13:13] techyay opened #378 "Implement Additional Instruments, Improve Usability and Import/Export Features in PSLab Android"
The PSLab app has made substantial improvements and follows a common design and standards now. The next step in the development of the app is to add:
* more instruments
* sample datasets and improve import/export and mapping features
* support for online storage, e.g. Google docs, Nextcloud, web services with group features (e.g. show data of different users in one spreadsheet)

[2019-12-12 13:21] techyay opened #379 "Instruments for PSLab Desktop, Map Views, Sample Data, User Support, System Integration"
In this project the goal is to move forward with the next version of Pocket Science Lab Desktop and achieve a more complete feature set and compatibility with the Android app. Important features of this version should include:
* add instruments
* implement and improve mapping features and views
* add sample data sets and previews
* improve user support and documentation features
* add search featu

[2019-12-12 13:36] reckoner1429 commented on #377
@techyay @mariobehling I am interested in this mini-project. Should I just start working or do I need someone to assign this mini-project to me before starting to work?

[2019-12-12 14:01] mariobehling opened #380 "Autodeploy Yaydoc to Hetzner Cloud with Kubernetes or another solution"
Autodeploy [Yaydoc](https://github.com/fossasia/yaydoc) to [Hetzner Cloud](https://www.hetzner.com/cloud) with Kubernetes or another solution.

Yaydoc used to be deployed using Google Cloud with Kubernetes, which has a very high price now. Alternatively there are providers like Hetzner.

Please make Yaydoc work with Hetzner Cloud. Document your setup and share it with the team. Add the setup to th

[2019-12-12 14:04] mariobehling commented on #377
Great. Please go ahead. Projects are free to take up. No need to ask.

[2019-12-12 14:04] reckoner1429 commented on #377
Cool! Thanks @mariobehling

[2019-12-12 20:33] anishagg17 opened #381 "Hidden Github Link"
![Hnet com-image](https://user-images.githubusercontent.com/43617894/70746816-91429000-1d4c-11ea-8d5b-d7a932072668.gif)
This link seems to be useless as a link to "find more projects on github " has been already inserted above

[2019-12-12 21:04] #381 closed

[2019-12-12 21:16] anishagg17 commented on #376
I have checked out every link .They all are working fine.
Can you describe the problem more briefly

[2019-12-13 08:09] anishagg17 commented on #376
Actually it's working fine in safari but not in google chrome.
![Screenshot 2019-12-13 at 1 37 33 PM](https://user-images.githubusercontent.com/43617894/70782729-b9aea680-1dad-11ea-95f9-49e1ca4bf8f8.png)
Also when we click on this gsoc link a huge amount of space is added in between these two sections:
FOSSASIA Projects
Project Ideas for Coding Programs and Google Summer of Code

[2019-12-13 10:48] #376 closed

[2019-12-13 11:00] mariobehling opened #386 "Website: When the user clicks a link in the ideas section the white space above the area gets expanded"
Website: When the user clicks a link in the ideas section the white space above the area gets expanded. This should not happen.

![Screenshot from 2019-12-13 11-59-16](https://user-images.githubusercontent.com/1583873/70795452-1f943180-1da0-11ea-9e73-c6b6103dda4b.png)

[2019-12-13 11:19] #386 closed

[2019-12-13 11:50] mariobehling opened #388 "Website: Update Social Media Message on All FOSSASIA site repos in social media section"
The social media section of FOSSASIA has an outdated message, if a user clicks on the social media icons. Substitute this message with something generic about FOSSASIA, e.g. as follows:

"FOSSASIA develops #OpenSource software and #OpenHardware with a global developer #community from its base in #Asia. Join us at https://fossasia.org"

![Screenshot from 2019-12-13 12-47-01](https://user-images.git

[2019-12-13 12:16] mariobehling opened #389 "Website: Change "Github" embedded script in index.html to separate file"
The script to collect issues from GitHub is embedded into the html. Please move the script into the "js" folder and update the links. Ensure the script still works.

![Screenshot from 2019-12-13 13-14-39](https://user-images.githubusercontent.com/1583873/70799730-bbc33600-1daa-11ea-8991-6f2b2b37609d.png)

[2019-12-13 12:34] mariobehling opened #391 "Website: Make width of "ideas" section same as other areas"
The width of the "ideas" section is not the same as other areas. Please adjust this to be the same.

![Screenshot from 2019-12-13 13-33-25](https://user-images.githubusercontent.com/1583873/70800733-4442d600-1dad-11ea-8e78-796a7eaf10a0.png)

[2019-12-13 12:38] mariobehling opened #392 "Website: Change the gray color of the ideas section to match the "Connect to FOSSASIA" section"
The gray background of the ideas section is slightly darker than other areas, e.g. "Connect to FOSSASIA".

Please adjust the background color to the same slightly lighter gray.

![Screenshot from 2019-12-13 13-37-19](https://user-images.githubusercontent.com/1583873/70800957-dcd95600-1dad-11ea-8171-2f9796bb4cb9.png)
![Screenshot from 2019-12-13 12-47-01](https://user-images.githubusercontent.com/1

[2019-12-13 13:20] darshancool25 commented on #392
Hi, I would like to work on this issue.

[2019-12-13 13:24] darshancool25 commented on #391
Hi, I would like to work on this issue.

[2019-12-13 13:25] darshancool25 commented on #389
Hi, I would like to work on this issue.

[2019-12-13 14:27] huonggiangbui commented on #388
Hi, I wanna solve this issue and I am working on it

[2019-12-13 15:09] mariobehling opened #394 "Website: Fix map enlarge/smaller feature on FOSSASIA Summit pages"
1. The plus/minus sign on all maps of FOSSASIA Summits does not work. Please fix it.
2. Please enable the user to view the map in a separate page.

![Screenshot from 2019-12-13 16-09-34](https://user-images.githubusercontent.com/1583873/70809876-fcc74480-1dc2-11ea-8c67-491037bba8de.png)

[2019-12-13 19:33] mariobehling opened #396 "Website: Use "smooth scrolling" for integrated GitHub Issues (ideas)"
The issues that show up by using the GitHub API on the system don't use "inner-link" smooth-scrolling. Please change the links to use smooth-scrolling.

![Screenshot from 2019-12-13 20-29-58](https://user-images.githubusercontent.com/1583873/70826669-ce0f9500-1de7-11ea-84e1-c248ac521c98.png)

[2019-12-13 19:45] codedsun commented on #391
@darshancool25 Please go ahead.

[2019-12-13 19:45] #392 closed

[2019-12-14 10:47] mariobehling opened #397 "Website: On Mobile Screens get rid of horizontal scrolling"
On mobile screens there is a horizontal scroll of the site. FOSSASIA.org does not have that horizontal scrolling. Please check what are the differences and follow the main page fossasia.org to avoid horizontal scrolling.

![Screenshot_20191214_102901_com android chrome](https://user-images.githubusercontent.com/1583873/70846755-b0304780-1e5c-11ea-9938-112da3c8ecdb.jpg)

[2019-12-14 18:15] #389 closed

[2019-12-14 19:08] anishagg17 opened #399 "Should it be?"
Can we update .gitignore file ?
So that it may help future developers from pushing cache data such as .Ds_store

[2019-12-14 20:26] mariobehling commented on #399
As usual developers use Linux, such problems don't exist there. Also, we should not try to solve the problems of Windows in a Git repository.

[2019-12-14 20:26] #399 closed

[2019-12-14 20:28] anishagg17 commented on #399
Okay sir, No problem

[2019-12-14 20:55] anishagg17 commented on #394
are we allowed to replace this map component with another one?

[2019-12-15 15:18] Chaitanyassr commented on #397
I would like to work on this issue.

[2019-12-15 16:20] Vedansh2004 opened #401 "Issues in Fossasia Lsb Site"

[2019-12-15 16:21] mariobehling commented on #394
Best would be to fix the existing map.

[2019-12-15 16:24] Vedansh2004 opened #402 "Improvement in fossasia lab site"
Fossasia lab site is very summarize software.Its logo and some features can be updated.

[2019-12-15 16:43] mariobehling commented on #402
Please follow best practices when submitting an issue, specify a real bug or feature.

[2019-12-15 16:43] #402 closed

[2019-12-15 16:44] #401 closed

[2019-12-15 19:28] anishagg17 opened #404 "Website : UI Enhancements"
We can add Dark mode to website as many users like dark mode and it's becoming popular these days.
Should we add it ?

[2019-12-15 19:39] mariobehling commented on #404
This is too much work. We just want to keep it simple and rather focus on the development of our software and hardware projects. Would be great if you could help with this as well.

[2019-12-15 19:39] #404 closed

[2019-12-15 19:40] anishagg17 commented on #404
We can use external library to get speedy and easy work

[2019-12-15 20:57] ricozhuthegreat commented on #396
I would like to solve this issue.

[2019-12-17 16:07] mariobehling opened #407 "Website: Update new FOSSASIA Address"
The new FOSSASIA Address in Singapore is:

12 Eu Tong Sen Street #08-169 Singapore 059819

Please update it and add a link to OpenStreetMap as on https://fossasia.org

[2019-12-18 20:12] makoteq commented on #407
Can i work on this issue?

[2019-12-19 07:20] kumuditha-udayanga commented on #407
@mariobehling the changes have been done please review #408  😇

[2019-12-19 10:54] HellWolhardZeli commented on #394
I'll work on this

[2019-12-19 11:29] HellWolhardZeli commented on #394
This issue should be part of the following repo right?
 https://github.com/fossasia/summit.fossasia.org

[2019-12-19 13:42] darshancool25 commented on #391
I forked the repo..... But I am not able to find the section of code associated with the ideas section.....How can I make sure i have right copy of the code? I am new to making contributions, please help me out here.

[2019-12-19 19:49] anishagg17 commented on #394
@mariobehling  I have already fixed it
please look onto: https://github.com/fossasia/summit.fossasia.org/pull/28

[2019-12-20 07:02] Dishebh commented on #391
@darshancool25 try finding it out in the index.html file

[2019-12-20 07:20] Dishebh commented on #388
@mariobehling you want to change the message that appears on the social media site (like tumblr) after clicking on them?
Like the one appearing at the top in the pic below...?
![Screenshot from 2019-12-20 12-49-10](https://user-images.githubusercontent.com/43489708/71237318-3d750f80-2327-11ea-931f-3cba63691f50.png)

[2019-12-23 06:17] pkspyder007 commented on #286
I am looking forward to work on this but I want more explanation about what the web server will do in terms of functionality.
And how we will code the server in js.

[2019-12-23 09:35] mariobehling commented on #286
The usual way to start is to engage in the project first and learn things step by step. So, it would be great if you could solve few issues and understand the project hands-on.

[2019-12-23 09:40] #391 closed

[2019-12-25 14:38] Dishebh commented on #397
@mariobehling I think this issue is taken care of now.

[2019-12-27 21:49] Dishebh opened #413 "Navbar overlaps with the section-header"
### Actual Behavior
Navbar overlaps with the section header of the web page

### Expected behavoir
Navbar and other sections should not overlap

### Screenshot for the issue
![Screenshot from 2019-12-28 03-17-01](https://user-images.githubusercontent.com/43489708/71533798-d6f08280-2920-11ea-8607-a5ce19779c6d.png)

### Would you like to work on it?
Yes

[2020-01-02 12:17] d80ep08th commented on #278
Okay so I ended up here following the rabbit hole. Are there any updates on this ?

[2020-01-08 20:08] Sid911 opened #416 "Project description section is too long"
## Issue
When I first Launched the website seeing that long bar at the right side made me feel tried without even scrolling 😂.

![image](https://user-images.githubusercontent.com/27860105/72011502-06d44a00-3280-11ea-937c-78eabb9d0aca.png)

A site shouldn't be really long from the get go, and from tracking down the longest section is the project section which is dynamically being generated from the

[2020-01-08 20:09] Sid911 commented on #416
@mariobehling I any suggestions if I should work on this or not would be nice 😇.

[2020-01-09 09:58] mariobehling commented on #416
Low priority at the moment as we have tons of other stuff to attend to. Therefore closing it. Thanks.

[2020-01-09 09:58] #416 closed

[2020-01-09 10:30] Sid911 commented on #416
@mariobehling I have already worked on it and it's almost done.. I was making more changes to some bugs.. it there an issue if this gets merged? 😅

[2020-01-09 11:24] mariobehling opened #417 "Add yaydoc.org into dropdown menu on all FOSSASIA.org Github pages"
Yaydoc is running on yaydoc.org. Please add the link to the FOSSASIA dropdown menu into the "projects" tab above "Meilix".

![Screenshot from 2020-01-09 16-51-59](https://user-images.githubusercontent.com/1583873/72063755-68d49400-3300-11ea-8709-b9e73aa7321a.png)

[2020-01-09 12:50] NishithP2004 commented on #417
Working on it

[2020-01-09 13:05] NishithP2004 commented on #417
PR: https://github.com/fossasia/fossasia.org/pull/640

[2020-01-13 08:31] SARTHAK1SINGH commented on #417
@mariobehling can i work on this issue.

[2020-01-13 08:43] NishithP2004 commented on #417
I have already done that

On Mon, 13 Jan 2020, 2:01 pm SARTHAK1SINGH, <notifications@github.com>
wrote:

[2020-01-17 19:25] syed-sameer1 commented on #413
can i work on it.?

[2020-01-18 01:21] Dishebh commented on #413
Sure, go ahead.

[2020-01-18 02:59] syed-sameer1 commented on #413
I fixed this issue plz check and merge.

[2020-01-18 05:12] wimpywarlord opened #422 "Website : Add a toggle for night/dark mode of the website."
I wish to make a toggle that enables a dark/night mode for the website changing the color scheme from orange and white to  dark grey and warm white.

This should give you a fair idea:
<img src="https://media.giphy.com/media/CxKDjNN5YiHkI/giphy.gif">

[2020-01-18 06:32] mariobehling commented on #422
Out of scope and out design is red. So, does not seem suitable. Therefore closing it.

[2020-01-18 06:32] #422 closed

[2020-01-18 09:28] syed-sameer1 commented on #413
I fixed this issue. #423

[2020-01-18 16:12] hoangdatngo opened #424 "Add more icon to the footer of the website"
I want to add Weibo, Vk, Wikipedia icon to the footer of the website.

[2020-01-18 16:12] #424 closed

[2020-01-21 12:57] jsparmani commented on #345
@mariobehling I am quite interested to work on this project. Please assist on how should I start working on the project.

[2020-01-22 13:03] rico-et22 opened #427 "Instagram icon is outdated"
The Instagram icon in the footer is outdated.
![image](https://user-images.githubusercontent.com/28688352/72896382-f318f100-3d1f-11ea-8b58-8346a8566f22.png)

I would like to solve this issue.

[2020-01-23 00:05] #427 closed

[2020-02-07 11:38] Dishebh commented on #417
@mariobehling pls close the issue, if it has been resolved.

[2020-02-10 18:45] Dishebh opened #429 "Text overflow at some places"
Currently, text overflows at some places when seen in lower screen resolutions like mobile.

### Screenshot for the issue:
![Screenshot from 2020-02-11 00-05-54](https://user-images.githubusercontent.com/43489708/74179477-8ed4b780-4c63-11ea-9e76-aa79982117b7.png)

[2020-02-12 16:33] MukulMaheshwari commented on #380
I would like to work on this issue. Can u please elaborate "or another solution". Is Hetzner is the appropriate solution ? Please brief me. Thanks

[2020-04-06 07:33] Hyperion101010 commented on #290
Hi there I am interested in taking this project as a mentored project for Fossasia 2020 mentorship.
I am a third-year UG student from India. I have contributed for Mozilla and Chromium in their compiler plus I major in ETE so I think this is the best fit for me. So I have enough experience tinkering with hardware modules and embedded C.

[2020-04-06 09:19] rolandturner commented on #290
This great news!

I'd suggest that almost all of the work that needs doing is in software. Custom hardware may eventually be warranted, but there's much to do before then. A likely sequence might be:

- Upgrade the PSLab app to be able to use the existing hardware to its full extent:
  - The PWM generators are specified as being able to operate to 8MHz (although 15ns resolution suggests 30MHz if y

[2020-04-07 13:52] Hyperion101010 commented on #290
Sir do we have any IRC/channel for the project related discussion. Also any begineer bugs I can fix in to get idea about codebase.

[2020-04-08 05:25] rolandturner commented on #290
The preferred chat channel appears to be https://gitter.im/fossasia/pslab

My involvement is as someone with expertise in RF electronics. I'm not at all expert in PSLab's hardware or software; I believe Padmal is the lead developer of both. @mariobehling may wish to clarify.

[2020-07-06 12:27] Raunaksingh100 opened #431 "text Over flow and is not responsive overlapping to right screen in MObile View"
![fossaisa lab](https://user-images.githubusercontent.com/65535360/86592942-f6442880-bfb1-11ea-8301-4c7980f23a47.PNG)

link is not responsive overlapping to right for the better understanding plz see in the screenshot

[2020-07-31 13:47] kaaaartikkkk opened #432 "Can't make environment"
I tried to run the commands in the readme and these errors came up.
![Screenshot (55)](https://user-images.githubusercontent.com/67854709/89041081-6603c400-d362-11ea-88aa-ffb1196ed11f.png)

[2020-08-01 09:24] chiragarora01 opened #434 "alignment and justification of text"

[2020-08-01 09:53] #434 closed

[2020-08-04 15:35] Raunaksingh100 opened #436 "links not responsive in mobile view (BUG)"
### Descriptions
link is not responsive in the mobile view see in the screennshot given below for the better understanding..............

![lab 1](https://user-images.githubusercontent.com/65535360/89313292-f0fff980-d695-11ea-98ab-79f7fe4ef9c1.PNG)

[2020-08-05 07:32] Raunaksingh100 opened #437 "need padding in link in the mobile view"
![need padding](https://user-images.githubusercontent.com/65535360/89384595-edaf5100-d71b-11ea-9060-2fddca05c931.PNG)

[2020-08-05 12:42] NermatiShravanReddy commented on #437
Can you assign this issue to me, I'd love to work on it.

[2020-08-05 12:53] NermatiShravanReddy commented on #436
I'd like to resolve it.

[2020-08-05 14:24] Raunaksingh100 commented on #436
@NermatiShravanReddy  you can work on this issue.............

[2020-08-05 14:25] Raunaksingh100 commented on #437
@NermatiShravanReddy  find some other issues i already working on this..................

[2020-08-06 15:05] psyduck1203 commented on #431
is this issue solved ?

if no i would like to work on this !

[2020-08-06 15:06] Raunaksingh100 commented on #431
@psyduck1203 you can work on this issue ...........

[2020-08-06 15:40] psyduck1203 commented on #431
I just saw that this issue is solved.

[2020-08-06 16:11] Raunaksingh100 commented on #431
@psyduck1203 not solved in galaxy fold screen

[2020-08-07 14:09] psyduck1203 commented on #431
okay, ill see to it.

[2020-08-09 12:26] Raunaksingh100 opened #438 "links are not responsive in mobile view"
![links are not responsive](https://user-images.githubusercontent.com/65535360/89732054-9d145c80-da69-11ea-8ab4-431521cb3960.PNG)

[2020-08-26 08:56] anilmaurya61 opened #439 "Image responsive Issue (Mobile view)"
Screenshot for better understanding

![labs](https://user-images.githubusercontent.com/56387037/91283386-2a64ea00-e7a8-11ea-9f96-0d16bd2a1a1a.jpg)

[2020-08-26 09:38] anilmaurya61 opened #440 "Navbar dropdown elements overflow"
Screenshot for better understanding

![labsqw](https://user-images.githubusercontent.com/56387037/91287849-e7a61080-e7ad-11ea-8865-688bf72e4c61.jpg)

[2020-09-06 05:20] sagar-barapatre opened #441 "Add Dark Theme"
Save our eyes. And batteries. Do not ignore this property of useragent https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2020-09-13 00:49] rishabhgit0608 opened #442 "Social Media Icons"
Instagram is updated with its logo and UI. The logo of Instagram can be updated with a new one.

[2020-09-26 06:51] Ananyaas commented on #377
hey! If this mini project is still open ,may I work on it? @mariobehling

[2020-09-26 11:56] Ananyaas commented on #442
may I work on it?

[2020-09-26 11:58] Ananyaas opened #444 "Scroll to top button can be added on projects page"

[2020-09-26 12:26] #429 closed

[2020-09-26 12:26] #431 closed

[2020-09-26 12:26] #432 closed

[2020-09-26 12:26] #436 closed

[2020-09-26 12:26] #437 closed

[2020-09-26 12:26] #438 closed

[2020-09-26 12:26] #439 closed

[2020-09-26 12:26] #440 closed

[2020-09-26 12:26] #441 closed

[2020-09-26 12:26] #442 closed

[2020-09-26 12:26] #444 closed

[2020-09-26 12:47] rishabhgit0608 commented on #442
Hello Ananya i already sent my pull request for the same thank you

[2020-09-29 19:21] chinmaikaveti2001 commented on #397
Hi! Can u please assign this issue to me..?

[2020-10-08 21:23] Atharva-001 commented on #369
@mariobehling I would love to work on these issues, especially on the conversational bugs in the SUSI AI Assistant

[2020-11-17 17:42] Dk7303 commented on #413
Overlaping is happening in sections with the images can i go for it or the problem has been already resolved

[2020-11-17 17:42] Dk7303 commented on #413
![Capture](https://user-images.githubusercontent.com/74424301/99426649-61234a00-292a-11eb-92b9-8fd5a7e5ea67.PNG)

[2020-12-04 19:48] aaadi-debug commented on #413
Sure. I will definitely fix it.

[2020-12-18 17:17] HbsAdithya opened #447 "Navbar & UI implementation"
More than getting like this navbar. If we can able to add drop-down model nav bar it is easy to manage. And UI also has to change. Because as a user, they will have to scroll more. So, if we can add a grid model it will manage and the user will not struggle. That's my personal opinion.

[2020-12-19 08:19] soumyapodha commented on #447
Can I work on this project?

[2020-12-24 15:03] pratik9333 commented on #447
Can I Work on it?

[2020-12-24 15:08] soumyapodha commented on #447
I am working on this project

[2021-01-18 17:54] anushruti11 commented on #447
Can I work on it ?

[2021-02-23 04:29] SuryanshShahi commented on #407
Hi , I would like to work on this issue

[2021-02-23 04:44] SuryanshShahi commented on #407
@mariobehling the changes have been made, please review #448

[2021-03-09 19:28] #341 closed

[2021-11-02 12:03] hritik2002 commented on #447
This issue is still open , is someone working on it ?

[2021-11-02 12:16] hritik2002 opened #450 "Fix: Opacity of Navbar ."
Opacity of Navbar is not 1 , so it is transparent.
Contents beside the navbar is seen and looks imperfect.

![Screenshot from 2021-11-02 17-39-37](https://user-images.githubusercontent.com/72138429/139843511-1a948eae-6ccd-4630-a481-3a1e980fa914.png)

Expected Navbar :
Making opacity of Navbar to 1 , so that contents below it is not shown to the visitor.
![Screenshot from 2021-11-02 17-39-19](https

[2021-11-02 12:26] soumyapodha commented on #447
Can I work on it ?

[2021-11-02 15:55] hritik2002 commented on #450
I have solved the issue and have made a pr.
Please review it once .

[2021-11-02 15:59] hritik2002 commented on #397
Is this issue resolved ?
Can I work on this issue ?
maintainers ... please reply !

[2021-12-21 15:21] DawnArchi01 commented on #450
Hey I can work on it .

[2022-01-23 06:28] Krish-bhardwaj commented on #450
I am interested to fix this issue. I request you to allow me to fix it. can you assign me this issue

[2022-01-23 06:28] Krish-bhardwaj commented on #378
I am interested to fix this issue. I request you to allow me to fix it. can you assign me this issue

[2022-01-23 06:29] Krish-bhardwaj commented on #379
I am interested to fix this issue. I request you to allow me to fix it. can you assign me this issue

[2022-01-23 06:34] Krish-bhardwaj commented on #371
I am interested to fix this issue. I request you to allow me to fix it. can you assign me this issue

[2022-04-21 11:14] mrrata opened #456 "dummy1"

[2022-04-21 11:14] #456 closed

[2022-08-30 22:49] Aman1143 commented on #450
I want to fix this issue. i reqesting you to allow me to fix it.

[2022-11-16 16:06] pranav-deshmukh commented on #450
I cleared the issue please review my PR #457

[2022-11-20 09:32] anurag629 commented on #341
Hi, I would like to develop/contribute Login/Tickets something similar to Eventbrite. I have knowledge of Python, Django, djangorestframework, react, ML,  DL, and C++. It will be great to hear from you guys.