[2015-01-24 16:17] mariobehling opened #2 "Get rid of dependencies of CSS and image files with blog.fossasia.org"
If blog.fossasia.org is down or has issues dependencies to load css and image files lead to issues with labs.fossasia.org.
The github hosted site of labs should work completely independently of the blog.

[2015-01-24 17:38] #2 closed

[2015-01-25 10:36] ty221 opened #3 "Open Graph protocol tags should be added to <head> section"

[2015-01-25 16:53] ty221 commented on #3
@mariobehling Can we get write access also to this repository?

[2015-01-25 16:55] #3 closed

[2015-01-25 21:50] ty221 opened #6 "Travis CI should be configured for this repo"
Unfortunately, I can't enable Travis for this repo, cuz I don't have admin access there. Please set up that, I will add .travis.yml file then.

[2015-01-27 00:04] #6 closed

[2015-01-28 19:24] ty221 opened #9 "FOSSASIA Logo isn't displayed when entering subpage"

[2015-01-28 20:39] #9 closed

[2015-02-02 05:38] eMBee opened #11 "have a way to show the state of a project"
i'd like to be able to show active and completed projects, so we need some kind of variable that marks the state of a project. (similar to the tasks in GCI)

once working, i'd also like to add projects from past years to the list.

[2015-02-04 04:52] eMBee commented on #11
the status should also be shown on the page itself

[2015-02-04 04:57] eMBee opened #13 "convert project variables"
convert the fields on the bottom of each project to yaml variables so they can be shown in the page and in the overview.

[2015-02-04 05:01] eMBee opened #14 "link to mentor contact details"
it would be nice to have a way to connect to mentors when reading a project.
we have mentor contacts on fossasia.github.io, but i can't see a way to link to there.

[2015-02-04 05:08] eMBee opened #15 "add old projects"
to show off what has been achieved in the past, old projects should be added and marked as closed.

[2015-02-04 10:17] samarjeet27 commented on #13
@eMBee, do you want to define the variables in the frontmatter or a data file ?

[2015-02-04 10:25] eMBee commented on #13
in the front matter for each file

[2015-02-04 10:51] samarjeet27 commented on #13
Fixed
https://github.com/fossasia/labs.fossasia.org/pull/16

[2015-02-04 11:03] #13 closed

[2015-02-11 17:03] todipratik commented on #14
how about having a list of all mentors (along with their github, web and social profile links) in a file. And displaying these along-side the name of the mentors

[2015-02-12 11:24] eMBee commented on #14
well, i want to avoid duplicate details, but maybe we need to do something like that.

[2015-02-13 09:26] eMBee opened #20 "fix build warning"
every time changes are pushed, the following warning is sent:

The page build completed successfully, but returned the following warning:

GitHub Pages recently underwent some improvements
(https://github.com/blog/1715-faster-more-awesome-github-pages) to make your site faster and more
awesome, but we've noticed that labs.fossasia.org isn't properly configured to take advantage of
these new featur

[2015-02-13 09:28] eMBee opened #21 "convert any html pages to markdown"
the index.html file is probably easier to edit if it is written in markdown.
please look into converting it and any other html pages you find (except probably the layout template)

[2015-02-13 15:54] ty221 commented on #14
My last commit to fossasia.github.io may be helpful @eMBee : https://github.com/fossasia/fossasia.github.io/commit/a964f61d8f6a6c419f66549f613eaf6e223ffad4

[2015-02-13 16:17] samarjeet27 commented on #21
Fixed https://github.com/fossasia/labs.fossasia.org/pull/23

[2015-02-16 17:23] #14 closed

[2015-02-16 17:23] #21 closed

[2015-02-17 04:11] todipratik commented on #15
isn't it already done ?

[2015-02-17 09:13] eMBee commented on #15
Excerpts from Pratik Todi's message of 2015-02-17 05:11:52 +0100:

there are many projects that were done during the past years in GSoC:
http://www.google-melange.com/gsoc/org2/google/gsoc2014/fossasia (9 projects)
http://www.google-melange.com/gsoc/org2/google/gsoc2012/fossasia (6 projects)
http://www.google-melange.com/gsoc/org2/google/gsoc2011/fossasia (3 projects)

there may be other projects

[2015-02-17 18:25] todipratik commented on #15
#25

[2015-02-18 18:58] ty221 commented on #20
To fix this issue, access to domain management is necessary. I think only @mariobehling fix this bug.

What should be done?

1. Current FOSSASIA Labs A record (now it is [A] labs.fossasia.org -> 192.30.252.153) should be changed to CNAME record pointing to fossasia.github.io ([CNAME] labs.fossasia.org -> fossasia.github.io)

[2015-02-18 20:24] #11 closed

[2015-02-18 20:33] eMBee commented on #15
thank you, this is complete except for a typo in the status: closed vs close. it should be "closed"

[2015-02-18 20:40] ty221 commented on #15
@eMBee Yeah, that could be considered as a typo, however to minimalize work needed to fix it in all projects I just made this PR - https://github.com/fossasia/labs.fossasia.org/pull/27

Now it gonna work for both "close" and "closed"

[2015-02-18 20:54] eMBee commented on #15
it probably does not matter much in this case, but doing things well is a good habit. so i prefer to see the files fixed

[2015-02-18 20:57] ty221 commented on #15
@eMBee Ok I get your point. However I think you can merge my PR to keep site working also when there are issues of this kind.

[2015-02-19 19:32] ty221 commented on #15
After #28 is closed we can close this one too.

[2015-02-19 19:51] eMBee commented on #15
Excerpts from Tymon Radzik's message of 2015-02-19 20:32:18 +0100:

yes, by adding "closes #15" in your commit message

[2015-02-19 19:53] ty221 commented on #15
@eMBee Oh right,  however I didn't add that to my commit desc, because I wasn't sure you don't want to add there anything else. It will be no problem to close this manually

[2015-02-23 05:06] #15 closed

[2015-02-25 04:05] mariobehling opened #29 "Change newsletter signup code. Use code below."
[code]

[2015-02-25 12:57] ty221 commented on #29
Fixed in #30

[2015-02-25 17:50] #29 closed

[2015-02-25 18:04] eMBee commented on #29
sorry, i had to revert that because the PR contained a bad/unrelated commit. i  pushed the proper fix instead.

[2015-03-03 10:16] mariobehling opened #31 "Make "about project page" as labs start page and create /ideas and /archive page"
Please change the structure of the labs site.
1) About page as start page
2) labs.fossasia.org/ideas - as GSoC 2015
3) labs.fossasia.org/archive - old projects

[2015-03-04 18:13] #31 closed

[2015-03-06 16:48] ty221 commented on #20
DNS Error Fixed.

[2015-03-06 16:48] #20 closed

[2015-03-08 08:38] andibraeu opened #38 "Usability on open and closed projects buttons"
could you improve usability on those links/buttons?

You can neither see that "Open Projects" and "Closed Projects" are links nor the mouse pointer changes.

It's hard to find out to click on red or green colored textboxes :)

[2015-03-08 11:47] ty221 commented on #38
Fixed in #39

[2015-03-08 11:47] #38 closed

[2015-03-08 16:40] andibraeu opened #40 "Markdown doesn't work on project page"
I created a new project page, on github it's formatted in the right way: https://github.com/fossasia/labs.fossasia.org/blob/gh-pages/_posts/2015-03-08-toolbox-fossasia-api.md

but the result doesn't work: http://labs.fossasia.org/posts/toolbox-fossasia-api.html

can someone please fix it?

[2015-03-09 03:23] samarjeet27 commented on #40
@andibraeu the link is working

[2015-03-09 03:34] RoonyH commented on #40
@samarjeet27 the link is working but formatting is wrong. for example see bulletpoints. Would be great if you can take a look.

[2015-03-09 08:12] samarjeet27 commented on #40
Fixed in https://github.com/fossasia/labs.fossasia.org/pull/41

[2015-03-09 08:19] #40 closed

[2015-03-16 05:59] mariobehling opened #43 "Fix spelling mistakes throughout the site, in particular correct non-capital letters"
Looks like there are a lot of sentences and words that should be capital in small letters. Let's stick to standard English as much as we can. Please help to fix that.

[2015-03-16 06:05] mariobehling opened #44 "Categorize GSoC Ideas according to topics/projects and show them "bundled""
1) Categories:
* loklak
* FashionTec
* Free Networks
* Small Talk
etc.

2) Show "Table of Contents" that "anchors/links" to the area of the page

[2015-03-16 06:11] mariobehling opened #45 "Change "Home" to link to labs.fossasia.org and add tab "Blog" to "tab menu""
![screenshot from 2015-03-16 14 10 28](https://cloud.githubusercontent.com/assets/1583873/6661378/5b3b1caa-cbe6-11e4-9ab8-5d56fe13d988.png)

[2015-03-17 08:17] samarjeet27 commented on #45
Done https://github.com/fossasia/labs.fossasia.org/pull/46

[2015-03-17 08:20] mariobehling opened #47 "Add links to projects ideas"
@andibraeu @eMBee
Add Links including:
* URL of project
* Repository
* Mailing List of project
* IRC
* Blog
* Twitter
* Facebook

[2015-03-17 08:23] #45 closed

[2015-03-17 08:56] mariobehling commented on #44
So, we need something like that
* On top table of contents
* in the main area heading generated from category in projects
<h2>loklak search</h2>
Project xyz
Project uyl
Project jho
<h2>Free Networks</h2>
Project lop
Project jjkj
<h2>Steam</h2>
Project agc
Project hhh

[2015-03-17 09:14] samarjeet27 commented on #44
@mariobehling should this be on the main page or both the open and closed pages ? We could add a ```category``` in the yaml frontmatter of the post to achieve this.

[2015-03-17 13:16] samarjeet27 commented on #44
Done in https://github.com/fossasia/labs.fossasia.org/pull/49

[2015-03-18 00:55] mariobehling commented on #44
Ok, very good.

Now, instead of writing a "table of contents", we need a table of contents on top. The actual thing.

Please change categories to "h2" and projects heading to "h3".

[2015-03-18 00:57] mariobehling commented on #44
See for example a wiki. On the top is a table of contents linking to all projects on the page. http://wiki.freifunk.net/Ideas

[2015-03-18 06:09] samarjeet27 commented on #44
@mariobehling added a table like the freifunk's ideas and updated the heading tags in https://github.com/fossasia/labs.fossasia.org/pull/50

[2015-03-18 06:45] mariobehling opened #52 "Smaller projects area disappeared"
Smaller projects area disappeard and the following shows up in text:

 * * * {:.color-cyan} ## Smaller projects that you can work on as demonstration of your skills

[2015-03-18 06:46] mariobehling opened #53 "Develop the FOSSASIA Event App does not have a grey info table"
![screenshot from 2015-03-18 14 46 03](https://cloud.githubusercontent.com/assets/1583873/6703964/94528404-cd7d-11e4-829a-7d47e1d9a2e8.png)

[2015-03-18 07:09] samarjeet27 commented on #53
Fix in https://github.com/fossasia/labs.fossasia.org/pull/54

[2015-03-18 07:13] samarjeet27 commented on #52
Fixed in https://github.com/fossasia/labs.fossasia.org/pull/54

[2015-03-18 07:14] samarjeet27 commented on #44
Done in https://github.com/fossasia/labs.fossasia.org/pull/54

[2015-03-18 07:55] #52 closed

[2015-03-18 07:56] mariobehling commented on #44
Generate categories from "Category" in posts automatically instead of hard-coding categories.

[2015-03-18 07:56] #53 closed

[2015-03-18 07:57] mariobehling opened #55 "On ideas page - make lists into normal headings and paragraphs and get rid of indemnation"

[2015-03-18 08:01] mariobehling opened #56 "Improve table of contents layout"
Change the table layout to appear without bullets. Set up to table of contents to work with section headings of project headings that are indemned.

Community Tools
    Develop the FOSSASIA Event App
    Timeline and Search Navigation for loklak.net
    Extend toolbox for FOSSASIA (and Freifunk) API
FashionTec
    Develop a library to support knitting machines
    Develop a gui to support knitting

[2015-03-18 08:39] mariobehling commented on #55
![screenshot from 2015-03-18 16 38 42](https://cloud.githubusercontent.com/assets/1583873/6705203/4e31d12c-cd8d-11e4-88e1-1a8ca89f879f.png)

Not sure, where is the code and why is it indemned.

[2015-03-18 08:40] mariobehling opened #59 "Add grey table as in overview page to project pages"

[2015-03-18 08:40] mariobehling opened #60 "Add all content to overview "ideas page" - no need to click many times. Just add all the text to the overview page as well"

[2015-03-18 08:41] mariobehling opened #61 "FOSSASIA updates area - form area too long"
![screenshot from 2015-03-18 16 41 10](https://cloud.githubusercontent.com/assets/1583873/6705235/a5d592b0-cd8d-11e4-9901-e777d6f14f7b.png)

[2015-03-18 08:54] #55 closed

[2015-03-18 08:56] mariobehling commented on #44
Currently Categories do not show up.

[2015-03-18 09:12] samarjeet27 commented on #44
It shows up locally after https://github.com/fossasia/labs.fossasia.org/pull/63

But there are no changes in the labs.fossasia.org site

![screen shot 2015-03-18 at 2 40 34 pm](https://cloud.githubusercontent.com/assets/2987087/6705635/d41d21d0-cd7c-11e4-8c87-13acbe18d11b.png)

[2015-03-18 22:38] ty221 commented on #61
I didn't meet this error, but implemented workaround, which should block it forever on every one device.

[2015-03-18 22:38] #61 closed

[2015-03-19 12:46] RoonyH commented on #44
I made cloudflare rocket loader ignore custom.js script in 90dd23f6a03976a9 and it seems categories are showing now. So It was because for some reason cloudflare was serving an old version of the file. @mariobehling could you invalidate cloudflare cache for this file? so we can have it loaded from cloudflare again.

[2015-03-19 13:35] samarjeet27 commented on #44
@RoonyH I tried that too in https://github.com/samarjeet27/labs.fossasia.org/commit/c1df95372b54f80fe091d3ec52cd68ef7e6a34b8 but the script doesn't work then because it can't find jQuery.
see this -
![screen shot 2015-03-19 at 7 03 15 pm](https://cloud.githubusercontent.com/assets/2987087/6731405/c71e0dde-ce6a-11e4-9dd0-34e3b5ea962a.png)
maybe it's because all the other libraries are loaded asynch

[2015-03-19 13:42] RoonyH commented on #44
@samarjeet27 I don't think that attribute makes sense in samarjeet27.github.io domain. Its not served through cloudflare.

Btw categories that does not have any projects under them show up in "Smaller projects that you can work on " section. You know a way to fix it?

[2015-03-19 13:50] samarjeet27 commented on #44
@RoonyH that's the console output of labs.fossasia.org and not my repo's site. The custom.js contains some code which removes the categories which do not have a project in it. All the undesired categories show up because the script is not able to run

[2015-03-19 14:03] RoonyH commented on #44
@samarjeet27 ah. understood. the link to your repo confused me. Yeah that's probably it. We need cf cache updated. Anyway why use js? Can't this be done on the server in the build time?

[2015-03-21 17:47] samarjeet27 commented on #44
@RoonyH @mariobehling guess the cf cache has been updated, seems to work now.

[2015-03-21 20:06] ty221 commented on #44
CF maximum cache is 5 days. Sometimes it is shorter. CF has own algorihtms
to determine proper caching for files. If something remains unchanged, I am
sorry. We can purge cache manully, but doing that after each commit will be
bit tiring and likely impossible. I gonna read Cloudflare API
documentation, we can write a script to automatize cache purging.

sob., 21 mar 2015 o 18:47 użytkownik Samarje

[2015-03-22 05:51] sudheesh001 commented on #59
@mariobehling Can you describe more about this issue ? The grey table that's used int he overview page lists the project mentor, potential links etc.., Not all projects have these details which could be made into a table on the project page ? What is the expected solution there ?

[2015-03-22 06:44] samarjeet27 commented on #56
Done in https://github.com/fossasia/labs.fossasia.org/issues/70

[2015-03-23 15:04] #56 closed

[2015-03-23 15:07] mariobehling opened #71 "Increase table of contents to use all available width + do not indent first headings"
e.g. do not indent "community tools"

[2015-03-23 15:11] mariobehling commented on #71
Please try to avoid list tags <ul> and <li> instead just use line breaks. Reason: If we change the style for lists, we might change other parts of the site and divert from the style of other FOSSASIA sites.

[2015-03-23 15:19] mariobehling commented on #59
I do not understand your question. Here is the screenshot of a table
![screenshot from 2015-03-23 16 18 05](https://cloud.githubusercontent.com/assets/1583873/6783109/56b2c4ca-d178-11e4-9cc9-19d3988bfd60.png)

That table should also be on the project page here for example: http://labs.fossasia.org/projects/fossasia-event-app/

[2015-03-23 16:01] ty221 commented on #59
Fixed in https://github.com/fossasia/labs.fossasia.org/commit/7ab4f7a510b1389a6330420053dc94a363cf92df

Table has been added.

[2015-03-23 16:23] ty221 commented on #60
Did you mean something like that? :D

[2015-03-23 22:40] mariobehling commented on #59
Thanks a lot. Please remove the horizontal line before the table.

[2015-03-23 22:41] mariobehling commented on #60
Thanks for the improvement.
a) Please remove the large space between the text and the table.
b) Please increase the space between the table and the next project heading.

![screenshot from 2015-03-23 23 40 09](https://cloud.githubusercontent.com/assets/1583873/6792204/28fb8c40-d1b6-11e4-958b-220306d3214d.png)

[2015-03-24 05:57] samarjeet27 commented on #71
@mariobehling you mean to avoid list tags in the table of contents ?

[2015-03-24 06:02] mariobehling commented on #71
I mean do not make it into a list. I think it is better to use just line breaks. No "<ul>" tags.

[2015-03-24 12:09] mariobehling opened #75 "Implement automatic conversion of links"
E.g. check out here: http://labs.fossasia.org/projects/knitting-machine-library/
Links are not automatically made into clickable links.

[2015-03-24 13:05] samarjeet27 commented on #75
@mariobehling, they need to be formatted as links in markdown. Jekyll doesn't contain any methods to convert them automatically.
Fixed links in https://github.com/fossasia/labs.fossasia.org/pull/76

[2015-03-24 13:05] samarjeet27 commented on #71
Done in https://github.com/fossasia/labs.fossasia.org/pull/76

[2015-03-24 13:38] mariobehling opened #77 "Change "h3" ideas/project headings to "h2" on ideas page"

[2015-03-24 13:39] mariobehling commented on #75
Thanks! Such a pity, cause in the preview they are converted automatically.

[2015-03-24 13:39] #75 closed

[2015-03-24 13:45] samarjeet27 commented on #75
@mariobehling, in which preview ?

[2015-03-24 14:09] #77 closed

[2015-03-24 14:10] mariobehling commented on #75
github preview here for example: https://github.com/fossasia/labs.fossasia.org/blob/gh-pages/_posts/2015-03-04-ayab-port.md

[2015-03-24 14:12] #59 closed

[2015-03-24 14:12] #71 closed

[2015-03-24 14:13] #47 closed

[2015-03-24 14:19] #60 closed

[2015-03-24 14:49] #43 closed

[2015-03-25 13:43] #44 closed

[2015-09-24 02:57] SaptakS opened #84 "fields for subscribe are dissimilar on different pages"
In the home page (http://labs.fossasia.org/), the subscribe form has two input fields- name and email. But in all other pages, the subscribe form has only one input field - email

[2015-09-24 10:15] samarjeet27 commented on #84
Are you sure ? There are only 2 pages in the site other than the homepage i.e the ideas and archive and both show the Name and Email field in the subscribe form on my system. See the screenshot below -

**Home Page**

<img width="965" alt="screen shot 2015-09-24 at 3 36 45 pm" src="https://cloud.githubusercontent.com/assets/2987087/10070739/2253be8c-62d2-11e5-8eeb-f07ee0ec4e04.png">

**Ideas Page*

[2015-09-24 10:53] SaptakS commented on #84
what about the other parts such as the events and code of conducts?? Those doesn't come under this website?? http://blog.fossasia.org/events

[2015-09-25 09:49] samarjeet27 commented on #84
Oh Okay. But that's a separate codebase and not part of this repo.

[2015-09-25 19:42] SaptakS commented on #84
Ok. I saw that.

[2015-09-25 19:42] #84 closed

[2015-11-22 03:00] harjot4995 opened #85 "Modal for FOSSASIA update form"
The form for FOSSASIA updates redirects to a page at http://fossasia.createsend.com/t/t/s/ for Response  message.

![fossasia](https://cloud.githubusercontent.com/assets/8307322/11321810/06f1112c-90f3-11e5-93fe-74d0766e0bc3.png)

Having a Modal window would improve UI and Styling.

[2015-11-22 16:38] tradzik commented on #85
@harjot4995  Thanks for your report! Do you suggest we should add somekind of prompt instead of redirection? I like current version, but we can change it if it is better.

[2015-11-22 19:09] harjot4995 commented on #85
@tradzik There's no problem the way it works but I thought it might be better if a prompt would display the message rather than redirecting to another page.

[2015-11-22 19:19] tradzik commented on #85
@harjot4995 Thanks for clarificaiton. @mariobehling Does this mailing service provide us a tool to display a prompt or we should write that at our own?

[2015-11-24 07:29] harjot4995 commented on #85
@tradzik Let me know if I can also contribute, I'm looking for an opportunity.

[2015-11-24 20:49] tradzik commented on #85
@harjot4995 Sure, your contribution will be very appericated! If you want to work on this issue, you can try to design a modal window and submit pull request to this repository, or if you prefer working on something different, you can pick up something to work on from our list of issues - https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+org%3Afossasia+

[2015-12-23 18:55] opg7371 commented on #85
what kind of a prompt..i would also like to contribute to your code...pl walk me through the coding styles in this one.@tradzik

[2016-01-04 19:50] vipul-sharma20 opened #86 "Fix content of ideas.md"
the [ideas.md](https://github.com/fossasia/labs.fossasia.org/blob/gh-pages/ideas.md) file does not look right. I think the ideas section contains code of some templating language which should be fixed and the correct content should be added using markdown syntax.

[2016-01-08 18:25] aryasaatvik commented on #86
@vipul-sharma20 the site is built with jekyll which uses liquid template engine requires the syntax in ideas.md
ideas.md is basically a webpage on http://labs.fossasia.org/about
it is not supposed to be a readme.md sort of page, therefore this issue is not valid

[2016-01-08 18:28] vipul-sharma20 commented on #86
@aryasaatvik Thanks for the info. This clears everything. Closing the issue

[2016-01-08 18:28] #86 closed

[2016-01-14 14:51] alan-aipe commented on #85
@tradzik Is this issue still open?

[2016-01-20 22:24] #85 closed

[2016-01-21 10:25] mariobehling opened #87 "OpenCoin Digital Cash App"
OpenCoin is a true digital cash system, similar to the former DigiCash/eCash based on tokens and providing real anonymity. A prototype wallet app is already available and has been written in JavaScript. Project scope is to implement a mature wallet with additional features (e.g. p2p transactions, encrypted wallet, QR codes), better look and feel and platform independent (e.g. C, JavaScript+PhoneGa

[2016-01-21 10:26] mariobehling opened #88 "Improve the tooling for the sTeam collaboration platform"
Open sTeam is a collaboration platform developed at the University of Paderborn in germany. It is no longer developed at the university, but still in use.

One of the shortcoming of sTeam are development tools. sTeam supports a remote commandline and editing interface, and prototypes for exporting the sTeam database to git.

In this project you will create new and improve existing commandline tool

[2016-01-21 10:38] mariobehling opened #89 "Create or improve the GSoC-Idea page with a sorted list of issues using the GitHub API"
**Objective**

Create or improve the GSoC-Idea page with a sorted list of issues tagged with the label "GSoC" in the [issue tracker of labs.fossasia.org](https://github.com/fossasia/labs.fossasia.org/). Please use the [github API](https://developer.github.com/v3/issues/) to get the data

**Requirements**

- use Github API https://developer.github.com/v3/issues/
- website is http://labs.fossasia.or

[2016-01-22 09:10] SaptakS commented on #89
I would really like to work on this..

[2016-01-22 09:51] SaptakS commented on #89
Should I modify the ideas.md or ideas.html?

[2016-01-22 11:48] mariobehling commented on #89
@SaptakS just create a temporary gsoc.html Thank you

[2016-01-22 12:16] rohangoel96 commented on #88
@mariobehling , I'm familiar with both JAVA and Python and am comfortable using linux. I would be glad if I am allowed to work on this.

[2016-01-22 13:36] mariobehling commented on #88
At the moment we are still collecting the ideas. In order to have a nice ideas site, this issue is the top priority: https://github.com/fossasia/labs.fossasia.org/issues/89

[2016-01-22 21:01] mariobehling commented on #89
So, I have added the new site at https://github.com/fossasia/labs.fossasia.org/tree/gh-pages/new

There are two files gsoc.html and archive.html. The first goal is to replicate the tables of content and content as shown in the original page (but using the data from github instead).

![screenshot from 2016-01-22 22 01 05](https://cloud.githubusercontent.com/assets/1583873/12522902/b8f1f50e-c153-11e

[2016-01-22 21:06] rohangoel96 commented on #89
I am working on this

[2016-01-22 21:18] mariobehling opened #91 "Implement a REST API server in Smalltalk"
To allow creating javascript websites with Smalltalk as a backend, implement a RESTful API to manipulate Smalltalk objects. (list, retrieve, update, add, delete)

Initially the API will focus on a narrow set of objects representing users and documents (files), and, if time allows, may expand to access any object in the server.
Mentors 	Martin Bähr
Skill Level 	medium to advanced
Skills 	Smalltalk,

[2016-01-22 21:18] #91 closed

[2016-01-22 21:19] mariobehling opened #92 "Plugins for ExpEYES - An Open Source Portable Science Lab"
ExpEYES ( Experiments for Young Engineers and Scientists) is an Open Hardware and Free Software framework for developing science experiments and classroom demonstrations. This project worked on developing a set of plug-ins for ExpEYES. These plug-ins with GUI’s enhances the scope of ExpEYES for using it to perform several experiments in mechanics, sound and waves. Project also focused on adding fe

[2016-01-22 21:20] #92 closed

[2016-01-22 21:21] mariobehling opened #93 "Timeline and Search Navigation for loklak.net"
**About loklak**

loklak is free software hosted on loklak.org which provides message search results from twitter in json format.

**Task**

loklak is a complete search engine back-end solution with a JSON api. What is missing to provide a search web page is a web page design showing the json search results as timeline in the style of a twitter search result.

Basically it should look like https:/

[2016-01-22 21:22] mariobehling opened #94 "Extend toolbox for FOSSASIA (and Freifunk) API"
Web development, Application Coding, UI Design, Statistics, Visualization

FOSSASIA API is set of tools to gather information about Open Source Communities. All data should be hosted and maintained by the communities itself.

As of now we have a lot of tools we can work with:

[code]

Goal of this project is to extend the toolbox, create new tools or enhance existing ones. Possible parts could be:

[2016-01-22 21:24] mariobehling opened #95 "Additional Plugins and Features for Knitting Machine Software"
Tasks:
- Projects have to be compatible to Ayab, Knitic, Passap, OpenKnit, others DIY knitting machines
- New plugins for the various hacks
- Implement features for pattern creation and pattern changes
- Add pro-features like: Set of repeating pattern drawing pixel, converting scans of sample slides to pixel patterns etc.
- We would love it if there is a generic, open format for knitting patterns

[2016-01-22 21:26] rohangoel96 commented on #89
@mariobehling , I'd like to work on this but which file do I edit? gsoc.html or archive.html? Also, the new page that I create as to look like the image that you have posted above, right?

[2016-01-22 21:27] mariobehling commented on #89
@SaptakS Already got this started. Please check out gsoc.html and archive.html to implement the functionality.

[2016-01-22 21:29] mariobehling commented on #89
Here is a link to gsoc.html labs.fossasia.org/new/gsoc.html
As you can see, there are lots of things to do. At first get the URLs working, make a "read more link" etc. Later on the site should be plugged into the design of labs.fossasia.org/new/

[2016-01-23 04:52] rohangoel96 commented on #89
I'll try my best

[2016-01-23 19:09] mariobehling commented on #89
@SaptakS @rohangoel96 I have added a page in new design as ideas.html

Please help to insert the ideas here "<ADD GSOC PROJECTS LIST>" on line 139. Cheers. If possible keep the rest of the page unchanged, so I can edit these paragraphs independently. Cheers.

[2016-01-23 20:00] Abhi2424shek commented on #89
@mariobehling I see can I too help out! It's my task at GCI so I would give out a PR in a short while. OK!

[2016-01-24 05:33] rohangoel96 commented on #89
Anything else that I can work upon @mariobehling

[2016-01-24 06:08] Abhi2424shek commented on #89
It would be nice to do the other tasks or improve the design of the table, or something else. But please do start only on issue stated by the mentor! :) - Happy coding @rohangoel96. cheers.

[2016-01-26 00:06] mariobehling commented on #89
Good job! Let's make a small improvements.

- [ ] Please expand the width of gray area in line with the site design. Please see below.

![screenshot from 2016-01-26 01 00 27](https://cloud.githubusercontent.com/assets/1583873/12568778/df21ecb2-c3c8-11e5-8d91-4b1f6d7b2fb4.png)

- [ ] Also check that the area uses the maximum width on mobile devices with small screens.

[2016-01-26 06:00] rohangoel96 commented on #89
I am working on it, @mariobehling

[2016-01-26 12:01] #89 closed

[2016-01-28 10:04] mariobehling opened #109 "Create a social media wall using the loklak API"
**Objective**
Develop a social media wall app for loklak.

**Requirements**
- For project issues and questions use tracker of loklak server https://github.com/loklak/loklak_server
- Make use of loklak API http://www.loklak.org/api.html

**Expected Outcome**
- Sample of a similar social media wall is here: http://www.wallofsocial.com
- Final project should be hosted on FOSSASIA or loklak github

[2016-01-28 13:52] rag594 commented on #94
@mariobehling ,I'm familiar with javascript and python and would love to work on this project

[2016-01-29 04:41] manishbisht opened #110 "GSOC 2016 Official Fossasia Website"
Hello Everyone,

I want to make some contributions on Fossasia. So I have one idea can we make the official website of the GSOC 2016 like on the domain gsoc16.fossasia.org or the other domain you like. On that page all the details related to mentors and ideas will be put there and we can write there some useful tips for the students to get selected in GSOC 2016.
It will be very useful for the stud

[2016-01-29 04:47] manishbisht commented on #94
@mariobehling I am intrested in this project. I am familier with HTML, CSS, Javascript and PHP. I have developed the whole website of http://www.run4offers.com. I am beginner in Python and love to learn the other i.e. RSS and ICS to complete this project. :)

[2016-01-29 04:54] manishbisht commented on #93
@mariobehling  I'm intrested in this project. I am familier with HTML, CSS, Javascript and PHP. I have developed the whole website of http://www.run4offers.com. I have the advanced level in bootstrap. I will love to complete this project. :)

[2016-01-29 10:52] shashank19gaurav commented on #109
Hi Mario,
I would like to work on this mini project.

[2016-01-29 11:23] naveenjafer commented on #87
@mariobehling  Hi, I have a few questions, it would be great if you could help me out.
1) The prototype wallet that you have mentioned about, could I have a link to it's repo? Or is this what you mentioned? https://github.com/OpenCoin/opencoin-js I am well versed with JS and a strong hold of cryptography along with a sound SQL background.
2) Are you looking for an app for mobile or desktop environ

[2016-01-29 12:40] sopu commented on #109
Hi @mariobehling, I would like to work on this project.

[2016-01-29 12:44] sopu commented on #109
Hi @mariobehling, I would like to work on this project.
Planning to use masonry for cascading grid layout and handlebars for templating.

[2016-01-29 13:40] naveenjafer commented on #94
@andibraeu Hi, I am interested in knowing more details about what exactly you have in mind for the framework to build charts of API data. I have worked over the summer with visual aggregation of data from facebook and youtube for WATConsult and have good experience on the same

[2016-01-29 22:06] sopu commented on #109
I have created a basic layout for the wall. Please suggest the modifications required.
![screenshot from 2016-01-30 03 34 29](https://cloud.githubusercontent.com/assets/6399612/12689380/987de6ca-c702-11e5-80bd-d6c9225cfb6c.png)

[2016-01-29 22:07] sopu commented on #109
I have created a basic layout for the wall. Please suggest the modifications required.
![screenshot from 2016-01-30 03 34 24](https://cloud.githubusercontent.com/assets/6399612/12689412/ba01d568-c702-11e5-9052-4b9f8dd93521.png)

[2016-01-31 07:35] aayusharora commented on #93
Hi,@mariobehling ,I am contributing to Fossasia from past one month with gci15 website and Open event webapp,I know HTML5,CSS3,Bootstrap,Materialise CSS and Angular JS .I will like to contribute into this. :)

[2016-01-31 08:28] aayusharora commented on #94
@mariobehling ,I am interested in this project, I have experience with frameworks of JS like Angular,For data visualisations ,I am interested in knowing more,I will love to work with D3.js.

[2016-02-01 04:31] singbird81 commented on #87
@mariobehling I am familiar with Android and iOS native developement.
May I ask this project is for app front-end side or server side? I would be glad if I can contributed to it. :)

[2016-02-02 13:13] anirudhk68 commented on #88
@mariobehling , I'm familiar with JAVA ,Python and web development. i am comfortable using linux. I would be glad if I am allowed to work on this.

[2016-02-02 14:52] sopu commented on #109
@mariobehling please checkout https://github.com/sopu/loklak_server.git
The page for 960px width.

![screenshot from 2016-02-02 20 21 31](https://cloud.githubusercontent.com/assets/6399612/12752909/92ec8d8e-c9ea-11e5-91c6-24b4602e8b47.png)

[2016-02-02 17:23] eMBee commented on #88
a requirement to participate in GSOC is the ability to form independent thought and communicate on your own without copying others.

[2016-02-04 08:33] SilentFlame commented on #110
@manishbisht  yes thats a good idea indeed. As recently we had an official website for just the GCI-16 participants and mentors.

Would love to contribute to this thing, I'm in.

[2016-02-05 06:30] nishnik commented on #93
@mariobehling I have developed these two websites:

- [Code-O-Soccer](http://event.krssg.in/)

- [KRSSG](http://krssg.in)

and I am quite familiar with HTML5, CSS3, bootstrap, PHP and Javascript. Apart from it I assure you about my abilities to google. Furthermore, I have good hold on scraping websites (Example: [hello-flipkart](http://nishantnikhil.weebly.com/blog/hello-flipkart)) and have used m

[2016-02-05 11:23] rishsethia commented on #87
@mariobehling I am android developer and really wanted to do this project as part of GSOC , if we can develop it platform specifically for android!

[2016-02-07 13:32] niccokunzmann opened #111 "Improve the game Flappy SVG"
**Context**
[Flappy SVG](http://fossasia.github.io/flappy-svg/) is in open source game which you can contribute to.

**Objective**
Learn about how to contribute to projects on github and improve the game. We have [tasks](https://github.com/fossasia/flappy-svg/tree/master/tasks#tasks) you can choose from and several [issues](https://github.com/fossasia/flappy-svg/issues) you can solve.

**Requireme

[2016-02-09 02:43] alan-aipe commented on #110
Ya.. thats a nice idea.. I will also like to join ... Count me in @manishbisht  @SilentFlame

[2016-02-10 18:37] sumitbhanu commented on #87
how can i contact mentors ?

[2016-02-11 05:24] manishbisht commented on #110
@mariobehling Can we three work for the GSoC Webiste ? @SilentFlame @alan-aipe

[2016-02-12 07:37] ashutoshsaboo commented on #110
I have been working on Web Development since a long time. I would appreciate if I could work on this. So, Can I contribute to making this website, with all the relevant links? So, we can get started now itself! :)

[2016-02-12 07:46] ashutoshsaboo commented on #88
@mariobehling Hi! I am new to open source, but recently I have been working and actively involved with several open source organizations, trying to solve bugs. I usually prefer Python/Java/C/JavaScript as my mode of programming, as I am a bit acquainted with these. I would like to work and contribute towards this project? How do you suggest I must start? Or would you suggest me some other bugs to

[2016-02-12 10:17] mariobehling commented on #110
The focus of FOSSASIA is to see the development of software. Also students should keep information on their blog or on projects site. GCI is a different thing as it has an educational focus as well. Currently there is no need for a website. Please put your energy into software projects.

[2016-02-12 10:17] #110 closed

[2016-02-12 10:18] mariobehling commented on #110
If you want to help there are more than 90 issues here: https://github.com/loklak/loklak_webclient/issues

[2016-02-12 15:40] PaliwalSparsh commented on #95
I am little bit confused as the Skills specified here are web on looking at the source code the code contains python and c++, would be great if you can clear that.

[2016-02-13 11:40] rajansavaliya commented on #93
I want to work on this project. Where is issue related to this project? For working on this project for gsoc, I should do any projects (related to required skill ) which are available on github right now?

[2016-02-13 22:26] gvaibhavraj2 commented on #94
@mariobehling Hi, I have previously worked on using API's data visualization in terms of bar_graphs,groups,stats etc. Also I have prior experience in frameworks like Django,Angular. I am interested in contributing to this tool.

[2016-02-15 06:20] amritsinghbains commented on #93
I made a twiiter social wall. It hosted on github. I would like to include other APIs from Facebook, Instagram, Snapchat etc

http://fillersocial.github.io/socialwall.html

[2016-02-15 09:48] VishalRocks commented on #94
@mariobehling Hi. I have worked in PHP, HTML, Javascript, React, Meteor, jQuery, Rails etc and am very passionate about web development. Apart from this, I have worked with R and Octave for machine learning and statistics analysis. I am interested to contribute for this project.

[2016-02-15 09:52] VishalRocks commented on #93
@mariobehling Hi. I have worked in PHP, HTML, Javascript, React, Meteor, jQuery, Rails etc and am very passionate about web development. I am interested to contribute for this project.

[2016-02-15 21:19] gvaibhavraj2 commented on #93
@mariobehling I have made the layouts for social wall and search timeline.For now I have made the design and will be using masonry library and other technologies like angular js,css to implement it.
![12755404_1009734942425878_363404778_o](https://cloud.githubusercontent.com/assets/7159037/13060492/e3ad14c4-d457-11e5-91bb-8aa4b36d64dd.jpg)
![12499303_1009734945759211_1396242684_o](https://cloud.gi

[2016-02-16 10:40] SaptakS commented on #94
@andibraeu @mariobehling I would really like to work on this project. I have worked in PHP, HTML, CSS, Javascript, jQuery, AngularJS, Django, FLask and various databases as well. Have experience of working with Github API(made the GSOC ideas page for FOSSASIA using github API) and Loklak API(mentored GCI tasks based on loklak server). I have also worked in the open-event project of FOSSASIA. I hav

[2016-02-17 06:31] kamishettysreeja25 commented on #94
@mariobehling I would like to work on this project . I have  experience in Python,HTML,CSS,Javascript.I have done 3-4 projects using these tools . I would love  to work on this project and would be really glad if you give me a  chance to work on this project.
Thank You

[2016-02-18 08:40] casyazmon commented on #88
@mariobehling  Hi! am a second year under graduate computer engineering student and i have been using the  linux OS for some years now. I have Java, Python and  C programming skills. I am very much interested in open source projects and will like to contribute towards the development of this project. Please i will like to know more about the project and how to start contributing.
Thanks.

[2016-02-18 08:40] casyazmon commented on #88
@mariobehling  Hi! am a second year under graduate computer engineering student and i have been using the  linux OS for some years now. I have Java, Python and  C programming skills. I am very much interested in open source projects and will like to contribute towards the development of this project. Please i will like to know more about the project and how to start contributing.
Thanks.

[2016-02-18 08:40] casyazmon commented on #88
@mariobehling  Hi! am a second year under graduate computer engineering student and i have been using the  linux OS for some years now. I have Java, Python and  C programming skills. I am very much interested in open source projects and will like to contribute towards the development of this project. Please i will like to know more about the project and how to start contributing.
Thanks.

[2016-02-18 08:40] casyazmon commented on #88
@mariobehling  Hi! am a second year under graduate computer engineering student and i have been using the  linux OS for some years now. I have Java, Python and  C programming skills. I am very much interested in open source projects and will like to contribute towards the development of this project. Please i will like to know more about the project and how to start contributing.
Thanks.

[2016-02-18 08:40] casyazmon commented on #88
@mariobehling  Hi! am a second year under graduate computer engineering student and i have been using the  linux OS for some years now. I have Java, Python and  C programming skills. I am very much interested in open source projects and will like to contribute towards the development of this project. Please i will like to know more about the project and how to start contributing.
Thanks.

[2016-02-18 08:41] casyazmon commented on #88
@mariobehling  Hi! am a second year under graduate computer engineering student and i have been using the  linux OS for some years now. I have Java, Python and  C programming skills. I am very much interested in open source projects and will like to contribute towards the development of this project. Please i will like to know more about the project and how to start contributing.
Thanks.

[2016-02-18 20:37] ajinkya007 commented on #88
@mariobehling @eMBee Hello, I would like to work on this STeam project. I have been experimenting with different flavours of linux because of which I have familarity with cli, vim and git. I have programming skills in C++,Java and Python. Since pike is a dynamic language with oop paradigm, I would like to explore it more. Looking forward to contribute to this project.
Cheers! :)

[2016-02-18 20:53] ajinkya007 commented on #95
Would be obliged to get a chance to work on this. Looking forward for having a great  coding summer.
Thanks!

[2016-02-21 06:34] milindra commented on #93
Want to contribute what modification should i do

[2016-02-21 17:41] uttpal commented on #94
@andibraeu @mariobehling I would like to conribute to this project, I am skilled in  javascript, python, Node.js, Flask, Django, Angular js, Mongo DB. Developed many Apps on MEAN stack [Feature Rich ToDo app](http://new-56605.onmodulus.net/ ). I am keen toward learning new technologies, please consider my request.

[2016-02-24 22:42] Orbiter opened #112 "Add IoT features to the Open Tweet Platform loklak.net and offer more visualizations with maps"
Add IoT features to the Open Tweet Platform loklak.net and offer more visualizations with maps. Currently there are many feature requests open for the loklak.net portal.

**Potential feature projects include:**
- View more data on maps
- Analyse tweets in comparison to other data
- Support development of sentiment analysis
- Implement Internet of Things devices

**Links**
- [Github Project](https:

[2016-02-24 22:45] Orbiter opened #113 "Internet of Things IoT prototype using RPi/Odroid/Arduino hardware and a loklak back-end"
The loklak.org server is capable of storing tweet-like geo-enriched event-tracking data. All the server storage and indexing infrastructure is there to provide a back-end for a community-driven platform of IoT devices. We need a prototype which shows the combination of a small smart device, a measurement task and a loklak sever which stores the messages from the IoT device.
The task would be, to t

[2016-02-24 22:54] Orbiter opened #114 "Create loklak apps to display and the track the success of FOSS projects"
Each FOSS project can measure it's success with a wide range of tracking data: i.e. how many users, how large is the data, how many commit, how many contributors, how large is the geographic distribution. The tracking of such kind of success parameters can be done with measurement microblog-like data packets which can be stored and provided by a loklak server. loklak already provides an 'app' infr

[2016-02-24 23:57] mariobehling opened #115 "Change link on ideas page"
Currently the links on the ideas page are e.g. "http://labs.fossasia.org/ideas.html#loklak-description"
Please change them to "http://labs.fossasia.org/ideas.html#loklak" taking out "-description".

[2016-02-25 04:18] SaptakS commented on #115
Ok.

[2016-02-25 19:09] Aadesh-Magare commented on #112
Hello
I am Aadesh.
I would love to work on loklak.net (I think it would be a good entry point for me to open source contributions)
can you please point me in right direction to get started ? (some pr-requisites maybe?)

[2016-02-25 19:58] niksj commented on #115
Is it done or
Anyone working on this?
I would like work on this issue..

[2016-02-25 21:40] #115 closed

[2016-02-26 12:09] sopu commented on #112
@Orbiter while working on some issues, I found that some of them can be closed as the required changes are visible on the master branch and some of them have open PRs. It would be great if this can be looked into.
Cheers!!

[2016-02-26 12:43] jig08 commented on #112
@sopu It will be very helpful if you could point to them :)

[2016-02-26 13:40] sopu commented on #112
Open PRs for issues: 445, 520, 558, 562
Issues which have (some work done but) not been followed up or are resolved and not closed: 455, 407, 377(fixed), 330, 319 (few of those)

[2016-02-27 15:37] SaptakS commented on #114
Hi @Orbiter. I have been working with FOSSASIA for sometime now and have used loklak server during GCI to mentor students. I would really love to work on this project. I am very enthusiastic about web technologies and FOSS. I have knowledge of HTML, CSS, Javascript, and various other frameworks of javascript such as angular js, jquery, node js, etc., and python. I would like to know what kind of t

[2016-02-27 17:24] dpocock commented on #114
One of the projects under Debian in 2015 involved tracking data from different projects:

http://danielpocock.com/aggregating-tasks-multiple-issue-trackers-gsoc-2015-summary

and it could be interesting to build on that or use similar concepts, such as the iCalendar data format, where applicable.

[2016-02-29 08:45] niksj commented on #95
I am very enthusiastic for this project.I have sound knowledge and experience in C,C++, python, JAVA and web development(Html, css, javascript, Jquery, php etc..). I have some hardware knowledge too (familiar with Arduino etc..), some knitting knowledge too.

[2016-02-29 09:03] leonmak commented on #93
Hi, I used the loklak server to make a prototype of the [twitter wall with Meteor](http://meteortweetwall.meteor.com/)
Here's my repo: [https://github.com/leonmak/meteor-twitterwall](https://github.com/leonmak/meteor-twitterwall)

[2016-02-29 11:11] kvk30 commented on #88
@mariobehling  Can you please provide me source code link ? Want to work on this project for GSOC 2016 . I have good knowledge in python , ruby , java .

[2016-02-29 12:22] SilentFlame commented on #114
I am a computer science student from IIIT-Hyderabad, India.
I have a good grip in HTML, CSS, javascript, python,etc and had worked on MEAN stack js framework in several of my college project. I have been contributing to FOSSASIA and Open Source from last few months.
I am very much interested in FOSS and web-development, and at the same time enthusiast to learn more and more.
I'm really interested

[2016-02-29 18:35] mariobehling opened #117 "Improve the Open Event Organizer Server and implement missing features"
The FOSSASIA Open Event Project makes it easy for events and conferences to create Web and Mobile micro Apps with schedules and speaker infos. Please support the team, fix bugs and add features to the project.

**Components of Open Event**

The project comprises of a data schema for easily storing event details, a server and web frontend that are used to view, modify, update this data easily by th

[2016-02-29 18:42] mariobehling opened #118 "Change "View on Github" to normal link style, ensure links with images do not have a red surrounding and fix other issues"
1. [x] Please see below. The links should be displayed in the same way as on the labs main page:
   ![screenshot from 2016-03-01 02 39 39](https://cloud.githubusercontent.com/assets/1583873/13404896/f024bc34-df56-11e5-82c1-527276c7405e.png)
2. [x] Please ensure images do not have a link surrounding as below:
   ![screenshot from 2016-03-01 02 41 04](https://cloud.githubusercontent.com/assets/15838

[2016-02-29 18:44] kamishettysreeja25 commented on #118
@mariobehling
I would like to work on this

[2016-02-29 18:52] mariobehling opened #119 "Develop new features for the Open Event Android app, improve performance and usability"
Your task is to develop new features, improve the usability and performance of the the Open Event Android app. You can take ideas from lots of existing apps. Part of the project is also to support the development of other Open Event components to work together with the app. Related projects such as [redata](https://github.com/opendatacity/re-data) are also expected to be taken into account for fut

[2016-02-29 18:55] mariobehling opened #120 "Improve UX add features for the Open Event Web App"
Your task is to develop new features, improve the usability and performance of the the Open Event Web App. You can take ideas from lots of existing apps. Potential features could be social media features. Part of the project is also to support the development of other Open Event components to work together with the app. Related projects such as [redata](https://github.com/opendatacity/re-data) nee

[2016-02-29 19:22] mariobehling opened #121 "Implement APIs from various social media platforms and develop app components for open data social media analysis"
Social media analytics can be very helpful in finding out interesting facts at events and international incidents.

Think of what is happening at conferences. Participants and organizers often want to know:
- During which sessions people tweeted most?
- Who gets more mentions?
- Which track gets more tweets? (track specific hashtag?) etc…

**Task**

Implement APIs from various social media platfor

[2016-02-29 19:43] mariobehling opened #122 "Code a printable circular knitting machine with an optional mini-computer and enhance knitapp"
**Background**

There are commercial circular knitting machines, that are nearly completely made from plastic. A popular modul is the Addi Express. Plastic can be easily printed out on 3D printers. So, we came up with the idea to code a circular knitting machine. As inexpensive small PCs components like the Rapsberry PI and Arduinos become increasingly powerful there is even an option to include t

[2016-02-29 20:05] mariobehling opened #123 "Implement support for additional knitting machines and enhance UX"
**About Knitapps**

The knitapp project allows tailors and artisans to easily utilize, manage and troubleshoot knitting machines, to upload images as patterns, and create and manage patterns. Knitting machines can be connected to devices with a web browser (basically all devices nowadays) like a pad. Just like you can print out anything no matter what printer you use, we would like users to be abl

[2016-02-29 22:06] cyberkoi commented on #121
hey @mariobehling, I am extremely keen on getting onboard this project. I've had previously open source experience with Javascript, EmberJS, HTML5, CSS3 where I co-wrote a plugin for Discourse.org, see project [here](https://github.com/team-melbourne-rgsoc2015/discourse-adplugin).

Currently a final-year student finishing the Diploma of IT. I learn fast and find that this project is most suitable!

[2016-03-01 07:53] SaptakS commented on #120
@mariobehling I have been working on the open-event-webapp project for some time now along with @creativepsyco and @championswimmer . I would really to take up this project for GSOC and contribute to make enhancements and add features.

[2016-03-01 07:56] SaptakS commented on #117
Hi @mariobehling . I have been working on the open event organization server for some time now. I have prior knowledge of Flask, PostgreSQL, python and all the other components used in this project. I would really like to take up this project for GSOC.

[2016-03-01 13:36] Devastrix commented on #119
@mariobehling
I've started working on improving the UI of the app. And I've thought of some new features. I would really like to work on this project for GSOC.

[2016-03-01 17:58] SilentFlame commented on #118
@mariobehling I have some questions regarding the issue:

- Point1: `The links should be displayed in the same way as on the labs main page: ` do you mean that color of the link should not change while hovering on it.

- Point2: only one link of `Gitter chatroom` contains image, either make all as image and I can remove the Underline, or make all as just a link.

- Unable to follow up on point3.

[2016-03-01 23:23] leonmak commented on #93
Not sure if this is the right place to ask this, but are the mentors open to using MeteorJS for any of the loklak fossasia ideas?
I've been playing around with loklak server, and also created a prototype for a twitter wall, [meteortweetwall.meteor.com](http://meteortweetwall.meteor.com) ([github repo](https://github.com/leonmak/meteor-twitterwall))
I think meteor can also be used for the idea on "

[2016-03-02 02:58] aayusharora commented on #120
@mariobehling ,I am working for open-event-webapp with @mananwason and @creativepsyco ,@championswimmer, I have added some new feature like New Twitter Wall #125,its under review ,apart from that I am doing proper testing and reported some important UX bugs and have fixed them .For ex:#123 UX issue in search By Title, Search By Speaker ,solved here #124.
                                I want to c

[2016-03-02 03:35] aayusharora commented on #109
@mariobehling,I have already implemented it in open-event webapp ,I have used loklak to fetch tweets successfully,and applied with animations like http://www.wallofsocial.com ,please check Twitter Wall #125,will be glad if I will be allowed to add some more features like
1.hyperlink rendering
2.more work on UX
Thanks .

[2016-03-02 03:38] aayusharora commented on #109
@mariobehling ,Please check https://github.com/fossasia/open-event-webapp/pull/125 for Twitter wall implemented.

[2016-03-02 03:42] aayusharora commented on #109
@mariobehling https://files.gitter.im/fossasia/open-event-webapp/XfBH/2.png ,already a view was there on gutter .
Please check to have the changes

[2016-03-02 05:54] aayusharora commented on #109
![twitterwall](https://cloud.githubusercontent.com/assets/12194719/13451896/1f97cac0-e069-11e5-9ab3-fa9f99426731.gif)

[2016-03-02 07:50] Zakwani commented on #87
@mariobehling I am new and want to start conributing this opensource project.Can you give me your best responce?

[2016-03-02 07:56] kancharlahemant commented on #121
Hi @mariobehling , I am a student doing my masters in computational linguistics in IIIT-H(India), and I am well exposed to all asian languages. I am very interested especially in the data analysis part. I have some very interesting ideas to discuss. Please get back to me.

[2016-03-02 16:53] sakshamgupta006 commented on #113
Hi I am new to Foss Asia......I am really interested in this IoT prototype...
I am bit confused regarding the part that what information from the IoT device shall be uploaded ion the loklak server (according to that only h/w be managed and s/w will be written).
Please can you be more descriptive as to exactly what you require....

Thanks!!

[2016-03-02 17:35] rishabhs95 commented on #121
Hi @mariobehling, I am a student pursuing Bachelors in Information Technology from BIT, Mesra(India), and this project looks very interesting and suits my current skill set too. I have experience in working with different Web APIs and implementing them on Web Applications using different frameworks(php, laravel, angularjs and nodejs). I would like to further discuss about this idea and can you gui

[2016-03-02 17:42] rishabhs95 commented on #93
Hi @mariobehling, I am a student pursuing Bachelors in Information Technology from BIT, Mesra(India).
I have experience in working with different Web APIs and implementing them on Web Applications using different frameworks(php, laravel, angularjs and nodejs).
This is the second project which I am interested in and I would like to further discuss about this idea too. Please guide me about the furt

[2016-03-03 02:39] joerx commented on #120
I'd be interested in mentoring this one.

[2016-03-03 12:34] leonmak commented on #114
@Orbiter @mariobehling Not sure if this is the right place to ask this, but are the mentors open to using MeteorJS for any of the loklak fossasia ideas?
I've been playing around with loklak server, and also created a prototype for a twitter wall, [meteortweetwall.meteor.com](http://meteortweetwall.meteor.com) ([github repo](https://github.com/leonmak/meteor-twitterwall))
I think meteor can also be

[2016-03-04 09:03] leonmak commented on #109
@mariobehling created one using Meteor,
![](https://github.com/leonmak/meteor-twitterwall/raw/master/public/ss.gif)
https://github.com/leonmak/meteor-twitterwall
http://meteortweetwall.meteor.com
Hosting requires nodejs

[2016-03-04 12:14] mayanksingh0597 commented on #87
@mariobehling How should i contact you.being new to opensource I need to know how can I Contribute to this project.

[2016-03-05 12:19] prateek1095 commented on #121
Hi @mariobehling ,
I am very much interested in taking this project.I have experience on working with Html5,css3Javascript,AngularJs,Bootstrap and have made many web applications.
I have previously contributed to the tweetheatmap which is made using loklak search
api and have some very interesting ideas to implement in it. I would love to discuss these
ideas with you .
Thanks,
Prateek

[2016-03-05 17:38] animesh2049 commented on #121
Hi @mariobehling ,
I am a student of IIIT Hyderabad presently pursuing BTech in computer science.
I am well familiar with the uses of api's (have used youtube and facebook api's for some data extraction purposes) also I am well familiar with the technologies like  Javascript, REST APIs, HTML5, CSS3, JQuery. I would like to contribute for this project. Please guide me through steps to initiate this

[2016-03-05 19:21] championswimmer opened #125 "Add a 'Possible Mentors' field to each idea issue as well"

[2016-03-05 19:22] championswimmer commented on #125
@mariobehling Since you've created the issues, you've have to edit and add this section in each issue.

This would be good for new students to reach out to possible mentors to ask more about the project.

[2016-03-07 06:56] ashutoshsaboo commented on #120
@joerx @mariobehling Hi. I wanted to work towards this. But just a confusion. Are the applicants supposed to build both the Android App as well as the Web App? Or are they only supposed to build on the Web App?

Thanks! :smile:

[2016-03-07 09:53] championswimmer commented on #120
They are separate GSOC tasks

On 7 March 2016 at 12:26, Ashutosh Saboo <notifications@github.com> wrote:

[2016-03-07 18:56] prashant2018 commented on #121
Hi @mariobehling ,
I am a student of KIIT University(India) and would love to contribute to this project. I have experience with REST APIs, Web Scrapping, Data Visualisation and Analytics.I am comfortable with Python, Java ,C,C++,HTML5,CSS3,SQL,Database Designs,Django,Javascript and always ready to learn.
Thankyou,
Prashant Kumar

[2016-03-08 19:52] rajatthakur commented on #88
Hello, I am interested in this project. I have good knowledge of languages like Python and C++. Also I saw the syntax of Pike language which is very easy to take up. I would like to work on this project for this gsoc.

[2016-03-09 11:40] shaheenkdr commented on #114
@Orbiter  Since I had worked on the Loklak Wall app, can I apply for this project?
I'd really love to work on this one too!

[2016-03-09 19:03] shubhamG9 commented on #121
Hi @mariobehling ,
I am very interested in this project and would love to contribute to this project. I am a student of VIT Pune(India) and familiar with HTML5, CSS3,Javascript , Jquery, python,AngularJS. I would love to discuss this project with you and it would be very helpful if you could guide me with further steps.

[2016-03-10 04:31] yasirunilan commented on #87
@mariobehling How can I contact the mentors??

[2016-03-14 17:08] milankarunarathne commented on #87
Hi @mariobehling, it's really nice to meet you here. I'm glad that you have consider about my previous suggestion during GSoC 2016 OpenCoin project. I'm looking into contributing to this project. Tried to contact Jan and Joerg, but unable to get a reply from them. Waiting for any notification about the project.

[2016-03-15 11:28] Prakhash commented on #121
Hi all,
I'm Prakhash a final year student from University of Moratuwa, Sri Lanka. I'm very much interested in this project. Other than few project usages, I don't have a language specific fluency in javascript, but I have worked a lot in Data mining & information retrial related areas, worked in social media platforms like YELP and I have a good understanding about REST APIs. I believe this a very

[2016-03-16 21:33] mariobehling opened #126 "Develop new features for the Engelsystem used for Volunteer coordination at the FOSSASIA Summit"
FOSSASIA uses the Engelsystem hosted by the FFII at https://engel.ffii.org. The system was originally developed for events of the Chaos Computer Club in Germany. There are number of possible improvements of the system, e.g. integration with other services, more features for Admins e.g. contact exports of volunteers, better localization and support of Asian languages.

Development: https://github.c

[2016-03-16 21:41] mariobehling opened #127 "Develop a CommonsNet firmware based on OpenWrt for Conference Networks"
FOSSASIA has used all kinds of set ups for event networks. For large networks there are enterprise solutions that come with a price tag or solutions using standard consumer equipment. OpenWrt and DDWrt are working great when they are configured by experts. However more advanced knowledge is required for conference set ups. We would like to see a "Commonsnet" firmware based on OpenWrt that is speci

[2016-03-16 21:52] mariobehling opened #128 "Develop Website for Standardized Open Networks Agreement similar to Creative Commons"
Creative Commons is a wonderful example how standardized processes can enable millions of people to share freely. What about sharing your Internet connection? Across the world there are different legal settings and requirements for sharing of Internet connections and specifically Open Wifi connections. The Picopeering Agreement already offered a basis for completely free and open sharing: http://w

[2016-03-16 21:58] mariobehling commented on #120
@ashutoshsaboo We can talk about, if projects can be done together or better separately. What we need at the moment is to see that students are able and can code. Other questions can be worked out easily.

There are a number of small issues for the schedule on the website, where interested contributors could work on for example: github.com/fossasia/2016.fossasia.org/issues

[2016-03-16 22:00] mariobehling commented on #125
At the moment, we are looking for code. Questions can be asked in issues of each project.

[2016-03-16 22:00] #125 closed

[2016-03-17 07:21] niranjan94 commented on #117
Hello @mariobehling . I have created a similar web application in PHP (but with a lot of additional features to assist the organizers of events). I was thinking of adding a few of those features into the open event organization server as a part of my GSoC 2016 project.

[2016-03-18 10:59] iamonuwa commented on #120
Am a Nigerian, from the website, I found out that this organization is interested in asian developers. Can I apply from Nigeria?

[2016-03-18 11:00] pheonixlegend commented on #119
I would be more than happy to work on this as it would mean the world to me if i get into the GSOC program. I can do this using json, php n mysql for communication and i can also do a great UI using material design for the android app template. I have already started working on it.

[2016-03-18 23:11] lovemehta commented on #128
Hello Sir,
I am interested in knowing more about the project. Can you please share any useful links that we can follow to get a better idea.
Thanks

[2016-03-19 01:21] aero31aero commented on #128
I am interested in this project. I currently am doing database management and linking with frontend using the MEAN stack, and have used LAMP as well.

The design can be built using simple rules that can be added by the user like "BLOCK PORTS IN RANGE 800-1000" would generate 201 lines of machine readable code, and such rules can be then stored in a database from where we can easily add new kinds o

[2016-03-19 06:40] the-dagger commented on #119
@mariobehling  Can you please have a look at my proposal and let me know if there are any changes that I should make.
Thanks,
Harshit
[GSoCFOSSAsiaProposal.pdf](https://github.com/fossasia/labs.fossasia.org/files/180677/GSoCFOSSAsia.pdf)

[2016-03-19 09:51] kamishettysreeja25 commented on #126
@mariobehling
Can You please tell me who are all  the possible mentors for this project .I can't find them in the  ideas page.

[2016-03-20 10:08] mabhi684 commented on #128
Hi,This is a great idea and I would like to work on it,I would like to know more about the project so that I can draft a proposal!!

[2016-03-21 06:04] Sandeep-AnilKumar commented on #88
Hello, I am a graduate student from University of Illinois at Chicago. I am majoring in computer science and my interest lies in programming languages, and I have worked extensively on Java and JavaScript. I would like to work on this project and would like to learn Pike as well. I will be applying formally soon, and contributing to the project independently too. Thanks,

Cheers!

[2016-03-21 14:02] niranjan94 commented on #117
@mariobehling who are the possible mentors for this project ?

[2016-03-21 14:52] opticod commented on #119
Hi all mentors, @mariobehling
I have submitted my draft proposal **"Develop new features for the Open Event Android app, improve performance and usability"** for review to Google. I will be happy to incorporate any changes required for my proposal.

I've been contributing in open-event-android for some time now. Some of my contributions are:

PRs : https://github.com/fossasia/open-event-android/pu

[2016-03-21 19:18] niranjan94 commented on #117
@mariobehling @rafalkowalski
I have submitted the draft of my proposal through the Google Summer of Code 2016 portal. But, I have not added a mentor in it yet, as I'm not sure who the mentors are for the project.

[2016-03-22 04:51] TheekD commented on #113
Hi, I'm an undergraduate following a Integrated computer engineering major. I have done projects on IoT and worked with R Pi and Arduino. I'm really excited this project and need assistance on learning about the loklak.org server further. Can you help me on that.

[2016-03-22 13:44] crakensio commented on #113
Hi,
I came across this on GSOC project ideas. I was looking for projects on Hardware prototyping. I was impressed by the loklak.org server capabilities. Being a p2p Lover, and a FOSS enthusiasts I would love to add value to this project.

If you provide detailed description on the requirement i would love to  contribute.

[2016-03-22 22:41] aayusharora commented on #120
@mariobehling ,Please suggest possible mentors for this project , so that I can discuss the proposal before finalizing .

[2016-03-24 15:48] PMArtz92 commented on #120
Hi im also interested about this project i have done some UI mockups for this project i'll send those

[2016-03-24 16:00] PMArtz92 commented on #94
@mariobehling i have good skills in UI design i would like to contribute this project.

[2016-03-25 03:14] PMArtz92 commented on #120
@aayusharora , @mariobehling I have question about UI part of this, does the UI part also included in this project or can i proposed a new UI design for this app??

[2016-03-25 08:11] ajinkya007 commented on #88
If you are interested in the project please submit a proposal for the same following the guidelines mentioned in the wiki page https://github.com/societyserver/sTeam/wiki/GSOC-proposals . You need to show your interest in the project, tell mentors about your background and show them how you will achieve the goals you have set for the project.

[2016-03-25 13:35] rajatthakur commented on #88
https://docs.google.com/document/d/1wPDsjfUS8vbpzydi9GqfI9J-zbIS7JL1ZleGRk_42Qg/edit?usp=sharing

On Fri, Mar 25, 2016 at 1:41 PM, Ajinkya Wavare <notifications@github.com>
wrote:

--
Regards,
Rajat Kumar <http://www.facebook.com/rajatdumka>
CSE, BKBIET, Pilani
<https://in.linkedin.com/in/rajatthakur>

[2016-03-25 13:52] jig08 commented on #88
@rajatthakur I hope you have submitted your final/draft proposal at [summerofcode.withgoogle.com](https://summerofcode.withgoogle.com/) for review.

[2016-03-26 13:34] shubheksha opened #129 "Link to Github project for loklak is broken"
This is the link that's provided: http://labs.fossasia.org/github.com/loklak

[2016-03-27 03:22] mariobehling commented on #129
solved

[2016-03-27 03:22] #129 closed

[2016-03-27 03:23] mariobehling commented on #118
Many links are still not rendered. Anyone ideas?

[2016-03-27 06:22] aviaryan commented on #118
As Showdown.js is being used for converting markdown to HTML, we can use its simplifiedAutoLink property. https://github.com/showdownjs/showdown

[code]
I have opened pull #130 for this.

[2016-03-27 07:11] SilentFlame commented on #118
@mariobehling
as @aviaryan is working on 3rd part I corrected the 4th one in #131 .

[2016-03-27 08:44] aviaryan commented on #118
@mariobehling I don't understand this. Aren't lists preview correctly. A screenshot would be very helpful.

[2016-04-02 16:56] mariobehling opened #132 "Archiving App or Plugin for loklak"
The goal of the app is to archive Twitter accounts and related data.

Core functionalities are:
- Display data of a specific twitter account as a seed and the resulting content from the accounts
  - [ ] followers
  - [ ] following accounts
  - [ ] timeline of account
  - [ ]  timeline of following accounts
- The resulting archived content of the twitter account can be exported in different formats

[2016-04-02 17:03] mariobehling commented on #118
The changes also influenced the existing links. Instead of changing existing CSS, it would be better to choose the same CSS for the same kind of links designs.

![screenshot from 2016-04-03 01 00 15](https://cloud.githubusercontent.com/assets/1583873/14227775/ae1aca4a-f937-11e5-8121-2dd30447d750.png)

[2016-04-02 20:47] SilentFlame commented on #118
@mariobehling  you mean for the common links we should keep them as they are now but for links like this i.e `inner-links` should be handled with different CSS style.
am I right?

[2016-04-02 21:04] SilentFlame commented on #118
making all the class containing `h1 a` to have similar CSS style of one kind and the class with `inner-links` class inside to have other CSS style.

[2016-04-02 21:30] aayusharora commented on #118
@SilentFlame , I am working on the same , Is this the only link affected?

[2016-04-02 21:32] SilentFlame commented on #118
@aayusharora I guess this is only as per this page is concerned, and I have resolved it but waiting for @mariobehling's response on the above before making a PR.

[2016-04-02 21:36] aayusharora commented on #118
@SilentFlame ,ok .

[2016-04-02 21:42] aayusharora commented on #118
@SilentFlame , If you are working on it please check this , other links do not change to blue color ,  only this one changes on click.
![Uploading 1.PNG…]()

[2016-04-02 22:44] SilentFlame commented on #118
@aayusharora  oh yes, great you pointed.
let's wait for @mariobehling's response on your asked question.

[2016-04-03 02:06] mariobehling commented on #118
@aayusharora @SilentFlame My main concern is: Please do not change the existing CSS, but rather change the html. All styles are already available in the CSS. All FOSSASIA sites use the same CSS. If you change existing CSS, it will change the style somewhere else on the style. I reverted all CSS changes. "Read more on Github" should use another style, than the currently assigned one - to make the s

[2016-04-03 09:43] SilentFlame commented on #118
@mariobehling or we can just assign a different CSS to the unique class they have as going through their links, class-name all are very general and if we alter them we need to add CSS style in .css files to reflect the changes.
In that situation adding new styles to the current CSS with the unique classes of these links would do the expected work.In that way it does not affect other links anywhere

[2016-04-03 10:02] aayusharora commented on #118
@SilentFlame ,why to make unique classes if we have them already?

[2016-04-03 10:03] SilentFlame commented on #118
@aayusharora not making unique classes, I mean making styles in the `.css` file specific to these unique classes. what you say?

[2016-04-03 21:56] aayusharora commented on #118
@SilentFlame , we should only change the markup , not to do any changes in css.

[2016-04-03 21:57] aayusharora commented on #118
@mariobehling , Check this please #133

[2016-04-06 07:49] mariobehling opened #134 "Set up a loklak server on a VPN or in the cloud"
There are step by step instructions how to set up a loklak server as a peer here: https://github.com/loklak/loklak_server#how-do-i-install-loklak-download-build-run

The loklak site also lists a number of video tutorials: http://loklak.org/tutorials.html

After a short while your peer should show up here: http://loklak.org/api/peers.json

Please tweet to @lklknt on Twitter after the completion of

[2016-05-04 16:01] mariobehling opened #135 "Create a Linux distro for events"
Basis Linux Mint

Important
- [ ] Use LXQT
- [ ] Switch off notifications
- [ ] Switch off screensaver and sleep modus
- [ ] Switch off system sounds
- [ ] disable bookmarks in browser
- [ ] Install ownCloud and Dropbox
- [ ] Pre-set start system without password
- [ ] install Gtalk/Hangout
- [ ] install Firefox, Chrome, Chromium
- [ ] set Chromium as default
- [ ] set custom start page and set "r

[2016-05-15 13:51] mariobehling opened #136 "Track Emojis on Twitter and show them on a map using the loklak API"
Track Emojis on Twitter and show them on a map using the loklak API. Let's get inspired by the Emoji tracker: https://github.com/mroth/emojitracker

Can we show emojis used on twitter on a map and generate statistics for regions to track the mood of people around the world?

[2016-05-22 03:56] mariobehling opened #137 "Identify and Fix Issues for 2012 FOSSASIA Summit page"
There are a number of design and code issues with the FOSSASIA 2012 site at http://2012.fossasia.org
1. Please identify issues.
2. List them in the issue section of the repository https://github.com/fossasia/2012.fossasia.org/issues
3. Fix the issues and discuss possible questions in the issue tracker

Repository: https://github.com/fossasia/2012.fossasia.org

[2016-06-23 16:05] mariobehling opened #138 "Convert the FOSSASIA Blog from Drupal to Wordpress"
Originally the FOSSASIA site was used as a membership system and we used it to take care of the event organization as well. Drupal was perfect for this as it is very powerful. Nowadays, we only use the site as a blog system and Wordpress is easier to update and to get into for new bloggers. Therefore the goal of this mini project is to move the Drupal to Wordpress.

[2016-06-23 16:55] mariobehling opened #139 "Get 2009 Event Website online at 2009.fossasia.org"
In 2009 the FOSSASIA community organized the GNOME.Asia summit. Unfortunately the site has been lost, but there is a snapshot on the Internet Archive here: https://web.archive.org/web/20130827220300/http://2009.gnome.asia/

[2016-06-23 17:07] jig08 commented on #139
@mariobehling If required, I can help with this

[2016-06-24 07:11] mariobehling commented on #139
Ok, great. Yes, please do.

[2016-06-28 20:14] mariobehling opened #140 "Fix the blog showcase section on fossasia.org"
Please refer to the project issue here: https://github.com/fossasia/fossasia.org/issues/41

The set up of http://blog.fossasia.org has changed as we moved the blog from Drupal to Wordpress. The result is that the showcase section "Blog" on the page does not work anymore. Please re-implement it on http://fossasia.org.

[2016-06-30 15:04] mariobehling opened #141 "Design a logo for FOSS.vn"
We need a logo for http://foss.vn

Requirements
* Use Inkscape or another Open Source tool.
* Offer logo in svg
* All logo components need to be vector graphics
* Make a pull request to upload the logo to https://github.com/fossasia/foss.vn/

[2016-07-01 00:24] #138 closed

[2016-07-06 17:39] shubham-padia commented on #139
@mariobehling  fossasia/2009.fossasia.org#1 intends to add  files  for  the `2009.fossasia.org` website which was built upon on `cordobo-theme-park-2` wordpress theme . [Click here](http://shubhamp.in/wp/) to see the replica of `2009.fossasia.org`  in action . The web archived site can also be viewed [here](https://web.archive.org/web/20120324000651/http://2009.gnome.asia/index.html).

[2016-07-06 22:04] mariobehling commented on #139
Thank you so much! I had to change the links to your page in the DB, but now it works. Next steps are:
* [ ] to import the Vietnamese pages
* [ ] to show images in WP media
* [ ] to add a dropdown menu to FOSSASIA event probably using https://codex.wordpress.org/Appearance_Menus_Screen

[2016-07-07 14:58] mariobehling opened #142 "Get archived version of foss-bridge.org as wordpress site back online"
There is an archive of the site here https://web.archive.org/web/20081219155654/http://foss-bridge.org/
- [ ] Create a style that is similar to the archived version and create a responsive theme
- [ ] Recreate the site structure in English and Vietnamese
- [ ] Offer an exported version of all articles as an Wordpress export XML

[2016-07-07 14:59] mariobehling commented on #139
Thanks for your support!

[2016-07-07 14:59] #139 closed

[2016-07-07 15:01] mariobehling opened #143 "Update with Wordpress Cordoba theme and add menu"
- [ ] add a dropdown menu to FOSSASIA event probably using https://codex.wordpress.org/Appearance_Menus_Screen -> https://github.com/Cordobo/green-park-2/issues/26
- [ ] Add Support for Theme Customization API https://github.com/Cordobo/green-park-2/issues/9
- [ ] Make all sidebars widget ready
- [ ] Disable Advertising area ("Advertisement")
- [ ] Make theme responsive

[2016-07-10 00:16] mariobehling opened #144 "Import student articles of GSoC students into blog"
Please import the posts into the Wordpress blog. Preferably offer a Wordpress XML import file.
http://zyzo.github.io/categories/#fossasia

[2016-07-13 09:08] abhishekg785 commented on #144
@mariobehling
I will like to work on this.
Can you give an explanation of the task ?

Thanks
Abhishek Goswami

[2016-07-13 10:37] mariobehling commented on #144
@abhishekg785 Cool.

How it works with us usually. Just start working on things and follow up on the way. No need to get assigned. Cheers.

[2016-08-09 10:01] niccokunzmann opened #145 "Contribute to FOSSASIA knitting projects"
There are some people in FOSSASIA, like me, who work on creating clothes from knit work.
You can learn to contribute to the different software by reading on [knitting.fossasia.org/](http://knitting.fossasia.org/).

There are various ways to contribute. I invite you
- to edit [the site](http://knitting.fossasia.org/) with me to make even clearer, how to start and contribute to the projects listed o

[2016-08-09 16:53] #87 closed

[2016-08-14 16:32] mariobehling opened #146 "Recreate FOSSBridge Website as Wordpress site from Internet Archive"
In 2007 the FOSSASIA members supported FOSSBRIDGE. Unfortunately the site has been lost, but there is a snapshot on the Internet Archive here: http://web.archive.org/web/20110731220416/http://www.foss-bridge.org/
If you cannot exactly reproduce the style it is ok to get a similar style or existing theme that is suitable.

[2016-08-15 17:01] mariobehling opened #147 "Create a sitemap.xml and html site of fossasia.org"
Please create a sitemap as outline in https://github.com/fossasia/fossasia.org/issues/46
- [ ] sitemap.xml at http://fossasia.org/sitemap.xml
- [ ] an index.html sitemap at http://fossasia.org/sitemap/
- [ ] Include subdomains and the blog

[2016-08-16 12:34] mariobehling opened #148 "Invite FOSSASIA friends to org on github"
Before using GitHub FOSSASIA already collaborated with developers on projects. Also speakers engaged in the project.

Please invite them to https://github.com/orgs/fossasia/teams/friends

[2016-08-16 12:57] mariobehling opened #149 "Project tasks for GCI Students 2016"
FOSSASIA is applying again to be a participating organization at Google Code-In. Please propose tasks for students: https://docs.google.com/spreadsheets/d/1Y0nxuV_nJfj4MMqfrLZGs1ZN68xvwyEvlejQkksFE0U/edit#gid=0
- Information about GCI is available on the Google website: https://developers.google.com/open-source/gci/
- Tasks of last year are here: https://codein.withgoogle.com/archive/2015/task/
-

[2016-08-17 07:26] mariobehling opened #150 "Help to build a custom Linux distribution"
The relevant repository for this task is here: https://github.com/fossasia/meilix

If you have solved one of the point also confirm it here https://github.com/fossasia/meilix/issues/3
- [ ] Update script to latest ubuntu version 16.10 and compare to lubuntu version (http://bazaar.launchpad.net/~lubuntu-dev/ubuntu-seeds/lubuntu.yakkety/view/head:/desktop-qt)
- [ ] Create a meta package for the dist

[2016-08-19 08:26] mariobehling opened #151 "Improve the Open Event format and add support to Giggity and other Open Source conference apps"
The Open Event format has reached a first stable stage, but there are still open questions with the implementation of the format. It also has not been implemented in Open Source conference apps.

Please get familiar with the Open Event format, propose improvements and make a list of applications that could benefit from supporting the format. Outline which apps can be implemented in your project an

[2016-08-24 13:45] rahulchawla1995 commented on #145
can i help u in editing this site....i am more than willing to contribute to this mini project

[2016-08-25 17:50] niccokunzmann commented on #145
@rahulchawla1995 sure, you can. I just clarified that you can contribute to all projects on the site. They already have some issues. If you find out something you would improve, you can create an issue to discuss it. If you have any questions, you can ask.

[2016-08-28 17:16] balumenon96 commented on #150
Hi, I just completed my GSoC project with Debian. I can help you guys with this. I have tried something similar for my college. What should I do to start with this project?

[2016-08-29 08:22] mariobehling commented on #150
Hi, please join our slack channel here https://fossasia.slack.com/messages/linux/

Anyone who needs an auto invite, can get it here http://fossasia-slack.herokuapp.com/

First step, please start by building the distro with the data in the repository here: https://github.com/fossasia/meilix

Second step: Create a subissue of a point you want to work on (See https://github.com/fossasia/meilix/issues

[2016-09-05 16:36] mariobehling opened #152 "Enhance susper.com search with search options, new design, internationalization features"
The [susper.com](http://susper.com) search engine is using the yacy peer to peer network to gather results. It uses enhanced search features. The front end is developed with backbone.js.

Please help
- to update the theme to the latest search engine site
- add more search options
- implement internationalization features

You find the repository here: https://github.com/fossasia/susper.com/issues/

[2016-09-05 18:28] mariobehling opened #153 "Implement support for export/import of other formats for the FOSSASIA event system"
The goal of this project is a) to implement the Open Event format in other systems and apps (frab, Giggity etc.) and b) to implement other formats in Open Event.

There is one relevant issue in the event server project already: Propose and implement import support for other formats https://github.com/fossasia/open-event-orga-server/issues/2185

**Open Event**: The Open Event Project offers event m

[2016-09-05 19:19] mariobehling opened #154 "Add asksusi to project list on site"
Add asksusi.com to project site.

[2016-09-06 08:47] rohanagarwal94 commented on #141
@mariobehling I completed this mini-project and my pull request got merged too. Please close this.

[2016-09-06 09:41] #141 closed

[2016-09-07 14:53] jig08 commented on #154
@mariobehling Could we close this issue, seems to have been resolved.

<img width="1280" alt="screen shot 2016-09-07 at 8 22 13 pm" src="https://cloud.githubusercontent.com/assets/9291400/18316594/d9a36334-7538-11e6-8232-146a085557b9.png">

[2016-09-07 16:42] #154 closed

[2016-09-09 22:12] mariobehling opened #155 "loklak webclient prototype: Provide setting for future contributions and prototype showcase"
The loklak web client has a number of features help us to convey the idea what is possible with loklak. This is a prototype project that helps us to envision the next steps. Apart from that there are a number people who are interested to try out the project and we would love to show them what has been done that far. Therefore, please help with the following:
- [x] Delete all unnecessary branches
-

[2016-09-10 11:24] mariobehling opened #156 "Enhance loklak walls into a full fledged service"
A number of improvements have been implemented for loklak walls recently: https://github.com/fossasia/loklak_walls

In order to have a fully working service some issues are remaining.

Please solve the most important issues to get to a first release for a walls alternative to services like walls.io and tweetwall.com
- [ ] Save images and media files in Amazon S3
- [ ] Implement an accounting syste

[2016-09-19 22:05] mariobehling opened #157 "Fix issue of speaker images in 2016 site."
Speaker images are squeezed in some resolutions in the 2016 fossasia site at http://2016.fossasia.org

Speaker Images not scaled properly https://github.com/fossasia/2016.fossasia.org/issues/74

[2016-09-21 18:57] sandmanx commented on #157
@mariobehling I feel you can close this with respect to PR https://github.com/fossasia/2016.fossasia.org/pull/112

[2016-09-21 19:01] sandmanx opened #158 "Fix height of gray events dropdown menu"
This is the same issue in continuation with https://github.com/fossasia/fossasia.org/issues/53

[2016-09-21 21:33] sandmanx commented on #158
@mariobehling Fixed the dropdown menu on the three webpages of lab.fossasia.org more details on PR #162 . Cheers :)

[2016-09-22 09:41] jig08 commented on #157
@sandmanx Thanks !

[2016-09-22 09:41] #157 closed

[2016-09-22 10:00] #158 closed

[2016-09-26 18:49] mariobehling commented on #88
Thank you for participating in this year's GSoC!

[2016-09-26 18:49] #88 closed

[2016-10-06 04:23] abhiwer commented on #152
sir,
if you can add more search options example....
If I type some word with or without meaning...

It would be best.

[2016-10-07 19:04] athuljayaram commented on #128
I am interested to work on this

[2016-10-08 08:01] mariobehling commented on #128
Great. This project was started here: https://github.com/fossasia/CommonsNet

Please join.

[2016-10-09 21:11] enigmaeth commented on #146
@mariobehling
I would like to work on this.
I have created a Wordpress site locally on my system. I could send you screenshots.
I would love to hear suggestions from you.
If you are fine with the site, we could port it to the website @ http://www.fossbridge.com .

[2016-10-09 21:21] mariobehling commented on #146
@enigmaeth Thank you. Please set up a website on Heroku, AWS, Bluemix or elsewhere, where we can test it.

[2016-10-09 21:26] enigmaeth commented on #146
@mariobehling
Thanks.
I'll set up the website and let you know.

[2016-10-13 11:54] enigmaeth commented on #146
@mariobehling
Here's the WordPress website : http://scherbotskyrob.3eeweb.com/fossbridge/
Here's the archive : http://www.fossbridge.com .

[2016-10-13 12:04] mariobehling commented on #146
@enigmaeth I think this is a misunderstanding. The goal is to bring back the site of http://web.archive.org/web/20110731220416/http://www.foss-bridge.org/ Cheers.

[2016-10-20 15:52] ajmalazeez007 commented on #135
@mariobehling I would like to work on this.

[2016-10-20 16:15] mariobehling commented on #135
@ajmalazeez007 Great. Please let us know the steps you are working on. Cheers.

[2016-10-27 11:14] mariobehling opened #163 "Develop a tool that can gather search results as an RSS feed and store it on a server"
The goal of this mini-project is to develop a tool that can gather search results as an RSS feed and store it on a server.

Features required:
- A shell script (i.e. python) that reads from stdin a line
- Then it sends this line to google search as search request.
- Google responds with the result html.
- The html then is parsed and the search result should be written as stdout in an rss format.

[2016-10-27 11:21] mariobehling opened #164 "Develop a simple Query Server that stores a query string on a server"
Write a simple web server application that can be used to process a query string. This string shall call the Google search result scraper at https://github.com/fossasia/searss and the output from the scraper is written to a file, named with the query string as file name.

Follow up to: https://github.com/fossasia/labs.fossasia.org/issues/163

[2016-10-27 11:23] mariobehling opened #165 "Implement a DoubleTerm Check as an Add-on for Query Server"
This is a follow up to the Query Server development project at https://github.com/fossasia/labs.fossasia.org/issues/164

Whenever a query is done for a string, which already exist in the file storage for the query server, just nothing should happen. There should be no action in case of double-occurring queries.

[2016-10-27 11:26] mariobehling opened #166 "Implement an additional trigger in Susper to send search queries to a second service"
The susper repository is hosted here https://github.com/fossasia/susper.com

Please implement an additional trigger in Susper to send search queries to a second service.

When Susper retrieves search results from its back-end, it shall send the query to an additional back-end server. There should be no processing of the result and no waiting for the result. There should be a configuration option f

[2016-11-01 14:29] mjnovice commented on #164
@mariobehling Just curious, what is the motivation behind it ?

[2016-11-01 16:35] mariobehling commented on #164
This is a follow up to #163 and could enable scientists to collect Google search results in a specific area that could be analysed e.g. with Kibana.

[2016-11-11 22:53] amarlearning opened #168 "Github Repository link not aligned properly!"
Fossasia GitHub repository link not aligned properly!
![screenshot from 2016-11-12 04-19-45](https://cloud.githubusercontent.com/assets/9383897/20232613/82d1feb4-a88f-11e6-88e5-e939616b2f7e.png)

[2016-11-13 16:50] ashwini0529 commented on #168
@amarlearning  Please check https://github.com/fossasia/labs.fossasia.org/pull/169

[2016-11-14 06:05] #168 closed

[2016-11-14 12:44] rajeev29five commented on #168
@jig08  i think all the links on webpage should be aligned for better look , for instance the links in the screenshort below and other links on the page.

![issue](https://cloud.githubusercontent.com/assets/16323302/20265166/84df14c8-aa95-11e6-89f1-02fc2cc53c0f.png)

[2016-11-14 12:46] ashwini0529 commented on #168
Assign this to me. I'll do it.

[2016-11-19 11:14] #163 closed

[2016-11-22 07:02] mariobehling opened #172 "Propose and implement a "teaching mode" for Susi"
The question behind this project is:  How can users teach Susi and improve the answers?

An idea is to offer a "teaching mode" in the Susi app. This teaching mode in its most simple form could provide a feedback loop. As Susi provides an answer to a question an addition option is shown to the user: e.g. Was this answer correct? Yes/No.
The user can give feedback in the app and with the help of mac

[2016-11-22 07:26] mariobehling opened #173 "Improve the CMS and Editor for SUSI Skills"
The questions behind this project are:
* How can users teach Susi?
* How can users add rules to Susi?
* How can users add an API (Skill, Action)?

For the first question there is a mini project here: https://github.com/fossasia/labs.fossasia.org/issues/172

Some ideas for a solution for the other questions below. Currently Amazon Alexa/Echo also offers a way to add so called Skills, that seems ver

[2016-11-22 09:54] Orbiter commented on #172
For the implementation in the app (b) the following process would be appropriate:
- In case that the user does not like the answer, the user is able to click a button at/near/somewhere at the answer line named with (i.e.) "enhance answer", "give feedback", "propose different answer" etc (one of them, to be decided).
- after the user clicked that button a screen containing the following entities is

[2016-11-23 00:18] enigmaeth commented on #136
@mariobehling I want to work on this project. Is there any issue with this project being labeled as GCI?

[2016-11-24 10:30] mariobehling opened #174 "Enhance the Console Rule Learning App for Susi Server"
A basic console learning app is implemented in the server already (see [here](http://susi-server.herokuapp.com/apps/consolerule/)). The goal of this project is to make it easy now to create new console rules a) to connect new APIs to Susi and b) to add the rules itself.

The rules are the method to attach external knowledge to Susi. To check and store new console rules, there is now the rule learn

[2016-11-25 22:41] #149 closed

[2016-11-25 22:42] #148 closed

[2016-11-26 14:44] mariobehling commented on #136
@enigmaeth No problem. Anyone can take up this issue.

[2016-11-26 18:03] #140 closed

[2016-11-26 18:03] #132 closed

[2016-11-26 18:03] #127 closed

[2016-11-26 18:03] #128 closed

[2016-11-26 18:05] #93 closed

[2016-11-26 18:05] #94 closed

[2016-11-26 18:05] #95 closed

[2016-11-26 18:05] #109 closed

[2016-11-26 18:05] #112 closed

[2016-11-26 18:05] #113 closed

[2016-11-26 18:05] #114 closed

[2016-11-26 18:05] #117 closed

[2016-11-26 18:05] #118 closed

[2016-11-26 18:05] #119 closed

[2016-11-26 18:05] #121 closed

[2016-11-26 18:05] #120 closed

[2016-11-26 18:05] #126 closed

[2016-11-26 18:15] #156 closed

[2016-11-26 18:17] #142 closed

[2016-11-27 04:48] nidhinmahesh commented on #143
Hello, I am interested in doing this as I have done something like this for my project.

[2016-11-27 06:51] mariobehling commented on #143
Great, please go ahead.

[2016-11-27 07:18] mariobehling commented on #135
@ajmalazeez007 Hi, it looks like you got busy elsewhere. I am unassigning this issue. Get back to us, if you would like to re-take it.

[2016-11-28 17:57] PolBaladas commented on #136
Hi, can I still work on this project?

[2016-11-29 21:40] mariobehling commented on #136
@PolBaladas Sure, it is perfectly fine to get two implementations.

[2016-11-30 19:56] PolBaladas commented on #136
Thanks!
https://github.com/PolBaladas/Loklak_EmojiTracker

[2016-11-30 20:18] PolBaladas commented on #136
Would it be better:
     1. to search for a specific emoji (search bar) and display its istances on the map
     2. to search for all emojis and render them on the map

[2016-12-01 09:02] mariobehling commented on #136
Maybe start with 2 and see how it goes and in future we could think of an emoji heatmap

We do not have that currently. This is more challenging and would take some time. Please try to do without it for now.

[2016-12-01 20:22] PolBaladas commented on #136
Okay, atm it looks like searching for specific emojis can't be done using loklak's search API. Same thing with Twitter's.

This is indeed a challenge....

[2016-12-02 06:12] enigmaeth commented on #164
@mariobehling I have developed the query-server [here](https://github.com/enigmaeth/query-server) using the rss-generator at [searss](https://github.com/fossasia/searss) in #163 .

This takes care of #165 (when a query is done for a string, which already exist in the file storage) also.

Please take a look at this.

[2016-12-04 18:04] niccokunzmann opened #175 "News-source-finder with loklak"
A lot of papers and news websites copy news from the same sources.
The questions arise:

- Which is the original source of one message?
- Over the course of many news: can we detect a network of journalists that copy regularly form each other.

We have already have the search engine loklak in place. It can be used as a source of information. Can we use it to answer such questions?

[2016-12-09 08:31] mariobehling commented on #164
Awesome! Let us go through it.

Please make a pull request to: https://github.com/fossasia/query-server

[2016-12-10 12:19] enigmaeth commented on #165
@mariobehling Should we close this one now?

[2016-12-10 13:48] mariobehling commented on #165
@enigmaeth Good. Thank you. Still waiting for the feedback of @Orbiter as well.

[2016-12-10 13:48] #165 closed

[2016-12-11 12:50] ragnerok commented on #152
I would like to take this one up !
Could you be a little bit more specific as to what other search options need to be added and what kind of theme is required ?
Thanks

[2016-12-13 10:31] Abhi2424shek commented on #150
@mariobehling i am in with this... Can I,

[2016-12-13 11:30] Abhi2424shek commented on #172
Can I work on this @mariobehling @Orbiter

[2016-12-13 11:57] Abhi2424shek commented on #147
@mariobehling can I write a script that generates a sitemap when travis runs and checks the code at the repository if the files match and if submit a new PR from travis, so that we don't have to do anything when a new file is added via a commit.

[2016-12-14 02:08] Abhi2424shek commented on #175
The one which comes first looking at the timestamp can be concluded as the orginal source, on copying of this news and making it available again on loklak we could query against the same news and see the duplicate ones...

[2016-12-14 10:50] mariobehling commented on #152
@ragnerok Ok, great. Please go ahead and follow up about details in the repo.

[2016-12-16 11:39] Abhi2424shek commented on #150
@mariobehling skype was done already... So tick that sir :)

[2016-12-24 16:01] Abhi2424shek commented on #150
@mariobehling please post the updates here too...

[2017-01-01 17:57] adarsh-ideal commented on #134
Setup complete on heroku: http://young-beach-26300.herokuapp.com/
![screenshot from 2017-01-01 23-12-31](https://cloud.githubusercontent.com/assets/12227945/21582353/cdabef50-d079-11e6-80cb-3fb6f2d56959.png)

[2017-01-01 18:53] mariobehling opened #176 "Fix the 2010.fossasia.org speaker and sessions display views"
It looks like during an update of the 2010 FOSSASIA summit site the display of speakers and sessions has been lost. The data is still in the system. However, the views are not working.

Please indicate your understanding of Drupal and fix this issue. FOSSASIA mentors will give you access to the system.

[2017-01-09 15:24] adarsh-ideal commented on #135
@mariobehling I want to work on this.

[2017-01-09 16:08] adarsh-ideal commented on #135
Can I use mate flavour.

[2017-01-09 16:22] adarsh-ideal commented on #135
@mariobehling Should I switch all system sounds

[2017-01-10 09:21] adarsh-ideal commented on #135
@mariobehling Sir! Please give me the answers so that I can complete the build fast.

[2017-01-10 14:38] adarsh-ideal commented on #135
@mariobehling One thing more, could this be a GCI task?

[2017-01-11 02:59] mariobehling commented on #135
Yes.

Yes.

Firefox.

Forget about this for now.

Bottom panel. If you are using Cinnamon, please set to "Intelligently auto-hide panel"

Please also document how you create the distro. The idea of this project is not just to use some remix, but to actually build the distro with scripts. In the first step, you can create a prototype with some automatic build tools. Please let us know what you are

[2017-01-11 12:35] adarsh-ideal commented on #135
@mariobehling Should I remove libreoffice to minimize size of distro or do we need it?

[2017-01-11 12:41] adarsh-ideal commented on #135
### Method I am using to create distro:
- Using LiveCD image. Extracted filesystem.squashfs.
- Setup a chroot environment and create required mount points.
- Did the required changes
- Built the ISO image using mkisofs.

[2017-01-11 12:57] Abhi2424shek commented on #150
@mariobehling please can you update the progress here too with respect to the meilix project!

[2017-01-12 03:04] mariobehling commented on #150
@Abhi2424shek Feel free to do it. Cheers.

[2017-01-12 03:16] mariobehling commented on #135
We need it.

which one?

[2017-01-12 11:38] Abhi2424shek commented on #150
@mariobehling not having push access to edit the check boxes sir, however I may close this issue in the near future for sure.

[2017-01-12 20:55] mariobehling commented on #150
Ok, got it. Thanks.

[2017-01-14 03:15] slayerjain commented on #174
Hi! I'm new to actually writing some AI code. I have experience with OS level design using rust, and web development experience, primarily using Go at the backend. I wanted to learn developing stuff life chat bots. This project looks fun! 👯‍♂️

[2017-01-14 03:20] slayerjain commented on #174
isn't it done already?  https://github.com/fossasia/susi_server/pull/41

[2017-01-19 12:05] Abhi2424shek commented on #150
I am still on progress, i am mentioning because I don't want you all to be annoyed.

[2017-01-27 12:23] Abhi2424shek commented on #147
This is done @mariobehling

[2017-01-27 14:35] #147 closed

[2017-01-28 10:32] Abhi2424shek commented on #150
Still in progress,

[2017-01-28 10:45] Jatinbalodhi96 commented on #153
If this issues is still open and not assigned can you @mariobehling tell me more about it?

Thanks
Jatin

[2017-01-28 10:53] Abhi2424shek commented on #153
@Jatinbalodhi96 the first one is fixed and the second one is almost, can you comment on the issue mentioned, currently we need to accept imports from xCal format more only

[2017-01-28 14:09] Abhi2424shek commented on #176
I would love to take it up but can only touch my pc after april, so if you could wait, i would

[2017-01-28 18:40] enigmaeth commented on #164
@mariobehling Hey I had my term exams!
We can continue on this server. I hope to start with fixing the open issues on the **[fossasia/query-server](https://github.com/fossasia/query-server)** repo. Working on closing this issue soon from labs.fossasia.org .
Thanks.

[2017-01-31 16:14] mariobehling opened #177 "Improve attendee experience of ticketing and subtickets, for meetups and develop a venue custom map"
The goal of this project is to enhance the user experience for attendees and add more options. This can increase the kind of events the system can be used for.

Specifically, we are looking for improvements including the following:

* Improve ticketing experience
* Implement subtickets, e.g. after an attendee got a ticket for the event, they can signup for workshops
* Add meetup features, e.g. re-

[2017-01-31 16:20] mariobehling opened #178 "Enhance system features and organizer flow in server app, integrate with communication tools and social media"
The goal of this project is to make it easier for organizers to use the system. This includes implementing a more coherent design across pages and enhancing the system for speed improvements and security.

Specifically this projects aims to get improvements in the following areas:
* Improve the organizer features and flow of the server application
* Enhance the mailing system and options
* Impleme

[2017-01-31 16:27] mariobehling opened #179 "Implement search and big data services with machine learning in the server application, enable automatic import of events and enhance event analytics"
The aim of this project is to develop Open Event into a one stop resource for events and a big data hub holding information on all kinds of events across the web.

To achieve this we need to implement search and big data services with machine learning capabilities = in the server application. Another part of this is to enable automatic import of events from other platforms and enhance event analyt

[2017-01-31 16:59] mariobehling opened #180 "Enhance design , improve quality assurance and develop test cases and semi-automatic issue submission"
The development of Open Event was taking place very quickly and attention to design details and testing has been neglected at some points. The goal of this project is to improve the quality assurance, test cases and enhance the app flow in regards to the area of design.

This project involves the Server component, Android apps and Web apps. The main work of this project would take place for the Op

[2017-01-31 17:17] mariobehling opened #181 "Enhance Android app generator web UI and integrate it as a Microservice with other Open Event apps (server)"
The Android App Generator was develop as a stand alone version to be able to progress with the development easily. Apps can be integrated as microservices with the server. In order to achieve this, APIs are required. These need to be available through secure connections.

Another part to integrate the apps is to follow a common design approach. The Android app generator needs to follow a common UI

[2017-01-31 17:29] mariobehling opened #182 "Android App Generator: Enhance testing, implement video/screen test coverage and submissions to tracker"
The app generator has an increasing number of features and a more general approach is needed to ensure all areas of the app are covered. In this project we aim to improve the automatic app testing and develop extensive tests, preferably with automatic video and screenshot coverage of issues. We would also like to see semi-automatic issue submission for errors to the tracker implemented.

**Android

[2017-01-31 17:33] mariobehling opened #183 "GSoC categories and projects not displayed properly"
The Idea page at http://labs.fossasia.org/ideas.html gets issues (projects) directly from the github issue tracker at labs.fossasia.org. The idea is that all issues labeled "GSoC" appear with the header of the second tag e.g. Open Event.

Some strings are hard-coded and Open Event shows up as "Open-Event".

Issues labeled "Open Event Android" do not show up at all. Just an empty area show up for e

[2017-01-31 18:05] mariobehling opened #184 "Open Event Web App Generator: Integrate app as microservice and implement interaction and sharing features"
The Open Event Web App Generator was implemented as a stand alone solution in order to be able to focus on the development instead of integration question. The idea is to bring different services with the [Orga Server](https://github.com/fossasia/open-event-orga-server) together as microservices.

Therefore the goal of this project is to integrate the Web App Generator as a Microservice with serve

[2017-01-31 18:53] mariobehling opened #185 "Design and implement a full featured permission system and add security tests"
The goal of this project is to develop the existing permission system into a full featured system with a web UI similar to examples that can be seen in the Drupal community with a number of appropriate standard roles, that should be described in a preparation document.

In order to ensure, that this system is correctly configured, we also need an outline of best practices and extensive security te

[2017-02-02 15:17] meets2tarun commented on #135
Can one use susestudio.com to build the distro ?

[2017-02-02 15:25] mariobehling commented on #135
@meets2tarun The goal is to build the distro from scratch through a script.

[2017-02-02 17:01] meets2tarun commented on #135
Can we use LFS ?

[2017-02-02 18:18] mariobehling commented on #135
I am not familiar with LFS. If the distro is build from scratch and provides an automatic build process in the end we reach our goal.

[2017-02-02 18:20] meets2tarun commented on #135
What's your way to build a distro ?

[2017-02-02 18:55] mariobehling commented on #135
See: https://github.com/fossasia/meilix

[2017-02-03 01:56] Abhi2424shek commented on #135
@mariobehling LFS means Linux from scratch it would need to be cross compilled ti be used for many architectures and contains many unwanted programs which can be steipped of in an event OS, @meets2tarun i recommend to remove some unwanted programs. @mariobehling, however it is well documented and help can be found 24/7 everywhere on the internet, if you guys want to build it then I am also ready t

[2017-02-09 09:37] Abhi2424shek commented on #183
There are two open event android sections @mariobehling is that needed.

[2017-02-09 10:04] mariobehling commented on #183
Exactly, that is the bug.

[2017-02-09 17:12] mariobehling opened #186 "Console Learning App for Susi AI"
A basic console learning app is implemented in the server already (see [here](http://susi-server.herokuapp.com/apps/consolerule/)). The goal of this project is to make it easy now to create new console rules a) to connect new APIs to Susi and b) to add the rules itself.

The rules are the method to attach external knowledge to Susi. To check and store new console rules, there is now the rule learn

[2017-02-09 17:13] #186 closed

[2017-02-09 17:15] mariobehling opened #187 "API integrations as console services in Susi AI"
Susi has the option to integrate console services already. The goal of this project is to outline and implement a UI flow and data integration into Susi AI.

[2017-02-09 17:17] mariobehling opened #188 "Implement additional output results for Susi AI"
Apart from text answers Susi AI is already able to provide maps and search results. Please propose and implement a list of additional services and media in the Susi AI server, that can be called by the API.

[2017-02-09 17:20] mariobehling opened #189 "Enhance the AAA and permissions system to be fully functional and add encryption"
A basic AAA (Authorization, Authentication, Administration) has been implemented in Susi AI. The aim of this project is to make this system fully functional and offer features that users and developers expect. These include offering all account services from sign up to account deletion to offering encrypted API access for user groups. Also implement a permissions system and offer services dependin

[2017-02-09 17:26] mariobehling opened #190 "Implement additional widgets, info boxes and pages in loklak search"
loklak search already offers a number of widgets and info boxes. Please propose additional widgets, info boxes and pages. Make a list of possible widgets using the loklak api and implement them.

[2017-02-09 17:32] mariobehling opened #191 "Add more harvester to loklak server"
The loklak server has the rudimentary ability to add harvester. It cannot be triggered through the search yet. The results are not queued and are not yet added to the index. In order to make additional services work, the data collection structure also needs to be changed. Please implement the harvesting of more services and ensure the system works accordingly.

[2017-02-09 17:36] mariobehling opened #192 "Develop organizer features for Open Event server"
The server has already an established flow, but a number of desired features are still lacking. These include a rating system for proposed sessions for an event organization team or custom emails to speakers and attendees. Please put together a list of desired features with description and wireframes or screenshots and implement them.

**Open Event Orga Server**: The Open Event Orga Server enables

[2017-02-09 17:42] mariobehling opened #193 "Implement full feature set of Organizer Android App for Open Event"
The organizer app for open event offers the basic features. In order to achieve a full featured Android app a number of features need to be added. Please make a list of desired functions and implement it.

**About**: The main feature of the app is: Scan a QR code, check in attendees and keep it inline with the orga server data.

Please join our mailing list to discuss questions regarding the proje

[2017-02-09 20:03] mariobehling opened #194 "Enhance AAA System (Authentication, Authorization, Accounting) and add external accounts"
The Susi AI Android app accesses the Susi Server to handle data. The server currently already has a rudimentary AAA system. The aim of this project is to enhance the system by adding additional features, e.g. settings control and to connect the system with external accounts like Facebook and Google. The information shared through these accounts should be accessible by Susi AI. You need to implemen

[2017-02-09 20:08] mariobehling opened #195 "Develop the loklak apps service into a fully featured apps site and add more apps"
The site at http://apps.loklak.org shows a number of apps as a showcase. The next goal is to develop the site into an apps site, where users can a) download apps that are shown here and get information on how to integrate them and b) where users can use the apps and test them. Furthermore the aim is to increase the number of apps on the service. Please make a list of new apps you could develop and

[2017-02-09 20:20] mariobehling opened #196 "Show loklak search results as auto-refreshing media wall"
The view of the search results is currently showing as a list of results. The aim of the project is to offer an additional view as a wall.

* Part of this issue is also to implement an "advanced search" page that offers an extensive list of search outputs including:
    * for specific media (images, video)
    * options to limit searches to specific keywords, accounts, number of tweets
    * speci

[2017-02-09 22:43] mariobehling opened #197 "Develop the front end for a Susper Search Appliance"
The Susper Search Appliance uses [Yacy-Grid](https://github.com/yacy/yacy_grid_mcp). Currently only the backend exists, that can be used via terminal. The goal of this project is to offer users a simple UI for a Susper Search Appliance, that allows users to run a local distributed search engine.

## Task
It is your task to develop a web front end, the Search Appliance, for the next version of the

[2017-02-09 22:57] mariobehling opened #198 "Improve existing Susi AI Bots and create new ones"
There are number of Susi AI Bots. Some require the command line to start. Generally the bots are in an early prototype stage. Please help to develop the bots into fully functional bot applications. Make a list of the bots and propose the addition of bots for other services, e.g. Zulip. Develop the bots and showcase them running on different media networks.

[2017-02-09 23:04] mariobehling opened #199 "Develop the next generation Knitting Editor"
The knitting editor is an application that can give out a format for knitting machines as well as instructions for hand knitting. Tis project is about developing the next generation Knitting Editor with additionally required features. The areas of the project are: a) hand knitting, b) the editor and c) hand knitting.

Please make a list of features and implement them. Document your work and includ

[2017-02-09 23:10] mariobehling opened #200 "Update Phimpme Image App with latest Android features and enable social media connections"
The [Phimpme app](https://github.com/fossasia/phimpme-android) was developed already for several years. The next goal in the development is to update the app using latest Android standards and get it ready for app stores and Fdroid. Please also make a list of your feature ideas and outline how to implement them.

Additional features to be implemented are for example:
* Use standard upload APIs of

[2017-02-10 05:19] mariobehling opened #201 "Add more features to Knitting Pattern Library"
**About Knitting Pattern Library**

The knitting pattern library enables tailors, artisans and home knitters to use a common pattern for knitting machines and hand made knits.

**Task**
The knitting patterns covered are still relatively simple. The goal of the project is now to add more advanced patterns and forms. Please make a list of possible features and propose a plan for implementation.

**L

[2017-02-10 05:28] #123 closed

[2017-02-10 05:29] #122 closed

[2017-02-10 05:36] mariobehling opened #202 "Develop the circular knitting machine format and enable the use of knitting software"
**Background**

The Circular Knitting machine is basic knitting machines, that is made entirely  made from plastic. There are also models that are sold on the market like the Addi Express. Plastic can be easily printed out on 3D printers. So, we came up with the idea to code a circular knitting machine. As inexpensive small PCs components like the Rapsberry PI and Arduinos become increasingly powe

[2017-02-10 13:08] mariobehling opened #203 "Ideas Page not showing all issues tagges "GSoC""
The page http://labs.fossasia.org/ideas.html uses the GitHub API and gets all issues with the label "GSoC". unfortunately not all issues are showing up.

Please help to get all GSoC issues showing up on the page.

[2017-02-10 14:28] meets2tarun commented on #135
@Abhi2424shek @mariobehling  we will work on this

[2017-02-10 14:43] meets2tarun commented on #203
I just match and saw that all the GSoC ideas are listed there .

[2017-02-10 15:57] mariobehling opened #204 "Create a Jekyll compatible design implementation of the FOSSASIA style and add it to our Knitting site"
We often need to create a simple mini-site. We want to be able to create a md file with markup and add a Jekyll style. One example is the Knitting lab site. It does not use the FOSSASIA style yet.

Please create a Jekyll implementation of the FOSSASIA design and add it to http://knitting.fossasia.org/

The repository: https://github.com/fossasia/knitting.fossasia.org

Relevant to: https://github.c

[2017-02-10 16:05] mariobehling opened #205 "Enhance the firmware for PSLab"
For the PSLab project we need a completely Open firmware and hardware schematics. There are already [schematics in pdf format](https://github.com/fossasia/pslab/raw/development/docs/pslab-schematics.pdf). In order to progress to the next level of development these files need to be implemented in code and added to the repository.

Please create a list of features for the firmware and sample impleme

[2017-02-10 16:05] Abhi2424shek commented on #135
`we` ---- I am sorry I can't code, without a PC. I would be happy to help. @meets2tarun

[2017-02-10 16:11] Abhi2424shek commented on #203
You solved it!
![screenshot_2017-02-10-21-37-34-611_com android chrome](https://cloud.githubusercontent.com/assets/8947010/22833936/98baad3e-efd9-11e6-85cc-eab1b29cc2e7.png)
Close it.

[2017-02-10 16:35] mariobehling opened #206 "Develop an Android Science App for PSLab Experiments"
There are a number of experiments currently running with PSLab. These are written as desktop experiments in Python. The next phase of the project enables users to make use of their mobile phone. Please propose an architecture, that does not necessarily require a server and offers teachers and students a way to make full use of the PSLab architecture.

**PSLab** is a new addition to FOSSASIA Scienc

[2017-02-11 13:40] #203 closed

[2017-02-12 11:17] singhpratyush commented on #136
Hi!

This project seems to be very interesting. Please guide me for going further in it.

Just a few questions -

* What should the map look like?
  * Number of emoji at the selected location.
  * Popping up emojis on the map as they are Tweeted.
* The `emojitracker` project mentioned turns out to be providing real time data. Do we need to do the same? If yes, how shall we use loklak's API for the

[2017-02-12 11:35] mariobehling commented on #136
https://gitter.im/loklak

[2017-02-12 12:54] mariobehling opened #207 "Develop a short message publisher with numerous attachments for loklak"
The first version of the loklak tweet message publisher offered the ability to post messages to loklak and twitter. The feature of the prototype in the [loklak webclient](https://github.com/fossasia/loklak_webclient) was that it could post maps to loklak as an attachment and it converted the map attachment into an image for twitter.

The next step is to develop an app based on this prototype as an

[2017-02-12 13:22] mariobehling opened #208 "Change the loklak wok Android into two apps a) as an independent library and b) into a loklak app with search and tweet features"
The loklak wok Android app, currently shows the list of tweets getting collected in a beautiful way.

The next goal is to develop the app in two ways:
a) The data collection of the app should be an independent library
  * Developers should be able to add the library to other apps (First steps to do this have been taken)
  * The current app is using Processing to show the list of tweets. This choic

[2017-02-15 14:17] championshuttler commented on #204
Hello I am interested in doing this. Can you guide me.

[2017-02-15 16:39] ravikp7 commented on #204
Do you mean a Jekyll theme ?

[2017-02-16 04:04] aviaryan commented on #204
@championshuttler @ravikp7
In this issue, we have to update the knitting.fossasia.org site to follow same design as other FOSSASIA websites. Also the design should properly use Jekyll templates for its implementation and should not be hardcoded in each HTML page.

Examples of FOSSASIA design :-
https://github.com/fossasia/fossasia.org
https://github.com/fossasia/labs.fossasia.org

[2017-02-16 06:13] championshuttler commented on #204
@aviaryan and @ravikp7 Please can you  give me some time to study about the jekyll theme properly ? I am really interested in this project but i need guidance because i am new to open source and want to contribute

[2017-02-16 07:31] Abhi2424shek commented on #204
@championshuttler find info about Jekyll here: https://jekyllrb.com/docs/home/ like you include files in PHP you could do it with Jekyll and serve it. The labs current you uae static content which is not good instead we need to use Jekyll which supports data imports as well.

[2017-02-16 07:40] Abhi2424shek commented on #143
@nidhinmahesh updates?

[2017-02-16 07:48] Abhi2424shek commented on #111
@niccokunzmann @mariobehling do we still need this? If you want someone to close an issue take the issues i have closed and open a new issue to make the game more interesting like the characters are not looking good nor is the backgrounds.

Another proposal would be to make an issue to enhance the game where the user should design the JavaScript to solve the splitting issue, #108

What do you thin

[2017-02-20 18:02] mohsini172 commented on #207
I want to contribute in this project where to start

[2017-02-21 23:49] roydipayan003 commented on #198
Hey @mariobehling can i work on this project in GSoC?

[2017-02-22 04:04] Abhi2424shek commented on #198
@roydipayan003 sure you can.

[2017-02-22 05:08] mariobehling opened #210 "Documentation Apps Project"
At FOSSASIA we are using a number of documentation tools and there are a few different approaches. The goal of this project is to develop and implement a number of tools, that help us to build dev websites fully automatically from GitHub repositories that provide full features including search. In this project we aim for two technology stacks to be implemented:

1. Use GitHub pages with Jekyll and

[2017-02-22 11:49] roydipayan003 commented on #198
Hey abishek nice to hear back. I am new to the open source society and i
would like to contribute to the Susi AI project of fossasia group.
Can you help me to get started?

On Wed, Feb 22, 2017 at 9:34 AM, Abishek V Ashok <notifications@github.com>
wrote:

[2017-02-22 12:51] Abhi2424shek commented on #198
Sure @roydipaayan003 pls read the readme  in the susi server project, there are some bots present already, pls see through the susi bot repositories. Thankyou.

[2017-02-23 22:07] uttu357 opened #211 "Site not working!"
Maybe there is some change in Cloudfare security policies due to which CNAME are not being allowed.
![screenshot from 2017-02-24 03 36 19](https://cloud.githubusercontent.com/assets/15570642/23281232/7f1e7446-fa42-11e6-83f3-a592c916f2b2.png)

[2017-02-24 01:26] mariobehling commented on #211
Strange. It is working here for me. Any ideas?

[2017-02-24 05:00] jig08 commented on #211
Working for me as well.

[2017-02-24 06:03] aviaryan commented on #211
Cloudflare faced a [major incident](https://techcrunch.com/2017/02/23/major-cloudflare-bug-leaked-sensitive-data-from-customers-websites/) recently so maybe that was a temporary outage because of that. @uttu357

[2017-02-24 09:36] uttu357 commented on #211
yeah working now.. closing this.. :)

[2017-02-24 09:36] #211 closed

[2017-02-25 07:26] malikshubham827 commented on #183
@mariobehling I wanted to work on this, but I think that the issue is now resolved as the site is now showing all the issues.

[2017-02-25 10:54] mariobehling commented on #183
The issue is just circumvented by re-naming the projects and assigning them to one category. It is not solved.

[2017-02-25 17:21] malikshubham827 commented on #183
@mariobehling I used postman to make API request using github api v3 and found that the name of tags are same as they appear i.e.  `Open Event` is showing as `Open Event`.

I could not find the `Open Event Android` label, so I created a temporary issue on a temporary repository but it is working fine; so no constraints on word size which I guessed initially.

I used the second label as the header

[2017-02-26 08:35] mariobehling commented on #183
@malikshubham827 Please check out current live site at http://labs.fossasia.org/ideas.html

I added the tag "Open Event Android" and one issue into the category, but:
* the issue does not show up
* on the site it is spelled "Open-Event Android" instead of "Open Event Android"
* the "-" (dash) is also added in other headings - it should not be

[2017-02-26 09:44] malikshubham827 commented on #183
@mariobehling Thanks for your review. I tried but the github api is giving the correct infomation without the `-`.
Here is what I got from api using the above mentioned script in postman.
![open event android fossasia](https://cloud.githubusercontent.com/assets/13511528/23338635/1bbbebd6-fc36-11e6-8187-5bde1e2a192b.png)

If your are using github api it should return the same result.

[2017-02-26 09:46] malikshubham827 commented on #183
@mariobehling Yupp the site is showing the `-`. Let me check the source code. There must be an error in the back-end while sending the data.

[2017-02-26 11:13] malikshubham827 commented on #183
@mariobehling I think I kind of find out the root cause of all this. I have created the pull request [#212](https://github.com/fossasia/labs.fossasia.org/pull/212) regarding this.

TL;DR
Please refer to the [source code of ideas.html](https://github.com/fossasia/labs.fossasia.org/blob/gh-pages/ideas.html#L403)

(1) On the `line 403`, replace it by
`tag = label["name"].split(' ').join('-')`
Reason:

[2017-02-27 18:15] xeon-zolt commented on #135
i am sorry but i am still little unclear what do you mean by linux distro for events
i am very interested in this project

[2017-02-27 18:31] pranayyelugam commented on #196
@mariobehling  where should we display this additional view ? and also  what do you mean by
      `Also implement direct URLs` ? Could you explain?

[2017-02-27 18:50] pranayyelugam commented on #197
@mariobehling There's already a frontend at [here](http://susper.com) . Do we have build a new UI or develop the existing one.

[2017-02-27 20:09] harshitcodes commented on #210
Hi @mariobehling,
The project looks interesting and since I have some experience using GitHub pages and Jekyll, I believe I can get this done using some guidance.
If you can give some pointers on how shall I proceed with the first step in terms of a sample project or exploring how sphinx works.

Thanks!

[2017-02-28 03:15] Abhi2424shek commented on #210
@harshitcodes it's about building a tool that will generate a site from the docs provided in the repository. You may use either of the two approaches to do so. Create a repo on your account locally and see make it work, then we can import it to fossasia solving the issue. It would be great if you could package it to be called from Travis.

[2017-02-28 05:33] sandeepm96 commented on #166
Sir, if you could be more elaborate about why the query needs to be send to an additional back-end. I am a bit unable to understand the problem statement.

[2017-02-28 05:53] ShishirBondre commented on #197
@mariobehling Are talking about the fornt some which  what related to google search UI or we have to redsign a new one

[2017-02-28 07:17] xeon-zolt commented on #135
i think that archiso can be used to make a custom linux distro and all those can be added as configuration scripts and even better write a installer that can take configuration from git during the installer according to event

[2017-02-28 10:15] harshitcodes commented on #210
@Abhi2424shek thanks!
I'll just get on with this right away and let you know once it is done.

[2017-02-28 10:50] nidhinmahesh commented on #143
extremely sorry for the delay. My exams just got over. I am halfway done and rest will be completed soon!

[2017-02-28 12:23] y73isc00l commented on #198
Hey I would like to work on this project for GSOC 2017.
Can somebody tell me the link to prerequisites for project?

[2017-02-28 14:07] Abhi2424shek commented on #198
Good knowledge of susi, @y73isc00l for the list of bots needed pls see, https://github.com/fossasia/susi_slackbot/issues/1

@mariobehling wouldn't it be best to post that list here?

[2017-02-28 14:11] Abhi2424shek commented on #143
Sure

[2017-02-28 14:12] Abhi2424shek commented on #210
Sure @harshitcodes

[2017-02-28 15:22] y73isc00l commented on #172
@mariobehling @Orbiter  I have already implemented such a system in an app which I had made as part of a college competition.The app's backend is in flask and heavily relies on python library nltk,the data of each user conversation in stored in firebase and more the user interacts with the bot in different categories,the more the bot learns questions and answers.If you would like I would like to s

[2017-02-28 19:37] harshitcodes commented on #210
@Abhi2424shek

I tried generating the HTML pages for the docs of a repository using sphinx.
If you can take a look and let me know if this is what you are looking for. I have just added a single line for testing as of now.

My repository: [Deep Learning Neural Net](https://github.com/harshitcodes/Udacity_DLND_first_neural_network)

Published site: [http://harshit-tyagi.in/Udacity_DLND_first_neural

[2017-03-01 03:47] Abhi2424shek commented on #210
@harshitcodes what the issues states to be wanting is some script which can be called via Travis or other CIs that can build docs and push it to gh-pages. You can build the docs either with the Sphinx method or the method we use in loklak.

[2017-03-01 10:00] sujayvenaik commented on #198
I have previously worked on AI Chat bots and its development. And have a fair idea.
We can certainly integrate the bot at various spaces such as Facebook, Slack and even Skype.
The product i worked on was configured to Fb messesnger making use of web hooks.
Even made use of Nginx Server for load balancing and other purposes.

Thus, i am interested to work on this.
Skype can also be a platform.
As,

[2017-03-01 10:59] Abhi2424shek commented on #198
We need:
Viber
Google Talk/Hangout and
Gitter
bots @sujayvenaik. You will have to make a new repo under your github account make the app working and then it will be adopted to fossasia.

[2017-03-01 12:14] SpEcHiDe commented on #135
I am interested in working on this issue. Can anybody guide me on how to proceed?

[2017-03-01 13:41] sujayvenaik commented on #198
@Abhi2424shek
So basically i have to start working now or first get the proposal accepted and then start ?

[2017-03-01 14:32] Abhi2424shek commented on #198
@princu7 how is the procedure?

[2017-03-01 15:07] Princu7 commented on #198
@Abhi2424shek Not really sure @mariobehling can explain this better

[2017-03-01 15:26] mariobehling commented on #172
@y73isc00l Nice. Do you have a link to a live system to test your work? There are different options to start getting engaged in the SUSI AI project. Please join us on the chat channel and start checking out the SUSI server to understand how we can add the teaching mode.

[2017-03-01 15:43] y73isc00l commented on #172
Actually it is an android app and you can download it from drive folder https://drive.google.com/folderview?id=0B8m3ShszCn_kQXFzWU04QmxLRk0

[2017-03-01 15:45] y73isc00l commented on #172
The training mode is only properly working nice in the Harry potter pack.If you find any error like servor down please ping I will solve it and get back to you.

[2017-03-01 15:49] y73isc00l commented on #172
The app makes API calls to the server botguise3134.cloudapp.net

[2017-03-01 16:39] y73isc00l commented on #198
I had posted this comment on other open issue so I am reposting it.      @mariobehling @Orbiter I have already implemented such a system in an app which I had made as part of a college competition.The app's backend is in flask and heavily relies on python library nltk,the data of each user conversation in stored in firebase and more the user interacts with the bot in different categories,the more

[2017-03-01 16:40] y73isc00l commented on #198
The link to the apps apk is https://drive.google.com/folderview?id=0B8m3ShszCn_kQXFzWU04QmxLRk0

[2017-03-01 16:44] y73isc00l commented on #198
The project idea is similar to that is Susi AI bot which aims to work on building an interface from which people can easily build their own chatbot.Thus I would like to work on this project as part of my gsoc project.

[2017-03-01 18:31] betterclever commented on #206
@mariobehling I have possible implementation idea for this and I wish to work on this as a part of GSoC program. Can you please guide me the people I should interact to discuss those details ? :smile:

[2017-03-02 09:14] pri22296 commented on #210
Hi @Abhi2424shek
I have experience with generating documentation using sphinx. I think I can get this project done with some help. If you could just guide me on where to proceed so that i can make myself more familiar to the technology which I would need to use for this project.
Thanks

[2017-03-02 09:47] mariobehling commented on #210
@pri22296 Please have a look at the loklak project. We are already generating documentation here: https://github.com/loklak/loklak_server/tree/gh-pages by using Travis and a script. As a next step, could you help to implement the same for SUSI AI? Check out this issue here, please https://github.com/fossasia/susi_server/issues/70

[2017-03-03 07:28] Abhi2424shek commented on #210
@mariobehling why don't we build something like a ruby gem or something similar that can be called from Travis or other CI so that, you can generate the docs and push them back with the help of a config file, this would indeed save our time  of including the files for each repo and is more a radical solution, wht is your opinion?

[2017-03-03 08:52] y73isc00l commented on #198
Can somebody send link to chat channels

[2017-03-03 09:25] pri22296 commented on #210
@mariobehling I have built the documentation for [susi-server](https://github.com/fossasia/susi_server) using sphinx. I will now be adding a script similar to (https://github.com/loklak/loklak_server/blob/development/.utility/push-docs-to-gh-pages.sh) to push the docs to github pages and then file a PR.

Built Documentation: (http://susi-server.readthedocs.io/en/latest/index.html)

[2017-03-03 14:36] MehndirattaPiyush commented on #136
@mariobehling has this issue has been assigned to @singhpratyush  or its still open.

It seems intriguing to me and i want to start contribution to fossasia.

[2017-03-04 05:14] amarlearning commented on #197
@mariobehling Susper already got some front-end. Do you think that should be redesigned ?

[2017-03-04 06:16] ShishirBondre commented on #197
@mariobehling  Yes i think redesign must take place because more features from ui can be predicted and the user can more accurately search for a given query

[2017-03-04 08:08] mariobehling commented on #197
The Susper Search Appliance will have the same features as the Google Search Appliance, that is coming to its end of life. The new Yacy framework to offer additional services is nearly finished. So, we need someone who understands the features and UI of the Google product.

[2017-03-04 14:34] mananpal1997 commented on #166
@sandeepm96 I think that one server should be duty-free, and only serve as I/O to a user while the other server will handle all the processing. If processing is also done on the same server, interaction with other user may be affected.
@mariobehling Am I correct?

[2017-03-04 14:45] mariobehling commented on #166
Updated the description with more info.

[2017-03-05 03:07] siebenHeaven commented on #205
Hi @mariobehling  ,I am interested in applying for GSoC with this idea.I would like to know more about the issue - will contributing to it need a PSLab hardware on my side? Also what exactly will implementing the firmware involve?

[2017-03-06 06:45] karanpathak commented on #198
Hey @mariobehling , I would like to work on improving existing Susi AI bots in GSOC2017. How can I get started?

[2017-03-06 10:11] hiamandeep commented on #135
@mariobehling I am very much interested in this. Ubuntu Customization Kit (UCK) can be used on its derivative distro, since Linux Mint is a derivative of Ubuntu it can be used on it too.
How about I proceed with this?

[2017-03-06 10:16] meets2tarun commented on #135
@hiamandeep UCK will not give such freedom to customize the OS to the extent which is being needed for this issue.

[2017-03-06 14:40] mariobehling commented on #198
@karanpathak Please check out the bots in the FOSSASIA repos and start contributing to understand the project better. Thanks!

[2017-03-07 04:26] aditodkar commented on #190
I want to contribute in this project where to start

[2017-03-07 14:15] darkLord19 commented on #206
I would also like to contribute for this. Whom should I contact for more information ?

[2017-03-07 14:38] isuruAb commented on #136
It seems like really interesting .I would like to contribute this one.

[2017-03-07 14:51] mariobehling commented on #206
Please join the chat channel: https://fossasia.slack.com/messages/pocketscience/details/ | [[Get an invite](http://fossasia-slack.herokuapp.com)]

[2017-03-07 21:10] djmgit commented on #195
One more query, will the site continue to remain hosted on github or will get its own server. Does the scope of this project includes creating a backend using some web framework ?

[2017-03-09 10:53] In-vincible commented on #187
@mariobehling I want to work on this issue, can you guide me where to start?

[2017-03-09 19:36] katsik commented on #197
I would start by making the live search smoother, or providing some auto-completion feature. Thoughts?

[2017-03-10 03:26] mariobehling commented on #197
@katsik Please search online about the `Google Search Appliance`. This will help you to understand what are the requirements for this project. Thanks!

[2017-03-10 06:31] enigmaeth commented on #179
I am interested in taking up this project for Google Summer of Code, 2017.
I have worked on the [query-server](https://github.com/fossasia/query-server) in question and it has been deployed [here](https://query-server.herokuapp.com).

@mariobehling  What should be our aim while implementing machine learning capabilities?

Should I start with working around on this issue [Implement the query-server

[2017-03-10 06:45] mariobehling commented on #179
Yes, exactly. Please get started with that and let's explore from there step by step. There will be a lot of details on the path to get the import right and we need to fix issues on the way. So, Machine Learning will be the next step after that. Think of how we could plugin SUSI AI to Open Event and let users ask questions like "What is going on tonight?". The a number of events are displayed base

[2017-03-11 07:10] isuruAb commented on #183
this issue should be closed i think @mariobehling

[2017-03-11 08:51] #183 closed

[2017-03-11 11:22] gayanW commented on #135
Unpacking, chrooting, then doing necessary customizations, modifications and clean up can satisfy most of the listed requirements IMHO.
May be we could also try the standard Debian live-build approach if there's no particular reason for using Mint.

[2017-03-12 13:24] Hitekshaa commented on #196
Hello, mario!!
I am Hiteksha Basiya, As i understood we should have to give advance search in new display page but i would like to ask about the  video search in advance will display link or at the same page video can be played ?

[2017-03-12 13:38] mariobehling commented on #196
@Hitekshaa Please follow up with these kind of questions in the gitter channel, where the team can answer: https://gitter.im/loklak/loklak

[2017-03-12 14:24] Hitekshaa commented on #196
Thank you

[2017-03-13 07:32] samsruti commented on #194
@mariobehling This is one of the best features that needs to be included in the Susi Android App. I would love to work on this project for GSoC 2017.

[2017-03-14 05:29] wongalvis commented on #175
Hi, I'm interested in this project for GSoC. I have a web dev background with expertise in Javascript (jQuery and Angular), HTML/CSS and UI/UX design. I agree this is a huge concern on social platforms, I would be eager to look into existing solutions implemented to tackle these issues and perhaps try to come up with some new ideas specific to this tool. Please let me know how can I get further te

[2017-03-14 07:40] niccokunzmann commented on #175
@wongalvis Sure, I should have put links there in the first place.

There is the loklak organization: https://github.com/loklak/
It has several repositories:
- https://github.com/loklak/loklak_server - the webserver - Java can be extended to find more sources
- There are several APIs. I believe it is quite similar to twitter concerning the API only that you do not need authentication. I did not fi

[2017-03-14 09:19] enigmaeth commented on #164
@mariobehling This can be closed now.

The repo is here :  https://github.com/fossasia/query-server
And the server is deployed here : https://query-server.herokuapp.com/

[2017-03-15 03:10] wongalvis commented on #175
I'm a little bit confused with the "sources" in the first point, are you referring to the source of tweets or external data?
And for the third point do you mean that several API calls can be fired in parallel?

All in all this sounds really interesting!

[2017-03-15 04:55] supreme96 commented on #194
@mariobehling  Hi! Is there a thread on which discussions regarding this issue are taking place. Could you direct me to that thread.

[2017-03-15 21:28] rnikhil275 commented on #135
Hey, I am Nikhil. R from India. I am interested in working on this project as part of GSoc '17. I was wondering what the scope of the project is ? What should be the final outcome ? Is just a distro file with the above requirements enough ? Should the scripts and other necessary build process be reproducible and portable so that it can reproduced on some other distro with similar DE, PPA etc ?

I

[2017-03-16 02:33] meets2tarun commented on #135
@mariobehling @Abhi2424shek
Sir
Checkbox 11 (which is newly added) is meant to apply for only chromium (default) or all 3 browsers.
The start page and 'restart with last opened tabs' can be done itself in a browser but as mention, these should be already done during installation of OS.
And if chromium crashed due to the uncertain crash of PC, then chromium and chrome generally ask for the restore

[2017-03-16 21:00] ggandhi27 commented on #135
Guys I liked the idea of this project.
I am very much interested in contributing to this project.

[2017-03-16 21:07] ggandhi27 commented on #135
Sir ,
I am interested in the project idea and want to start work on this.
@mariobehling  sir I just want to know that we have to contribute to this project https://github.com/fossasia/meilix ?

[2017-03-17 11:55] vaibhavsingh97 commented on #200
@mariobehling I am interested in contributing in Phimpme app. Kindly guide me how can i start contributing me?

[2017-03-17 14:54] SpEcHiDe commented on #194
@mariobehling I would like to work on this. But, how do I start?

[2017-03-18 03:31] kamsuri commented on #136
Hi @mariobehling , I'm interested in this project for GSoC'17. Please let me know how can I start contributing to this project.
Thank you

[2017-03-18 03:34] kamsuri commented on #175
Hi @wongalvis  , I'm interested in this project for GSoC'17. Please let me know how can I start contributing to this project.
Thank you

[2017-03-18 04:02] bharatkashyap commented on #175
Hi @niccokunzmann . Are you looking to build this tool as something that works on social media feeds? (As a Chrome Extension, for instance, that can point out the sources behind news articles in one's Twitter feed)

[2017-03-18 08:21] niccokunzmann commented on #175
Hi @bharatkashyap @kamsuri @wongalvis,

Now, we are more than 4 People interested in this idea. I have formulated it as a research idea.
The question for me is: can we detect hidden copies and word trends and the people behind them.

As I understood, loklak can be modified to query all sorts of sources, search through them and provide an open interface. So, I see these possibilities to work on thi

[2017-03-18 19:45] souravsingh commented on #199
@mariobehling I am interested in working on the project.

[2017-03-18 21:26] mariobehling opened #213 "Create an Open Event Format file of Mozilla event as a showcase"
The last Mozilla corporation event was held in Hawai https://hawaiiallhands2016.sched.com/

Please convert this to the last version of the Open Event format (based on the API). Ensure you support the last version of the API of the server.

Please follow up on details of this project here: https://github.com/fossasia/open-event/issues/131

[2017-03-18 21:36] wongalvis commented on #175
@niccokunzmann Social/current-affairs related applications is one of the topics in software development that I'm most interested in. There have been existing implementations based on official Twitter api to trace old tweets efficiently, I am thinking of using similar methods to calculate the likelihood of a particular tweet to be the original source of the news.

After gathering sufficient data we

[2017-03-19 04:07] sch00lb0y commented on #210
Is this specific for fossasia or can be used by any organization

[2017-03-19 06:43] iiecdev commented on #193
Hello, what  i supposed to do if i want to work on it?

[2017-03-19 07:04] kamsuri commented on #175
@niccokunzmann
According to me loklak is a good choice for collecting data as it will be hard to implement Twitter API as it has a lot of limitations. I have gone through Loklak server's details and have concluded that it will be easier to extend it to our requirements.
Then comes analyses of the collected data. For this i think i have to dig more to come to final conclusions. But it will not be a

[2017-03-19 08:29] sch00lb0y commented on #210
@mariobehling  github bot which generates doc to the integrated repository . does this will fulfill your requirements !!
Thanks Balaji

[2017-03-19 14:03] niccokunzmann commented on #199
@souravsingh If you have any questions about the editor, you can also ask me @niccokunzmann or open an issue in the editor. I was one of the developers of the kniteditor in last years GSoC.

If you like, you can work on an issue and I can guide you until you finished it so you can peak through how it works.
Any way, is there anything I can tell you?

[2017-03-19 20:16] xeon-zolt commented on #135
@mariobehling  i have made a partial compile script to compile a distro with above requirements https://github.com/xeon-zolt/Event-linux

[2017-03-20 12:56] shrey-jain commented on #198
Hey, I am new to the open source society and i
would like to contribute to the Susi AI project of fossasia group.
Can you help me to get started?

[2017-03-20 13:20] Subhankar29 commented on #200
@mariobehling Hello, I am contributing to the phimpme for a while. I am interested and curious working for GSOC this fall. Till now I don't know who all are the mentors? The GSOC page doesn't have a lot of information.

[2017-03-20 19:17] sujayvenaik commented on #198
@Abhi2424shek
Do i have to mail my proposal elsewhere as well other than uploading on the Gsoc dashboard. ?

[2017-03-20 19:48] sujayvenaik commented on #187
@mariobehling
Whats basically needs to be designed in this ?
I get the idea but need to be more clear

[2017-03-21 03:11] niccokunzmann commented on #187
@In-vincible @sujayvenaik You can reference this and ask in the susi server implementation so you can reach the team.

I **assume**: it means that you can say something like "find file xy" and it uses the console program "find". But there might be more services and the idea is to make it easy in the UI to add them.

[2017-03-21 08:28] Marauderer97 commented on #152
@mariobehling I would like to work on this over the summer. Where can I find more details about this project?

[2017-03-21 09:01] sudheesh001 commented on #152
To those who want to contribute to the project, please set it up, send a patch to the project and at the same time, please draft the proposal and share it across. The gitter channels are open for discussion

[2017-03-21 16:23] mariobehling opened #214 "Develop a plug and play adaption of SUSI AI that enables the installation on devices modeled after Amazon Echo or Google Home"
Amazon Echo is a device that only offers a voice command interface. How can SUSI AI offer the same interface? What options are there? Amazon has demonstrated how developers can connect to [Amazon Echo using a Raspi](https://github.com/alexa/alexa-avs-sample-app).

What are options to make SUSI AI run on hardware? What software framework is the most useful?

Please propose and implement a solution

[2017-03-21 17:00] aviaryan commented on #210
Yes we will have to build something like that. We need to be very careful when choosing a language for this project. A language with good file handling, string manipulation (with regex) and decent system capabilities should be the way to go IMHO. Views???

I think we may initially start with a fossasia based theme but ideally we should like to make it customizable so that it can be used by any org

[2017-03-21 17:04] rohanagarwal94 commented on #200
@mariobehling I have been contributing in Phimpme and open-event-android for a while now. Would love to make this app the go-to-camera app for everybody. I was thinking of implementing a GIF creator in this app which could be shared across the social media platforms by the users. Would love to hear your thoughts on it :) .

[2017-03-21 17:11] mariobehling commented on #200
@rohanagarwal94 We could discuss all kinds of features, but right now some basics do not work and we also need a server component for people to login. Getting the basics right is our first priority and if we could have the basic features of Instagram in an Open Source app, that would be a big achievement. Please focus on that first before going too much into detail. Cheers.

[2017-03-21 17:17] rohanagarwal94 commented on #200
@mariobehling thank you for your inputs. Will keep that in mind.

[2017-03-21 18:59] Orbiter commented on #214
+1 this would be HUGE enabler i.e. for makers who want to do their own home automation!

[2017-03-21 19:57] sch00lb0y commented on #210
@aviaryan i think go-lang will be suffice to handle multiple repository.
could you explain me how to start ? or shall i create my own repository and work on it ??

[2017-03-22 02:50] aviaryan commented on #210
@sch00lb0y I was also thinking the same. Plus, with golang we would be able to enjoy unmatched build speeds. And it's library is rich enough to incorporate our other needs such as String handling, file IO and system.

I am not sure. For now, I guess the best you can do is work on a proposal and submit it (as a draft). Potential mentors would review it and provide you with feedback. You can then co

[2017-03-22 08:28] sch00lb0y commented on #210
@mariobehling @aviaryan
https://docs.google.com/document/d/1VxAm4m-eSNFO5bi3bR8qJBAxNMKiOx20tTgyBLeCC6A/edit please review my draft and tell me is there any thing you want to add
Thanks!!
Balaji

[2017-03-22 13:27] betterclever commented on #214
@mariobehling @Orbiter Can we enable something like view/change the status of Active Connected Devices like switches, television directly from the Android App or any other Susi Frontend if same account is logged in on both the places i.e Android App and Susi Home running on Hardware ?

[2017-03-22 13:32] xSooDx commented on #192
Hi @mariobehling

My name is Saurabh Sood and I am interested in working on this project for GSoC.
I am familiar with HTML, CSS, Javascript and Python, and am currently working on Flask for my college projects.

[2017-03-22 13:57] nikhilrayaprolu commented on #152
@Marauderer97 there are alot new issues raised on the repo regarding enhancements , and mostly all enhancement issues on the repo will fall into this project.go through them.

[2017-03-22 18:33] aviaryan commented on #210
@sch00lb0y Just saw your draft. I see that you are specifying Golang, Redis and Mongodb as technologies. Can you please be clear on why these are needed (do this in the proposal).
Also as a rule, always try to provide as much detail as possible in the proposal.

[2017-03-23 04:33] Subhankar29 commented on #200
@mariobehling so are you looking forward to implementing sharing feature like Instagram timeline?

[2017-03-23 15:30] Orbiter commented on #214
we can, but
- there is NO need to change the android client for that
- there is NO need to change the susi_server for that
- we JUST need a skill for each connected device!

[2017-03-23 16:03] betterclever commented on #214
@Orbiter I understand what you said and my proposal keeps in mind every point you mentioned. I just wish to ask about the probable implementation for communication between Susi at home and any other frontend provided both are logged in to same account.

And as far as changing Android Client , only part required on that side if needed is Showing Switches, Checkboxes etc for home devices like Google

[2017-03-23 21:47] rohanagarwal94 commented on #193
@mariobehling i was thinking of implementing a live feed for the open-event-android application generated from posts from equivalent Facebook event page and posts from organiser specified hashtag on twitter o drive user engagement in the app. Would love to hear your thoughts on this.

[2017-03-25 12:21] SparshBansal commented on #179
@mariobehling I would like to work on this too. I am a machine learning enthusiast and would love to contribute here. I have done many machine learning projects and I think this a great opportunity for me.

[2017-03-25 13:40] mariobehling opened #215 "Compare Mycroft with SUSI AI and evaluate skills import options"
Mycroft (https://mycroft.ai) is doing a great job to tell people about the project. Lots of people know it. Please compare it with SUSI AI and Mycroft. There are a number of skills (https://github.com/MycroftAI/mycroft-skills). Can we import them to SUSI? This issue is related to both the Android client and the SUSI server.

Please follow up in the dedicated issue here: https://github.com/fossasia

[2017-03-25 18:29] ghost-60 commented on #188
Maybe play a media file or any open any application that is on the PC. For example, If I write "Hey I would like to edit this picture" it could automatically open any photo editing software that is there and say "You could try it here" or else "you need to have _this_ installed to do that" and suggest other options.

[2017-03-25 21:05] singhpratyush commented on #136
I have drafted and submitted a proposal for this project. Please review and give feedback.

[2017-03-26 06:32] sch00lb0y commented on #210
Thanks @aviaryan for your review. i have drafted once again according to your suggestion. this time i have added process diagram also pls check and let me know
https://docs.google.com/document/d/1VxAm4m-eSNFO5bi3bR8qJBAxNMKiOx20tTgyBLeCC6A/edit#

[2017-03-26 10:38] aviaryan commented on #210
@sch00lb0y Hi. I just had a quick look at your doc.. One thing I feel that is missing is that you are missing how the documentation will be generated. That is, what is the input what will go into the system and what will come out. Another way to understand this is, suppose your system has been built. How will I be able to use it to generate docs for my project? What extra text apart from project's

[2017-03-26 12:32] sch00lb0y commented on #210
@aviaryan  yeah,absolutely. you have to define dockie.yaml file like travis.yaml file in the repo which specify the path of the doc, then we'll be cloning the repo and generate doc using jekyll by making use of the path specified in the yaml file, at last dockie will push the generated html to gh-pages. i hope this process flow solves your problem if you found any problem please ask me.
Thanks!

[2017-03-26 16:59] aviaryan commented on #210
@sch00lb0y Ok. Please mention it clearly in your proposal so that it will become clear for everyone else. Cheers 👍

[2017-03-26 17:25] sch00lb0y commented on #210
@aviaryan Thanks

[2017-03-27 08:38] Rishabhk07 commented on #208
Hi @mariobehling how to approach tweeting to loklak server, by authenticating twitter user or something else ?

[2017-03-27 14:47] Orbiter commented on #214
for each account we can store accounting information ("what has the user done") and AI log information ("what does the AI know about the user").
The AI information can actually be set using a conversation:
"set a to frankfurt"
"get a"
That sets an attribute named "a" and reads the content.

Another question would be if we want that the susi_server is maybe running locally on the device. That would

[2017-03-27 16:09] betterclever commented on #214
@Orbiter That would be fine, we can define states of user's devices by adding a skill like "Turn the television in the living room on", this can store data in a JSON format like
`{ uid="<user_id"> , location="living room", status="on"}`
This would also enable to fetch results on query by same user on a different on a device say Android Phone to view status of his television, which can be asked in

[2017-03-30 09:22] SarishiNoHara commented on #207
HI, @mariobehling this project is great! I've currently write a draft proposal for this project. It will be great if you can review and leave some comments to help me improve the proposal.
Here is the link:
[](https://docs.google.com/document/d/1uIq8HmToQwELz_a6F_R1Fqyuo-_ggnymV5F52LJ348c/edit?usp=sharing)

[2017-03-30 16:34] tian2992 commented on #214
Also something like Jasper can help complete the stack. Jasper is an open source platform for developing always-on, voice-controlled applications: https://jasperproject.github.io/

[2017-03-30 17:43] betterclever commented on #214
@mariobehling @Orbiter I run the PocketSphinx on Raspberry Pi for offline detection, I found that it is good enough for detection of only a few set of keywords or phrases. So it is good for that functionality only. For whole speech synthesis it gives very inaccurate result of Raspberry Pi. Thus, I am changing my approach to the following if you both agree:

- Use PocketSphinx for offline Hotword D

[2017-03-30 23:29] mariobehling commented on #166
Please follow up for details here: https://github.com/fossasia/labs.fossasia.org/issues/166

[2017-03-31 12:09] mariobehling opened #216 "Create a blog article with a wrap up of a session at the FOSSASIA Summit and include the video"
Please create a blog article with a wrap up of a session at the FOSSASIA Summit and include the video.

Ensure:
* the summary includes all relevant information about the session and the speaker
* add links to the project, speaker and company at the end
* add relevant tags to the post

This is a task that can be done several times.

[2017-04-02 17:16] simsausaurabh commented on #135
@mariobehling

I want to add some more suggestions and i am willing to work on these -

1. creating media server.
2. Setting brightness to default each time system reboots.
3. Gedit plugins to make it more user friendly.
4. Blog from home.
5. script to disable Bluetooth( default enabled ) in every reboot.

[2017-04-04 16:16] mariobehling opened #217 "Develop a loklak ticker for desktops and servers"
The loklak Android app shows all kinds of tweets that are harvested by the app. This is a nice idea - to see random tweets and other social messages that are collected by a personal loklak service.

Your task is to develop one of the following components:
1. A loklak desktop message ticker using the desktop version (a) a simple web ticker and (b) a ticker showing messages on a world map
2. A lokla

[2017-04-14 14:32] mariobehling opened #218 "Design a logo for Jugaadfest"
Please help us to design a logo for Jugaadfest. We would like a simple logo preferable in a vector format (if possible svg) that embodies the idea of Jugaad as described below.

Background: Jugaad (alternatively Juggaar) is a colloquial Hindi (Devanagiri: जुगाड़, Latin: Jugāṛ), Urdu (Urdu alphabet: جگاڑ, Latin: Jugāṛ) and Punjabi word, which has various meanings depending on the situation. Roughly

[2017-04-23 07:51] heysadboy opened #220 "Update links to projects"
Some links lead to the organisation page instead of repository unlike the other projects. Also that chat of Phimp.me project is being shifted from Slack to Gitter but the link remains same in the website.

I think we should update them.

[2017-04-23 09:04] nikhilrayaprolu opened #221 "donations are not being accepted"
![image](https://cloud.githubusercontent.com/assets/15216503/25312233/d4cff4a6-2831-11e7-9dfa-c074be18aee9.png)

It looks like there is some problem with the paypal setup.

[2017-04-23 19:11] #220 closed

[2017-04-25 12:47] enigmaeth commented on #164
@mariobehling This can be closed now.

The repo is here : https://github.com/fossasia/query-server
The server is deployed here : https://query-server.herokuapp.com/

[2017-04-25 16:16] #164 closed

[2017-05-11 20:30] the-dagger commented on #151
@mariobehling Since giggity supports xml samples and our sample is in json format, so what do you suggest at this point?

1. Add json support to giggity or
2. Make a copy of our samples in xml format.

[2017-05-12 00:50] mariobehling commented on #151
@the-dagger The Open Event format is using a set of JSON. How can we make Giggity using this set? As I am not the one implementing it, questions should go to @heysadboy.

[2017-05-12 02:28] the-dagger commented on #151
Yep understood.
There are two ways to do so, in the first one we will need to change the
samples whereas in the second  one we will be making changes to Giggity
which will including making changes to the Giggity app.

Both of these methods are doable, so wanted to get your approval on which
change you would prefer.

Thanks.

On Friday, May 12, 2017, Mario Behling <notifications@github.com> wrote:

[2017-05-12 04:58] heysadboy commented on #151
@mariobehling @the-dagger I created an issue about this earlier. https://github.com/fossasia/open-event/issues/134 If we want Giggity to read our JSON data format we have to change their code to read our data only in JSON while other events provide theirs in XML.
I think it would be better if we modify ours according to the app. I saw that they also rejected earlier requests to do this while the o

[2017-05-12 06:09] mariobehling commented on #151
We can iterate and start with the simple solution. I don't know how well the export of the XML from the Orga server already works. Please try.

We probably need to change Giggity in following steps as well as (last time I checked) it did not provide support for all our data sets. So, it is part of this project to go into details. Thanks.

[2017-05-22 06:52] rijuldhir commented on #217
I am new to FOSSASIA. Can I try this ?

[2017-05-22 09:58] jig08 commented on #217
@rijuldhir Sure !

[2017-05-31 09:23] mariobehling opened #223 "Build an analytics tool for SUSI.AI"
Metrics for conversations are different to search. An examples of a tool is botimize.io. Please propose and build an analytics tool.

[2017-06-08 08:33] mariobehling opened #224 "Add additional projects to project page"
The project area is at http://labs.fossasia.org/#projects

Please add the following projects:

* yaydoc
GitHub: https://github.com/fossasia/yaydoc
URL: http://yaydoc.fossasia.org
Mailinglist: https://groups.google.com/forum/#!forum/yaydoc
Chat: https://gitter.im/fossasia/yaydoc

* query-server
GitHub: https://github.com/fossasia/query-server
URL: https://query-server.herokuapp.com
Mailinglist: htt

[2017-06-08 09:02] abishekvashok commented on #224
@mariobehling did you really posted it here?

[2017-06-08 11:40] #224 closed

[2017-06-08 11:43] enigmaeth opened #226 "Random word appearing near Phimpme chat in project list"
![image](https://user-images.githubusercontent.com/14938154/26927026-bda6063e-4c6d-11e7-9585-d844b6aff05c.png)

[2017-06-08 11:45] mariobehling commented on #226
Thanks. Fixed.

[2017-06-08 11:45] #226 closed

[2017-06-17 12:58] GingerDragon7 commented on #218
I am interested to work in it.

[2017-06-18 22:56] mariobehling opened #227 "Add and improve Wikipedia articles on FOSSASIA"
The current Wikipedia article on FOSSASIA was too long and full of exact copies of the website and therefore was deleted. Please create a relevant Wikipedia article on FOSSASIA on Wikipedia and improve it step by step.

https://en.wikipedia.org/wiki/Draft:FOSSASIA

[2017-06-20 10:36] Harshdeep1996 commented on #223
Hi @mariobehling , I would like to contribute to this issue. What is the right way to go about it?

[2017-06-20 11:30] mariobehling commented on #223
@Harshdeep1996 Please go through [this app](http://www.botimize.io/) and propose how to integrate something similar in SUSI.AI.

[2017-06-20 13:01] Harshdeep1996 commented on #223
Right, I will go through it, and update here once I have an idea of how to go about it.

[2017-07-01 14:00] zamhaq commented on #204
Can I still try this ? Is the issue still not resolved ?

[2017-07-01 14:35] abishekvashok commented on #204
@zamhaq you are free to do so :)

[2017-07-01 14:38] zamhaq commented on #204
@abishekvashok Is there any timeline before which I need to submit the PR?
and should the design be similar to the main FOSSASIA site?

[2017-07-01 14:49] abishekvashok commented on #204
@zamhaq

No timelines in open source, you are free to take all the time in the world provided you do it and let us know that you are doing it

Yes

[2017-07-01 14:51] zamhaq commented on #204
@abishekvashok where do I contact you when I need help, this thread itself?

[2017-07-01 14:55] abishekvashok commented on #204
@zamhaq pls keep all contacts open. I am just a developer like you.

Also pls read our best practises; http://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/
That will get you started.

[2017-07-21 19:34] jigyasa-grover commented on #218
@GingerDragon7  Sure, go ahead :)

[2017-07-31 11:19] meets2tarun commented on #135
- [x] Use LXQT (Issue #??)
- [ ]  Switch off notifications
- [ ]  Switch off screensaver and sleep modus
- [ ]  Switch off system sounds (https://github.com/fossasia/meilix/pull/112)
- [x] disable bookmarks in browser (Issue #??)
- [ ] Install ownCloud/NextCloud client
-https://download.owncloud.org/download/repositories/stable/owncloud/
- [x]  install Dropbox
- [ ]  Pre-set start system without p

[2017-08-14 20:45] abhinavralhan commented on #227
Hi @mariobehling, would you like me to take this up?

[2017-08-15 06:59] mariobehling commented on #227
@abhinavralhan Would be great. The draft is here and was rejected: https://en.wikipedia.org/wiki/Draft:FOSSASIA

It needs to be improved.

[2017-08-15 07:20] abhinavralhan commented on #227
@mariobehling any suggestions to what you require?

[2017-08-15 08:00] mariobehling commented on #227
@abhinavralhan Please go to https://en.wikipedia.org/wiki/Draft:FOSSASIA and work with the Wikipedia community to improve this post, so it can get accepted. Maybe work with Wikipedians around you as well.

[2017-08-15 08:13] abhinavralhan commented on #227
Sure @mariobehling, I will get to right away.
Also, could you tell me if I become a FOSSASIA contributor/member after this? If yes, how do I add it to my profile?

[2017-08-15 10:09] mariobehling commented on #227
@abhinavralhan This question is out of scope of this issue. We have chat channels for such questions. You are a contributor if you actually start to contribute. We will invite you after a few days to the project then. Hope we can keep the discussion short. Would be great to see contributions and focus on issues. I am not able to reply to out of scope questions on issues anymore.

[2017-08-15 10:15] abhinavralhan commented on #227
@mariobehling thank you :)

[2017-08-16 14:08] abhinavralhan commented on #227
Hi @mariobehling , I made a few changes and sent it for review yesterday. If you're the one reviewing it, let me know if it needs more work. Thought I'd just inform you. Thanks.

[2017-08-16 14:15] mariobehling commented on #227
@abhinavralhan It is the Wikipedia community reviewing it and I dont know how fast they are. Would be great if you get the article online.

[2017-08-16 14:23] abhinavralhan commented on #227
@mariobehling if by getting it online you mean getting the article reviewed and accepted, I will make it happen :)

[2017-08-25 18:56] aschaudhary opened #229 "is this project still open ? I want to work on this project."

[2017-08-25 19:01] #229 closed

[2017-09-02 15:05] abhinavralhan commented on #227
@mariobehling I tried submitting it but it was rejected by 'Sulfurboy' who stated that - "This still fails notability in my opinion. Significant articles only mention the company in passing. The rest is mostly press releases."
Apologise for the late response but they take 2 weeks to respond, what do you suppose I do next?

[2017-09-02 15:28] mariobehling commented on #227
@abhinavralhan Wikipedia has their own ways to work on things. The issue here is about working with that community. If you know someone who is an active Wikipedian in your area, maybe you can work with them to resolve this as I am not an active Wikipedian. There is no discussion needed here.

[2017-09-12 13:36] zamhaq opened #230 "Chrome extension for SUSI.AI"
**What exactly the chrome extension should do?**
The chrome extension can be a chat window to the SUSI AI.

**What is the problem the extension solve or what functionality does it provide?**
The user will be able to access and chat with SUSI from any browser tabs and not having to go to the dedicated tab like when using web client. This will increase the accessibility for the users.

**Do you have

[2017-09-12 14:58] isaeef commented on #217
is this issue still open ???

[2017-09-12 20:33] mariobehling commented on #230
I am unclear what the UI looks like and how to access it. So, I am looking forward to see your idea implemented. Simply start in your own repo. Cheers.

[2017-09-19 13:28] zamhaq commented on #230
@mariobehling I have implemented basic prototype. Still a lot more work is need to be done. But you can get the general idea. Here is a screenshot.
![susiscreen](https://user-images.githubusercontent.com/20766601/30594375-6c3ebaf8-9d6b-11e7-9e62-305b01fa48d4.png)
The popup will allow to chat with SUSI from any tab without having to go to webclient for SUSI. One can use the extension if he wants si

[2017-09-19 14:35] souravsingh commented on #215
@mariobehling I would be interested in working on this.

[2017-09-20 14:27] zamhaq commented on #230
@mariobehling Please review.

[2017-09-20 15:22] mariobehling commented on #230
Great job!

Please follow up here now: https://github.com/fossasia/susi_chromebot

Also check how to get others to star the project and tweet about it with a screenshot. Cheers!

[2017-09-20 15:22] #230 closed

[2017-09-22 13:02] accakks commented on #227
@mariobehling Can I work on this if @abhinavralhan isn't working currently?

[2017-09-22 13:49] hpdang commented on #227
@accakks Sure, please go ahead. Maybe find some Wikipedians around you who have experience. It seems the draft is not merged due to some WP policies.

[2017-09-23 04:48] accakks commented on #227
@hpdang @mariobehling I have re-submitted the draft making some changes and adding more references. I'll inform you of further progress.

[2017-09-23 05:31] riktimmondal commented on #223
I will like on work on it.But the link of the app you told is see is not working.How to approach it?

[2017-09-23 07:16] mariobehling commented on #227
Thanks, but I don't think this will be accepted as there are a number of errors are now in the references and they are asking for more sources. Looks like you are adding only Melange as a source.

[2017-10-02 09:20] tabesin commented on #135
Switch off notifications is ticket #133. It does not mean de-installation of the notifications demon but killing off startup messages.
Switch off system souncs means systems sounds, not sound as such.

[2017-10-12 14:04] Subhash-Saurabh commented on #204
I am really interested in doing this and I have bit of knowledge of jekyll . Can I do this??

[2017-10-14 06:17] niccokunzmann commented on #204
Sure, if you like, please go ahead.

On 10/12/2017 04:04 PM, Subhash Saurabh wrote:

[2017-10-17 19:42] luvattri3 commented on #208
@mariobehling sir i a
m new to this app! can you can you tell me what are we trying to solve the issues here

[2017-10-19 13:30] mariobehling opened #231 "Please provide me JSON definition list of all repos and filemasks, so they can be imported to weblate"
1. OPEN EVENT
* https://github.com/fossasia/open-event-android
* https://github.com/fossasia/open-event-webapp
* https://github.com/fossasia/open-event-frontend
* https://github.com/fossasia/open-event-theme
* https://github.com/fossasia/open-event-orga-app

2. PSLAB
* https://github.com/fossasia/pslab-android

3. PHIMPME
* https://github.com/fossasia/phimpme-android

4. SUSI.AI
* https://github.c

[2017-10-19 14:12] techpool commented on #231
I would like to take this up.

[2017-10-19 14:13] ParthS007 commented on #231
I want to work on this.

[2017-10-19 14:55] vaibhavsingh97 commented on #231
I also want to work on this

[2017-10-19 15:18] tulikavijay commented on #231
I would like to work on this too.

[2017-10-19 15:25] rupav commented on #231
I too would like to work on this :)

[2017-10-19 15:27] vaibhavsingh97 commented on #231
@mariobehling Do we need to create new doc? As the doc link you provided creates untitled document

[2017-10-19 17:54] mariobehling commented on #231
Use this doc for all json files, please.

[2017-10-20 14:54] anshumanv commented on #223
@Harshdeep1996 here you go https://github.com/fossasia/susi_server

[2017-10-20 23:56] mariobehling commented on #231
Seems like a lot of people are interested in this. Each file should only take a few minutes, but it would add up for one person. So, it would be great as a community effort. Please add the JSON snippets here: https://docs.google.com/document/create?usp=drive_web&folder=0AIn_k1amQnpyUk9PVA&authuser=0

[2017-10-21 18:30] bhaveshAn commented on #231
@mariobehling Please let me know about

    "template": "",
    "new_base": "app/translations/messages.pot",
    "file_format": "po",

for `open-event-orga-server` these values were relating to `translations` directory but what about a repo which do not have `translations`
For example, for `open-event-webapp`:

src/selenium/*.js

so  can we use filemask can be : `src/*/*.js` ?

[2017-10-22 01:04] mariobehling commented on #231
In a repo that does not have translations, we need translations. Please open an issue in those repos and help to make it happen.

[2017-10-23 17:45] JPRMarketing commented on #197
We have a lot of our Google Search Appliance customers switching to Yippy Search Appliance.  It is the same technology as IBM Watson http://www.yippyinc.com/google-search-appliance-replacement

[2017-11-12 16:34] anshumanv commented on #223
Started working on a basic prototype, will post soon. :+1:

[2017-11-13 05:30] donjin-master commented on #223
hi mariobehling , i want to contribute in this issue can we add a voice command to make it more practical i am just thinking about it

[2017-11-30 12:03] abishekvashok commented on #150
Wasn't this solved? @mariobehling

[2017-11-30 12:07] #150 closed

[2017-12-02 16:50] abishekvashok commented on #146
@mariobehling repo 404, is this still needed.

[2017-12-05 12:51] 0x48piraj commented on #218
Claiming :+1:

[2017-12-07 18:35] sayak119 commented on #215
@mariobehling can I do this as a part of my Codeheat blog post along with their comparison with Alexa as I have worked with it.

[2017-12-08 19:01] sayak119 commented on #215
@mariobehling please review https://docs.google.com/document/d/1zvXwiwMozf1JE8Rng5r03YMfZymsY4lNwEmRR6CETY0/edit?usp=sharing

[2017-12-09 16:57] #221 closed

[2017-12-09 16:58] mariobehling opened #232 "Website: Avoid flickering/moving items on top menu and when scrolling over dropdown menu items"
The icons have a moving effect. Please avoid this effect and adapt it to the same way it works on http://fossasia.org

[2017-12-09 16:59] mariobehling opened #233 "Some project links are outdated"
Please check all links e.g. of open event and update the links where outdated.

[2017-12-09 16:59] mariobehling opened #234 "Add badgeyay project to project list"
Badgeyay is missing from the project menu. Please add it.

[2017-12-09 18:34] YashKumarVerma commented on #234
@mariobehling  but the link is already there in the menu i guess...

[2017-12-09 19:57] samyakbvs opened #235 "missing social links"
youtube, google+, GitHub and Flickr

Working on it

[2017-12-09 20:55] kubami9 commented on #232
Icons in the navigation? Then it's not only icons but all positions in the nav after scrolling. I can work on it 👍

[2017-12-10 04:24] abishekvashok commented on #233
working on it.

[2017-12-10 06:25] duttaditya18 commented on #232
On it!

[2017-12-10 06:46] duttaditya18 commented on #232
#239 fixes this.

[2017-12-10 11:46] #232 closed

[2017-12-10 14:06] #234 closed

[2017-12-11 08:39] #233 closed

[2017-12-13 08:37] abishekvashok commented on #231
@mariobehling is this still needed?

[2017-12-13 08:54] #231 closed

[2017-12-15 02:47] Ploypiti commented on #218
Is it still possible to claim this task

[2017-12-15 06:02] Ploypiti opened #240 "Improve readability of projects section"
### Expected results
Nicely arranged project section, improved readability, better UX.
### Actual results

**Images & Texts**
The descriptions and images in project section are messed up, eg. text and image are inseparable.

![screenshot - lab](https://user-images.githubusercontent.com/32614202/34028184-eb7ab6e8-e193-11e7-8473-b3b8711c1cca.jpg)

And the image is a way too large and was unable to r

[2017-12-15 07:19] naveentherocker opened #241 "404 Page and 500 Pages are not updated"
![image](https://user-images.githubusercontent.com/16055010/34031202-4511c064-e196-11e7-9919-bdfc30662770.png)
![image](https://user-images.githubusercontent.com/16055010/34031215-541ed222-e196-11e7-8fa6-36e308304d8f.png)

[2017-12-15 08:16] Ploypiti opened #243 "Change Header Image"
Change header image to a related image.

[2017-12-16 11:59] akshatnitd opened #245 "Fix broken link for Badgeyay image"
Correct the filename

[2017-12-16 12:01] #245 closed

[2017-12-16 13:22] mariobehling opened #247 "Fix and document button pairs with Elementor on Wordpress"
[Elementor](https://elementor.com/) is a Wordpress Plugin that helps people to develop Rich Content websites. It has a great feature to design and add buttons. However, it is tricky to configure the buttons to stay in the same size and position in different resolutions.

A https://lubuntu.net we have section with four buttons. Two buttons are set up in pairs. They look fine in standard resolutions

[2017-12-17 05:04] duttaditya18 commented on #235
Please close this!

[2017-12-17 07:58] YashKumarVerma commented on #218
@mariobehling  still open or close ?

[2017-12-17 08:20] YashKumarVerma commented on #144
claiming @mariobehling

[2017-12-17 08:41] YashKumarVerma commented on #144
XML export available here : https://github.com/YashKumarVerma/demoContent/blob/master/exportedDocs.wordpress.2017-12-17.xml

[2017-12-17 08:58] anshumanv commented on #218
@YashKumarVerma open for all, it's better if we can have more choices to select from.

[2017-12-17 09:28] 0x48piraj commented on #218
@anshumanv I have designed many mock-ups.
How can I claim the task ?
Should I post a comment in https://github.com/fossasia/jugaadfest.com/issues/3 ?

[2017-12-17 09:35] anshumanv commented on #218
Yes, please do @0x48piraj :smile:

[2017-12-17 09:44] 0x48piraj commented on #218
Chose a motto : "**Hacking via Indian Way**" :heart:

![1](https://user-images.githubusercontent.com/5800726/34078249-88e87bbe-e33c-11e7-90b6-12b115c36a08.PNG)
![2](https://user-images.githubusercontent.com/5800726/34078250-893a5510-e33c-11e7-9820-d3d08583bd40.PNG)
![3](https://user-images.githubusercontent.com/5800726/34078251-899141ea-e33c-11e7-8778-f401a1ae9bc0.PNG)
![4](https://user-images.git

[2017-12-17 09:54] anshumanv commented on #218
Cool @0x48piraj
Though I think it's `Jugaad` :wink:

[2017-12-17 09:58] 0x48piraj commented on #218
Oopsy :confounded:
I'll update the typo, as well as adding more mock-ups. :+1:
Also, will provide `.svg` exported package. Is that **OK** @anshumanv ?

[2017-12-17 09:59] anshumanv commented on #218
Awesome thanks :+1:

[2017-12-17 09:59] mariobehling commented on #144
Thanks!

Good start, but the xml only imports two articles. Please check that all GSoC and FOSSASIA articles get imported. Cheers.

[2017-12-17 10:28] mariobehling commented on #235
Github icons still not displaying.

[2017-12-17 18:03] YashKumarVerma commented on #144
sorry @mariobehling  actually i did the entire thing but while exporting, didn't check that some of the posts were drafts. now all are there 😄
![screenshot 236](https://user-images.githubusercontent.com/14032427/34082361-9fa58a04-e382-11e7-8461-d95b354d07e7.png)

[2017-12-17 18:04] YashKumarVerma commented on #144
here's the new exported file 👍
https://github.com/YashKumarVerma/demoContent/blob/master/exportFile.xml

[2017-12-18 03:01] #243 closed

[2017-12-18 08:10] YashKumarVerma commented on #144
@mariobehling

[2017-12-19 12:34] simsausaurabh opened #248 "Add pointing location in Google map and position of sidebar social icons"
This issue suggests:
 - ***Feature:***
 Clicking on location address should automatically point to the actual location on Google maps

![address](https://user-images.githubusercontent.com/16608864/34157020-c4573d5c-e4e5-11e7-8687-aa2483dc28cf.png)

 - ***Enhancement:***
Position of social link icons with copyright statement should be at bottom(footer section). It's a mere trivial to place it at bo

[2017-12-19 12:42] simsausaurabh commented on #248
@mariobehling I wan to work on it and please tell me whether I should re-position of social icons in side bar or not. Thank you.

[2017-12-19 12:53] abishekvashok commented on #135
Can we get updates here?

[2017-12-19 14:19] YashKumarVerma commented on #144
😐

[2017-12-19 16:14] mariobehling commented on #144
Good job! Well-done!

[2017-12-19 16:14] #144 closed

[2017-12-19 19:51] YashKumarVerma commented on #144
Thanks :sparkles

[2017-12-22 11:36] mariobehling commented on #135
Please follow up here: https://github.com/fossasia/meilix-generator/issues/111

[2017-12-22 11:36] #135 closed

[2017-12-22 11:38] mariobehling commented on #248
Currently, this is low priority and not urgently needed. Therefore closing it.

[2017-12-22 11:38] #248 closed

[2017-12-22 23:39] #235 closed

[2017-12-25 06:26] arjunpandey2003 opened #250 "Add link to map marker"
There is no link on the map marker, Add location link

[2017-12-25 06:26] arjunpandey2003 commented on #250
I am working on this

[2017-12-25 10:10] saarthakchats opened #252 "Social links to be added in some places"
##Working On it

[2017-12-26 19:22] mariobehling commented on #252
Actually, we should keep the FOSSASIA sites aligned and we need a lot of help for the software projects at FOSSASIA. It is unclear what specifically you want to work on. There is little information provided in this issue. Therefore these kind of issues take up resources of developers and mentors to review stuff. Instead we need to focus on our applications. Low priority. Therefore closing.

[2017-12-26 19:22] #252 closed

[2017-12-27 17:43] saarthakchats commented on #250
Please close issues when solved

[2017-12-27 17:45] saarthakchats opened #254 "Some social icons are missing and one bugged link"
# Adding them

[2017-12-28 06:55] #254 closed

[2017-12-28 19:02] #250 closed

[2017-12-31 06:48] Beta-King opened #256 "Missing links to any Hardware projects"

[2017-12-31 17:09] mariobehling commented on #256
Please see comment in issue.

[2017-12-31 17:09] #256 closed

[2018-01-01 14:22] Beta-King opened #259 "Add Hover-over text to social media icons !!"

[2018-01-02 08:11] #259 closed

[2018-01-10 17:19] 0x48piraj commented on #145
@niccokunzmann

I can jazz this website. Should I ?

[2018-01-10 17:50] 0x48piraj commented on #227
@mariobehling
I'm on it. I'll try to make a breakthrough :1st_place_medal:

[2018-01-10 18:01] 0x48piraj commented on #247
I'm tackling with this from last 20 days @mariobehling
I also posted the question to StackOverflow.

I have a workaround though. Can I tell my workaround ?

[2018-01-10 18:09] mariobehling commented on #247
Yes, please add infos for a workaround here.

[2018-01-10 18:23] 0x48piraj commented on #247
**Following workarounds came to my mind :**

* Using a single button, diving it to two parts to perform different `Onclick()`. Possible via `Javascript`, `Jquery`

* Using a slider to activate buttons.

![lubuntu_click_bug_workaround](https://user-images.githubusercontent.com/5800726/34788563-ef7b12c4-f660-11e7-95f9-2959bfb80358.gif)

* Attaching a radio button *(less preferred)*

Ping @mariobehli

[2018-01-10 22:12] 0x48piraj commented on #134
### Setup complete on **Surge** !

**_Deploy Link : [http://pr-637-fossasia-loklaksearch.surge.sh](http://pr-637-fossasia-loklaksearch.surge.sh)_**

Ping @mariobehling :heart:

[2018-01-11 16:02] abishekvashok commented on #134
@0x48piraj you need to deploy `loklak_server` and not `loklak_search`

[2018-01-11 16:13] abishekvashok commented on #218
I am not a good logo designer, but here is an input:

![drawing-1](https://user-images.githubusercontent.com/8947010/34834589-63206b90-f718-11e7-8b52-3c9a971a4459.png)

[2018-01-11 17:13] 0x48piraj commented on #134
**Setup complete on Heroku !**

**_Deploy Link : [https://loklak-piyush.herokuapp.com/](https://loklak-piyush.herokuapp.com/)_**

Ping @mariobehling :100:

[2018-01-12 05:02] YashKumarVerma commented on #218
# Logo
![image](https://user-images.githubusercontent.com/14032427/34860422-4a151e3c-f783-11e7-8817-895915757030.png)
Where do i share the editable files ?

# Asssets:
Logo SVG : http://lsppublicschool.org/yashkumarverma-host/vault/logo1.svg
Logo item svg : http://lsppublicschool.org/yashkumarverma-host/vault/raw%20background.svg

# Creation
Made with ❤️ using Inkscape.
http://lsppublicschool.org/

[2018-01-12 05:29] 0x48piraj commented on #218
@YashKumarVerma They look good! :+1:

[2018-01-12 08:58] YashKumarVerma commented on #218
@0x48piraj Just in case we needed something for the navbar 😄

[2018-01-12 09:17] 0x48piraj commented on #218
*Seeing these all Cool Designs, My inner designer was once again pumped.*

I will further improve these, if any of my designs are selected.

### The motto was devised by me "Hacking, the Indian way!" :relaxed:
*(Thanks for using it in your designs)*

Ping @mariobehling :heart_decoration:

#### Here we go -

![image](https://user-images.githubusercontent.com/5800726/34863203-25e56114-f794-11e7-9f5a

[2018-01-12 09:19] 0x48piraj commented on #217
**_Status of this issue ?_**
Ping @jigyasa-grover @mariobehling

[2018-01-12 09:21] 0x48piraj commented on #145
@mariobehling, As I got inputs from @niccokunzmann, I think the issue already has been resolved. :+1:

[2018-01-12 09:24] 0x48piraj commented on #146
Status of the issue @mariobehling ?

[2018-01-12 09:27] 0x48piraj commented on #111
I think we should close this issue and should open a new one for **labyrinth**

What do you all think @mariobehling @niccokunzmann @abishekvashok ?

[2018-01-12 09:49] 0x48piraj commented on #137
- **_# 154_**
- **_# 120_**
- **_# 100_**
- **_# 94_**
- **_# 41_**
- **_# 46_**

Ping @mariobehling :heart_decoration:

[2018-01-12 13:09] niccokunzmann commented on #111
@0x48piraj Sure, feel free to open the issue for the labyrinth.

[2018-01-12 13:09] #111 closed

[2018-01-12 13:16] 0x48piraj opened #261 "Improve the game Labyrinth"
Labyrinth is in open source game which you can contribute to.

**Objective**

Learn about how to contribute to projects on github and improve the game. We have tasks you can choose from and several issues you can solve.

**Requirements**

Choose a task or an issue and solve it.

**Expected Outcome**

Your contribution is in the [fossasia/labyrinth](https://github.com/fossasia/labyrinth) repository

[2018-01-12 13:17] 0x48piraj commented on #261
Please mark it as a `mini-project` @niccokunzmann @mariobehling :+1:

[2018-01-14 19:55] #145 closed

[2018-01-15 17:41] YoyoAnandra commented on #200
Sir, I want to participate in GSOC 2018 is this project available GSOC 2018 , I would like to work on this Project.

[2018-01-16 23:33] 0x48piraj commented on #247
Ping @mariobehling @hpdang :+1:

[2018-01-16 23:35] 0x48piraj opened #262 "Replace the image by SUSI.AI Official Logo"
Current image is good, but I think the below image should be preferred.

![](https://pbs.twimg.com/profile_images/904617517489979392/6Hff65Th.jpg)

Reviews needed - @hpdang @mariobehling @vaibhavsingh97 @ParthS007

[2018-01-16 23:40] 0x48piraj opened #263 "Add Labyrinth to the Project List"
![image](https://user-images.githubusercontent.com/5800726/35017826-b5afd942-fb44-11e7-87f6-3663a0600f01.png)

[2018-01-17 00:16] 0x48piraj commented on #240
1 month of inactivity, Taking this up :100:

[2018-01-17 12:39] #240 closed

[2018-01-17 12:39] #263 closed

[2018-01-22 01:24] vipuldcoder commented on #223
Hi, I love to contribute, how to get started

[2018-01-24 22:40] thelastpolaris commented on #198
Though I found this project was done during GSoC 2017, is still ok to work on new bots for GSoC 2018?

[2018-01-24 22:54] mariobehling commented on #198
Yes, the existing bots are not finished. A lot of works needs to be done and missing features implemented.

[2018-01-29 15:06] Donyme commented on #223
What dataset will this tool essentially analyse?Can you please be specific!

[2018-01-29 18:19] anshumanv commented on #223
@Donyme probably we can cache the api calls made to the server and depending upon those data, we can build a front-end to display the statistics.

[2018-01-30 10:45] ansh103 commented on #188
Is this issue still open? I saw a number of projects mentioning they aim to do so. Yet when I do ask SUSI for an image. It doesn't provide me with one. Clearly I asked for a pizza image and didn't get one. But it's able to give text replies. Also there are no replies on general questions like "Tell me a joke"  or "Recite me a poem". Such additional output requests should have been solved. So is it

[2018-01-30 13:44] ansh103 commented on #188
I can take up this issue. @mariobehling ?

[2018-01-30 15:15] anshumanv commented on #188
Yes, I think adding more responses can help increases SUSI's use cases @ansh103, please wait for approval from @mariobehling.

[2018-01-31 08:23] zaynkorai commented on #223
I have read this issue and done with analysis of [getbotimize](https://dashboard.getbotimize.com/summary-overview)
- There are no further details how to get start with it. Like
  - Technology Stack?
  - It will be directly connected to susi_server Api's or chat.susi.ai?
  - Repo of this project

few more details related to this issue will be really helpful to get started with it.
like design of th

[2018-01-31 08:55] anshumanv commented on #223
Hey @zaynkorai, I can add a few points. :smile:
* Have you checked out the SUSI Apps family? All of them are React front-end so mostly to keep things aligned we can have a React front-end to display the statistics/analytics to the users.
* I should be connected to the susi_server where we would be caching the api calls to perform the analysis upon, I don't think chat.susi.ai will come in the pictu

[2018-01-31 19:41] Orbiter commented on #223
Please consider to use grafana since I already implemented a grafana data endpoint in the package ai.susi.server.api.monitor. Have a look into the class MonitorQueryService which responds to time-series data queries. That class currently responds with random data to show that the data endpoint is already working.

All you need is to replace the random data with i.e. logging information. There can

[2018-01-31 19:41] Orbiter commented on #223
A second option could be maybe https://nasa.github.io/openmct/

[2018-01-31 20:51] Orbiter commented on #223
Ok, to get Susi's memories (the chat logs) just get the following object:
DAO.susi.getMemories()

Then you have a SusiMemory object which provides the getAllMemories() method.
It's not clear what to do with that now, but thats the starting point to generate a history for timeseries entries which are needed for the grafana simplejson API.

[2018-02-03 16:42] zaynkorai commented on #223
Getting hard time with grafana

[2018-02-07 07:04] Vivek1012 commented on #247
@mariobehling @hpdang

I have some work around on it, and find the solutions which could easily be implemented using the 'window resize' event of jquery.
It's an simple Html page(Index.html) which comprise of internal jquery functions, it also have test.css file, and ReadMe file for existing problem and its solution.
In this POC i tried to create buttons that exist on real site. Button_1 is what w

[2018-02-07 14:41] shubham-sr commented on #204
Is this issue still open @mariobehling ?

[2018-02-07 19:04] mariobehling commented on #204
Yes. Still open.

[2018-02-13 06:24] rahultiwari999 commented on #192
@mariobehling No deployment exists from the master branch at  http://open-event.herokuapp.com
Please check.

[2018-02-13 06:28] anshumanv commented on #192
@rahultiwari999 check https://open-event-api-dev.herokuapp.com/
Link in the ideas page needs to be updated.

[2018-02-13 10:58] harshitkhandelwal-4414802715 commented on #207
hi....I want to contribute to this project as a Gsoc project... so pls tell me where to start.

[2018-02-13 11:27] Ananthusubramanian commented on #200
@mariobehling Sir, is this project for gsoc 2018 ?, if so can I work on this project.

[2018-02-13 17:57] stealthanthrax opened #265 "Directed to wrong link on opening on clicking Susper github page under ideas"
<img width="731" alt="screen shot 2018-02-13 at 11 24 56 pm" src="https://user-images.githubusercontent.com/29942790/36165359-4feb5df2-1115-11e8-8409-3289147346c8.png">

**Code causing this error.**
Wrong link showing in the json data fetched from the API

**Would I like to work on this ?**
Yes

[2018-02-14 05:14] raju249 opened #266 "Redesign and Restructure Badgeyay backend REST API"
Hi @mariobehling ,
I would like to propose this project of redesign and restructuring bageyay backend REST API.
I would like to work on the proposal and making it module driven so that any frontend client will be able to call it's API.
Request you to mark this with a GSoC label if you find it fit as a GSoC project.

Thanks

[2018-02-14 05:40] Asutosh989 commented on #201
Hi @mariobehling, I am interested to work on this. I have cloned the repo but confused as how to include new patterns. Could you please guide me?

[2018-02-14 05:50] bhaveshAn commented on #185
Is this idea still active for GSoC 2018 ??

[2018-02-14 07:34] abishekvashok commented on #266
Basically that would be too short won't it?

[2018-02-14 07:38] raju249 commented on #266
That will depend on what we do exactly.
Make badgeyay as a library or just a rest API backend. Also we can think of some new features.
Let me know what you think.

[2018-02-15 04:39] MLPJ commented on #193
Hi @mariobehling ,
I would like to work on this project for GSOC. Am I suppose to come-up with new features for the app? Or improve the existing features?

[2018-02-16 09:46] Priya997 commented on #198
Hello sir, am interested in working on this project during gsoc2018. Please guide me through the procedure.

[2018-02-16 11:59] djmgit commented on #198
@Priya997 Hi, its great that you are interested in working on this project. Please go through susi_server code and its APIs. Also check out the already existing bots. Try to fix issues as this will help you in understanding the code better. Best of luck :)

[2018-02-16 13:48] simsausaurabh commented on #134
@mariobehling is this issue still valid ? Since loklak server is already deployed on cloud.